Studio/projects/demo_legacyCRM/xsd/demo_legacyCRM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:demo_legacyCRM_ns="http://www.convertigo.com/convertigo/projects/demo_legacyCRM" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/demo_legacyCRM">
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence>
            <xsd:element name="context" type="demo_legacyCRM_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="demo_legacyCRM_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="legacyCRMConnector__XMLizeResponseData"/>
    <xsd:complexType name="legacyCRMConnector__editClientCRMResponseData"/>
    <xsd:complexType name="legacyCRMConnector__functions_libraryResponseData"/>
    <xsd:complexType name="legacyCRMConnector__loginCRMResponseData"/>
    <xsd:complexType name="legacyCRMConnector__makecsvResponseData"/>
    <xsd:complexType name="legacyCRMConnector__refreshCRMResponseData"/>
    <xsd:element name="legacyCRMConnector__test" type="demo_legacyCRM_ns:legacyCRMConnector__testRequestData"/>
    <xsd:element name="legacyCRMConnector__testResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="demo_legacyCRM_ns:legacyCRMConnector__testResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="legacyCRMConnector__testRequestData">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="legacyCRMConnector__testResponseData"/>
    <xsd:element name="legacyCRMConnector__XMLize" type="demo_legacyCRM_ns:legacyCRMConnector__XMLizeRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="legacyCRMConnector__XMLizeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="demo_legacyCRM_ns:legacyCRMConnector__XMLizeResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="legacyCRMConnector__XMLizeRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>city</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="company" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>company</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contact" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>contact</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="street" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>street</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telephone" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>telephone</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="legacyCRMConnector__editClientCRM" type="demo_legacyCRM_ns:legacyCRMConnector__editClientCRMRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="legacyCRMConnector__editClientCRMResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="demo_legacyCRM_ns:legacyCRMConnector__editClientCRMResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="legacyCRMConnector__editClientCRMRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="no_client" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>no_client</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="company" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>company</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="street" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>street</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postalcode" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>postalcode</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="city" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>city</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="state" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>state</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telephone" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>telephone</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="contact" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>contact</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="country" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>country</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="legacyCRMConnector__functions_library" type="demo_legacyCRM_ns:legacyCRMConnector__functions_libraryRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="legacyCRMConnector__functions_libraryResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="demo_legacyCRM_ns:legacyCRMConnector__functions_libraryResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="legacyCRMConnector__functions_libraryRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:element name="legacyCRMConnector__loginCRM" type="demo_legacyCRM_ns:legacyCRMConnector__loginCRMRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="legacyCRMConnector__loginCRMResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="demo_legacyCRM_ns:legacyCRMConnector__loginCRMResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="legacyCRMConnector__loginCRMRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="as400usr" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>as400usr</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="as400pwd" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>as400pwd</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="no_client" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>no_client</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="raison_sociale" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>raison_sociale</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adresse_01" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>adresse_01</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adresse_02" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>adresse_02</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="telephone" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>telephone</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="legacyCRMConnector__makecsv" type="demo_legacyCRM_ns:legacyCRMConnector__makecsvRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="legacyCRMConnector__makecsvResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="demo_legacyCRM_ns:legacyCRMConnector__makecsvResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="legacyCRMConnector__makecsvRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:element name="legacyCRMConnector__refreshCRM" type="demo_legacyCRM_ns:legacyCRMConnector__refreshCRMRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="legacyCRMConnector__refreshCRMResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="demo_legacyCRM_ns:legacyCRMConnector__refreshCRMResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="legacyCRMConnector__refreshCRMRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
</xsd:schema>
