Studio/projects/template_SQL_jQueryWeb/xsd/template_SQL_jQueryWeb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:template_SQL_jQueryWeb_ns="http://www.convertigo.com/convertigo/projects/template_SQL_jQueryWeb" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/template_SQL_jQueryWeb">
<xsd:complexType name="ConvertigoError">
<xsd:sequence>
<xsd:element name="context" type="template_SQL_jQueryWeb_ns:ConvertigoErrorContext"/>
<xsd:element name="exception" type="xsd:string"/>
<xsd:element name="message" type="xsd:string"/>
<xsd:element name="stacktrace" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ConvertigoErrorContextVariable">
<xsd:attribute name="name" type="xsd:string"/>
<xsd:attribute name="value" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="ConvertigoErrorContext">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="template_SQL_jQueryWeb_ns:ConvertigoErrorContextVariable"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SQL_connector__Default_transaction" type="template_SQL_jQueryWeb_ns:SQL_connector__Default_transactionRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SQL_connector__Default_transactionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:SQL_connector__Default_transactionResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SQL_connector__Default_transactionRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SQL_connector__Default_transactionResponseData"/>
<xsd:complexType name="complex1342515195295StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="email_content1342515195295StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="transaction1342517811811StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:SQL_connector__insert_jos_usersResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SQL_connector__select_all_jos_users" type="template_SQL_jQueryWeb_ns:SQL_connector__select_all_jos_usersRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SQL_connector__select_all_jos_usersResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:SQL_connector__select_all_jos_usersResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SQL_connector__select_all_jos_usersRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SQL_connector__select_all_jos_usersResponseData"/>
<xsd:element name="SQL_connector__insert_jos_users" type="template_SQL_jQueryWeb_ns:SQL_connector__insert_jos_usersRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SQL_connector__insert_jos_usersResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:SQL_connector__insert_jos_usersResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SQL_connector__insert_jos_usersRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>username</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="name" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>name</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="email" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>email</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="passAlt" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>passAlt</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="alt" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>alt</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SQL_connector__insert_jos_usersResponseData">
<xsd:all>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:complexType name="transaction1342529686289StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:SQL_connector__lastInsertIdResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1342530109844StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:SQL_connector__lastInsertIdResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SQL_connector__lastInsertId" type="template_SQL_jQueryWeb_ns:SQL_connector__lastInsertIdRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SQL_connector__lastInsertIdResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:SQL_connector__lastInsertIdResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SQL_connector__lastInsertIdRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SQL_connector__lastInsertIdResponseData">
<xsd:all>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="sql_output">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
<xsd:complexType>
<xsd:attribute name="last_id" type="xsd:long"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:element name="SQL_connector__insert_jos_core_acl_aro" type="template_SQL_jQueryWeb_ns:SQL_connector__insert_jos_core_acl_aroRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SQL_connector__insert_jos_core_acl_aroResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:SQL_connector__insert_jos_core_acl_aroResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SQL_connector__insert_jos_core_acl_aroRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="user_id" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>user_id</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="user_name" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>user_name</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SQL_connector__insert_jos_core_acl_aroResponseData">
<xsd:all>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:element name="SQL_connector__insert_jos_core_acl_group_aro_map" type="template_SQL_jQueryWeb_ns:SQL_connector__insert_jos_core_acl_group_aro_mapRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SQL_connector__insert_jos_core_acl_group_aro_mapResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:SQL_connector__insert_jos_core_acl_group_aro_mapResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SQL_connector__insert_jos_core_acl_group_aro_mapRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="acl_aro_id" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>acl_aro_id</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SQL_connector__insert_jos_core_acl_group_aro_mapResponseData">
<xsd:all>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
<xsd:complexType name="transaction1342535063485StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:SQL_connector__select_jos_users_on_usernameResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SQL_connector__select_jos_users_on_email_and_username" type="template_SQL_jQueryWeb_ns:SQL_connector__select_jos_users_on_email_and_usernameRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SQL_connector__select_jos_users_on_email_and_usernameResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:SQL_connector__select_jos_users_on_email_and_usernameResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SQL_connector__select_jos_users_on_email_and_usernameRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="email" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>email</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>username</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SQL_connector__select_jos_users_on_email_and_usernameResponseData">
<xsd:all>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="sql_output">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
<xsd:complexType>
<xsd:attribute name="id" type="xsd:integer"/>
<xsd:attribute name="name" type="xsd:string"/>
<xsd:attribute name="username" type="xsd:string"/>
<xsd:attribute name="email" type="xsd:string"/>
<xsd:attribute name="password" type="xsd:string"/>
<xsd:attribute name="usertype" type="xsd:string"/>
<xsd:attribute name="block" type="xsd:integer"/>
<xsd:attribute name="sendEmail" type="xsd:integer"/>
<xsd:attribute name="gid" type="xsd:integer"/>
<xsd:attribute name="registerDate" type="xsd:dateTime"/>
<xsd:attribute name="lastvisitDate" type="xsd:dateTime"/>
<xsd:attribute name="activation" type="xsd:string"/>
<xsd:attribute name="params" type="xsd:string"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:all>
</xsd:complexType>
<xsd:element name="createJoomlaAccount" type="template_SQL_jQueryWeb_ns:createJoomlaAccountRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="createJoomlaAccountResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:createJoomlaAccountResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="createJoomlaAccountRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="password" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="email" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="name" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="createJoomlaAccountResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1342529764537StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:SQL_connector__insert_jos_core_acl_aroResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1342530118986StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:SQL_connector__lastInsertIdResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1342529779981StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:SQL_connector__lastInsertIdResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1342529663890StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:SQL_connector__insert_jos_usersResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1342529878189StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:SQL_connector__insert_jos_core_acl_group_aro_mapResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="inputVars1342530335338StepType">
<xsd:sequence>
<xsd:element minOccurs="0" name="username" type="xsd:string"/>
<xsd:element minOccurs="0" name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="complex1342535704150StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="result1342535704150StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
<xsd:complexType>
<xsd:attribute name="id" type="xsd:integer"/>
<xsd:attribute name="name" type="xsd:string"/>
<xsd:attribute name="username" type="xsd:string"/>
<xsd:attribute name="email" type="xsd:string"/>
<xsd:attribute name="password" type="xsd:string"/>
<xsd:attribute name="usertype" type="xsd:string"/>
<xsd:attribute name="block" type="xsd:integer"/>
<xsd:attribute name="sendEmail" type="xsd:integer"/>
<xsd:attribute name="gid" type="xsd:integer"/>
<xsd:attribute name="registerDate" type="xsd:dateTime"/>
<xsd:attribute name="lastvisitDate" type="xsd:dateTime"/>
<xsd:attribute name="activation" type="xsd:string"/>
<xsd:attribute name="params" type="xsd:string"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="result1342535748631StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="sequence1342532725228StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:createJoomlaAccountResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1342536616096StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:createJoomlaAccountResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1342539435222StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:createJoomlaAccountResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="createSalesForceLead" type="template_SQL_jQueryWeb_ns:createSalesForceLeadRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="createSalesForceLeadResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:createSalesForceLeadResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="createSalesForceLeadRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="lastname" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="firstname" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="email" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="createSalesForceLeadResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1342712561692StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:SF_leadConnector__add_leadResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="inputVars1342712581179StepType">
<xsd:sequence>
<xsd:element minOccurs="0" name="lastname" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstname" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="complex1344349382446StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="sequence1344349415712StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:checkAndCreateJoomlaAccountResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="complex1344349576834StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="sequence1344349536799StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:checkAndCreateJoomlaAccountResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="joomla1344349576834StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="userMessage" type="xsd:string"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="joomla1344349786626StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="inputVars1344349851581StepType">
<xsd:sequence>
<xsd:element minOccurs="0" name="username" type="xsd:string"/>
<xsd:element minOccurs="0" name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastname" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstname" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1344349786608StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:createSalesForceLeadResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="execution_result1344349382446StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="joomla" type="template_SQL_jQueryWeb_ns:joomla1344349576834StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="joomla" type="template_SQL_jQueryWeb_ns:joomla1344349786626StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="checkJoomlaAccount" type="template_SQL_jQueryWeb_ns:checkJoomlaAccountRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="checkJoomlaAccountResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:checkJoomlaAccountResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="checkJoomlaAccountRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="email" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="checkJoomlaAccountResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ko" type="template_SQL_jQueryWeb_ns:result_ko1342535783453StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1342535060023StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:SQL_connector__select_jos_users_on_email_and_usernameResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="inputVars1342535175337StepType">
<xsd:sequence>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
<xsd:element minOccurs="0" name="username" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="result_ko1342535783453StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="username" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="email" type="xsd:string">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1342539969682StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:createJoomlaAccountResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="checkAndCreateJoomlaAccount" type="template_SQL_jQueryWeb_ns:checkAndCreateJoomlaAccountRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="checkAndCreateJoomlaAccountResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:checkAndCreateJoomlaAccountResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="checkAndCreateJoomlaAccountRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="password" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="lastname" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="firstname" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="email" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="checkAndCreateJoomlaAccountResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ko" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1342535898076StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:checkJoomlaAccountResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="inputVars1342517835391StepType">
<xsd:sequence>
<xsd:element minOccurs="0" name="username" type="xsd:string"/>
<xsd:element minOccurs="0" name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastname" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstname" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1344351867514StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:createJoomlaAccountResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="joomla1344350583193StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ko" type="xsd:string"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1344350583175StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:checkAndCreateJoomlaAccountResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="joomla1344354802288StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ko" type="xsd:string"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="joomla1344350583214StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1344350583202StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:createSalesForceLeadResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="execution_result1344350583166StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="sequence1344354802216StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:checkAndCreateJoomlaAccountResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="complex1344412001982StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="sequence1344354835210StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:checkAndCreateJoomlaAccountResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="complex1344412028802StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="sequence1344411365622StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:createSalesForceLeadResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="complex1344412079683StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="getServerUrl" type="template_SQL_jQueryWeb_ns:getServerUrlRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="getServerUrlResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:getServerUrlResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="getServerUrlRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="getServerUrlResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="serverUrl" type="xsd:string">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1344516996714StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:getServerUrlResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="inputVars1344519382146StepType">
<xsd:sequence>
<xsd:element minOccurs="0" name="username" type="xsd:string"/>
<xsd:element minOccurs="0" name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastname" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstname" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1344525717966StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:createAccountsResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="generateTrialPSC" type="template_SQL_jQueryWeb_ns:generateTrialPSCRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="generateTrialPSCResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:generateTrialPSCResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="generateTrialPSCRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="email" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="generateTrialPSCResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="psc" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="pscEnc" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="createAccounts" type="template_SQL_jQueryWeb_ns:createAccountsRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="createAccountsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:createAccountsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="createAccountsRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="password" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="lastname" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="firstname" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="email" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="createAccountsResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="joomla" type="template_SQL_jQueryWeb_ns:joomla1344412001982StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="salesForce" type="template_SQL_jQueryWeb_ns:salesForce1344412028802StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="psc" type="template_SQL_jQueryWeb_ns:psc1344412079683StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="joomla1344412001982StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ko" type="xsd:string"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="psc1344412079683StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="psc" type="xsd:string"/>
<xsd:element minOccurs="0" name="pscEnc" type="xsd:string"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1344412019898StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:checkAndCreateJoomlaAccountResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1344412139925StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:generateTrialPSCResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="salesForce1344412028802StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="result_ok" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1344412047882StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="template_SQL_jQueryWeb_ns:createSalesForceLeadResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="inputVars1344350583163StepType">
<xsd:sequence>
<xsd:element minOccurs="0" name="username" type="xsd:string"/>
<xsd:element minOccurs="0" name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastname" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstname" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="checkEmail" type="template_SQL_jQueryWeb_ns:checkEmailRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="checkEmailResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="template_SQL_jQueryWeb_ns:checkEmailResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="checkEmailRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="password" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="lastname" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="firstname" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="email" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="checkEmailResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="template_SQL_jQueryWeb_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="inputVars" type="template_SQL_jQueryWeb_ns:inputVars1344435194364StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="serverUrl" type="xsd:string">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="inputVars1344435194364StepType">
<xsd:sequence>
<xsd:element minOccurs="0" name="username" type="xsd:string"/>
<xsd:element minOccurs="0" name="password" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastname" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstname" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
