6.3.x/Studio/projects/sample_refManual_siteClipper/sample_refManual_siteClipper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sample_refManual_siteClipper" targetNamespace="http://www.convertigo.com/convertigo/projects/sample_refManual_siteClipper" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sample_refManual_siteClipper_ns="http://www.convertigo.com/convertigo/projects/sample_refManual_siteClipper" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/sample_refManual_siteClipper"><xsd:include schemaLocation="sample_refManual_siteClipper.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="Google_and_blacklist__Google_com_transactionResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:Google_and_blacklist__Google_com_transactionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleReponseHeaders__Google_fr_transactionRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:GoogleReponseHeaders__Google_fr_transaction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="localhostAdminConnector__XMLizeResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:localhostAdminConnector__XMLizeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Google_com_Connector__Google_com_transactionResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:Google_com_Connector__Google_com_transactionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoanCalculator__loanSimulationResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:LoanCalculator__loanSimulationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Google_com_Connector__Google_fr_transactionRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:Google_com_Connector__Google_fr_transaction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleConnector__Google_fr_transactionRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:GoogleConnector__Google_fr_transaction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoanCalculator__XMLizeRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:LoanCalculator__XMLize">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SiteClipper__Default_transactionResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:SiteClipper__Default_transactionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConvertigoAdminConnector__connectionLocalIPRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:ConvertigoAdminConnector__connectionLocalIP">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AppleConnector__Access404PageRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:AppleConnector__Access404Page">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Google_com_Connector__Google_fr_transactionResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:Google_com_Connector__Google_fr_transactionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="localhostAdminConnector__LoginAdminResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:localhostAdminConnector__LoginAdminResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Google_and_blacklist__Google_fr_transactionResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:Google_and_blacklist__Google_fr_transactionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AppleConnector__Access404PageResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:AppleConnector__Access404PageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConvertigoAdminConnector__connectionLocalIPResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:ConvertigoAdminConnector__connectionLocalIPResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="localhostAdminConnector__LoginAdminRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:localhostAdminConnector__LoginAdmin">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="localhostAdminConnector__XMLizeRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:localhostAdminConnector__XMLize">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="USdirectoryConnector__DefaultResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:USdirectoryConnector__DefaultResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConvertigoWebSiteConnector__GoTo_ConvertigoResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:ConvertigoWebSiteConnector__GoTo_ConvertigoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleReponseHeaders__Google_fr_transactionResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:GoogleReponseHeaders__Google_fr_transactionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RequestHeadersConnector__Uri_headers_transactionRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:RequestHeadersConnector__Uri_headers_transaction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="USdirectoryConnector__DefaultRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:USdirectoryConnector__Default">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Google_com_Connector__Google_com_transactionRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:Google_com_Connector__Google_com_transaction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WhitePagesUSdirectory__SearchWhitePagesRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:WhitePagesUSdirectory__SearchWhitePages">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConvertigoWebSiteConnector__GoTo_ConvertigoRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:ConvertigoWebSiteConnector__GoTo_Convertigo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleConnector__Google_fr_transactionResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:GoogleConnector__Google_fr_transactionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RequestHeadersConnector__Uri_headers_transactionResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:RequestHeadersConnector__Uri_headers_transactionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoanCalculator__XMLizeResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:LoanCalculator__XMLizeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WhitePagesUSdirectory__SearchWhitePagesResponse">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:WhitePagesUSdirectory__SearchWhitePagesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SiteClipper__Default_transactionRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:SiteClipper__Default_transaction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Google_and_blacklist__Google_fr_transactionRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:Google_and_blacklist__Google_fr_transaction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoanCalculator__loanSimulationRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:LoanCalculator__loanSimulation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Google_and_blacklist__Google_com_transactionRequest">
    <wsdl:part name="parameters" element="sample_refManual_siteClipper_ns:Google_and_blacklist__Google_com_transaction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sample_refManual_siteClipperPortType">
    <wsdl:operation name="ConvertigoAdminConnector__connectionLocalIP">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:ConvertigoAdminConnector__connectionLocalIPRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:ConvertigoAdminConnector__connectionLocalIPResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppleConnector__Access404Page">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:AppleConnector__Access404PageRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:AppleConnector__Access404PageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertigoWebSiteConnector__GoTo_Convertigo">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:ConvertigoWebSiteConnector__GoTo_ConvertigoRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:ConvertigoWebSiteConnector__GoTo_ConvertigoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Google_and_blacklist__Google_com_transaction">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:Google_and_blacklist__Google_com_transactionRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:Google_and_blacklist__Google_com_transactionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Google_and_blacklist__Google_fr_transaction">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:Google_and_blacklist__Google_fr_transactionRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:Google_and_blacklist__Google_fr_transactionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Google_com_Connector__Google_com_transaction">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:Google_com_Connector__Google_com_transactionRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:Google_com_Connector__Google_com_transactionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Google_com_Connector__Google_fr_transaction">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:Google_com_Connector__Google_fr_transactionRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:Google_com_Connector__Google_fr_transactionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleConnector__Google_fr_transaction">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:GoogleConnector__Google_fr_transactionRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:GoogleConnector__Google_fr_transactionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleReponseHeaders__Google_fr_transaction">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:GoogleReponseHeaders__Google_fr_transactionRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:GoogleReponseHeaders__Google_fr_transactionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoanCalculator__loanSimulation">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:LoanCalculator__loanSimulationRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:LoanCalculator__loanSimulationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoanCalculator__XMLize">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:LoanCalculator__XMLizeRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:LoanCalculator__XMLizeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="localhostAdminConnector__LoginAdmin">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:localhostAdminConnector__LoginAdminRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:localhostAdminConnector__LoginAdminResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="localhostAdminConnector__XMLize">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:localhostAdminConnector__XMLizeRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:localhostAdminConnector__XMLizeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestHeadersConnector__Uri_headers_transaction">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:RequestHeadersConnector__Uri_headers_transactionRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:RequestHeadersConnector__Uri_headers_transactionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiteClipper__Default_transaction">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:SiteClipper__Default_transactionRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:SiteClipper__Default_transactionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="USdirectoryConnector__Default">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_siteClipper_ns:USdirectoryConnector__DefaultRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:USdirectoryConnector__DefaultResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhitePagesUSdirectory__SearchWhitePages">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="sample_refManual_siteClipper_ns:WhitePagesUSdirectory__SearchWhitePagesRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_siteClipper_ns:WhitePagesUSdirectory__SearchWhitePagesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sample_refManual_siteClipperSOAPBinding" type="sample_refManual_siteClipper_ns:sample_refManual_siteClipperPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConvertigoAdminConnector__connectionLocalIP">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?ConvertigoAdminConnector__connectionLocalIP"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppleConnector__Access404Page">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?AppleConnector__Access404Page"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertigoWebSiteConnector__GoTo_Convertigo">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?ConvertigoWebSiteConnector__GoTo_Convertigo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Google_and_blacklist__Google_com_transaction">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?Google_and_blacklist__Google_com_transaction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Google_and_blacklist__Google_fr_transaction">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?Google_and_blacklist__Google_fr_transaction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Google_com_Connector__Google_com_transaction">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?Google_com_Connector__Google_com_transaction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Google_com_Connector__Google_fr_transaction">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?Google_com_Connector__Google_fr_transaction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleConnector__Google_fr_transaction">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?GoogleConnector__Google_fr_transaction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleReponseHeaders__Google_fr_transaction">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?GoogleReponseHeaders__Google_fr_transaction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoanCalculator__loanSimulation">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?LoanCalculator__loanSimulation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoanCalculator__XMLize">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?LoanCalculator__XMLize"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="localhostAdminConnector__LoginAdmin">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?localhostAdminConnector__LoginAdmin"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="localhostAdminConnector__XMLize">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?localhostAdminConnector__XMLize"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestHeadersConnector__Uri_headers_transaction">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?RequestHeadersConnector__Uri_headers_transaction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiteClipper__Default_transaction">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?SiteClipper__Default_transaction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="USdirectoryConnector__Default">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_siteClipper?USdirectoryConnector__Default"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WhitePagesUSdirectory__SearchWhitePages">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="sample_refManual_siteClipper?WhitePagesUSdirectory__SearchWhitePages"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sample_refManual_siteClipper">
    <wsdl:port name="sample_refManual_siteClipperSOAP" binding="sample_refManual_siteClipper_ns:sample_refManual_siteClipperSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/sample_refManual_siteClipper/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
