Studio/projects/sampleMobileJQuery/sampleMobileJQuery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sampleMobileJQuery" targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobileJQuery" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sampleMobileJQuery_ns="http://www.convertigo.com/convertigo/projects/sampleMobileJQuery">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobileJQuery"><xsd:include schemaLocation="sampleMobileJQuery.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="LoadListRequest">
    <wsdl:part name="parameters" element="sampleMobileJQuery_ns:LoadList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoadListResponse">
    <wsdl:part name="parameters" element="sampleMobileJQuery_ns:LoadListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginRequest">
    <wsdl:part name="parameters" element="sampleMobileJQuery_ns:Login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="parameters" element="sampleMobileJQuery_ns:LoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sampleMobileJQueryPortType">
    <wsdl:operation name="LoadList">
<wsdl:documentation><![CDATA[Sample List sequence. This just returns the static list.xml data contained in the 'data' Folder Change this to anthing you want to return live data form target applications. 
]]></wsdl:documentation>
      <wsdl:input message="sampleMobileJQuery_ns:LoadListRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileJQuery_ns:LoadListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
<wsdl:documentation><![CDATA[Sample Login sequence. Change this sequence to anything enabling a Login with a user and password to the target system. The best way is to call a Login transaction.


]]></wsdl:documentation>
      <wsdl:input message="sampleMobileJQuery_ns:LoginRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileJQuery_ns:LoginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sampleMobileJQuerySOAPBinding" type="sampleMobileJQuery_ns:sampleMobileJQueryPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="LoadList">
<wsdl:documentation><![CDATA[Sample List sequence. This just returns the static list.xml data contained in the 'data' Folder Change this to anthing you want to return live data form target applications. 
]]></wsdl:documentation>
      <soap:operation soapAction="sampleMobileJQuery?LoadList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
<wsdl:documentation><![CDATA[Sample Login sequence. Change this sequence to anything enabling a Login with a user and password to the target system. The best way is to call a Login transaction.


]]></wsdl:documentation>
      <soap:operation soapAction="sampleMobileJQuery?Login"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sampleMobileJQuery">
    <wsdl:port name="sampleMobileJQuerySOAP" binding="sampleMobileJQuery_ns:sampleMobileJQuerySOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/sampleMobileJQuery/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
