Studio/projects/sampleMobileMobTV/sampleMobileMobTV.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sampleMobileMobTV" targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobileMobTV" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sampleMobileMobTV_ns="http://www.convertigo.com/convertigo/projects/sampleMobileMobTV">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobileMobTV"><xsd:include schemaLocation="sampleMobileMobTV.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="mobtvConnector__getSummaryResponse">
    <wsdl:part name="parameters" element="sampleMobileMobTV_ns:mobtvConnector__getSummaryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="mobtvConnector__getSummaryRequest">
    <wsdl:part name="parameters" element="sampleMobileMobTV_ns:mobtvConnector__getSummary">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="mobtvConnector__getProgTvResponse">
    <wsdl:part name="parameters" element="sampleMobileMobTV_ns:mobtvConnector__getProgTvResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="mobtvConnector__getProgTvRequest">
    <wsdl:part name="parameters" element="sampleMobileMobTV_ns:mobtvConnector__getProgTv">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="mobtvConnector__XMLizeRequest">
    <wsdl:part name="parameters" element="sampleMobileMobTV_ns:mobtvConnector__XMLize">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="mobtvConnector__XMLizeResponse">
    <wsdl:part name="parameters" element="sampleMobileMobTV_ns:mobtvConnector__XMLizeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sampleMobileMobTVPortType">
    <wsdl:operation name="mobtvConnector__getSummary">
<wsdl:documentation/>
      <wsdl:input message="sampleMobileMobTV_ns:mobtvConnector__getSummaryRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileMobTV_ns:mobtvConnector__getSummaryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mobtvConnector__XMLize">
<wsdl:documentation/>
      <wsdl:input message="sampleMobileMobTV_ns:mobtvConnector__XMLizeRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileMobTV_ns:mobtvConnector__XMLizeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mobtvConnector__getProgTv">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="sampleMobileMobTV_ns:mobtvConnector__getProgTvRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileMobTV_ns:mobtvConnector__getProgTvResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sampleMobileMobTVSOAPBinding" type="sampleMobileMobTV_ns:sampleMobileMobTVPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="mobtvConnector__getSummary">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobileMobTV?mobtvConnector__getSummary"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mobtvConnector__XMLize">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobileMobTV?mobtvConnector__XMLize"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mobtvConnector__getProgTv">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="sampleMobileMobTV?mobtvConnector__getProgTv"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sampleMobileMobTV">
    <wsdl:port name="sampleMobileMobTVSOAP" binding="sampleMobileMobTV_ns:sampleMobileMobTVSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/sampleMobileMobTV/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
