Studio/projects/xsd/internal/CouchDB/GetView_API.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_ApiStore_ns="http://www.convertigo.com/convertigo/projects/lib_ApiStore" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_ApiStore">
    <xsd:element name="CouchDB__GetView_API" type="lib_ApiStore_ns:CouchDB__GetView_APIRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="CouchDB__GetView_APIResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_ApiStore_ns:CouchDB__GetView_APIResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="CouchDB__GetView_APIResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_ApiStore_ns:CouchDB__GetView_APIResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CouchDB__GetView_APIRequestData">
        <xsd:sequence>
            <xsd:element name="_use_endkey_docid" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>(string) – Stop returning records when the specified document ID is reached. Optional</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="_use_startkey_docid" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>(string) – Return records starting with the specified document ID. Optional</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headers_Cache_ControlType">
        <xsd:attribute name="originalKeyName" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headers_Content_TypeType">
        <xsd:attribute name="originalKeyName" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headers_DateType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headers_ETagType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headers_ServerType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType">
        <xsd:attribute name="originalKeyName" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headersType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Cache_Control" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headers_Cache_ControlType"/>
            <xsd:element minOccurs="0" name="Content_Type" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headers_Content_TypeType"/>
            <xsd:element minOccurs="0" name="Date" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headers_DateType"/>
            <xsd:element minOccurs="0" name="ETag" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headers_ETagType"/>
            <xsd:element minOccurs="0" name="Server" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headers_ServerType"/>
            <xsd:element minOccurs="0" name="Transfer_Encoding" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_reasonPhraseType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_statusType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_statusCodeType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output__c8oMetaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="headers" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_headersType"/>
            <xsd:element minOccurs="0" name="reasonPhrase" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_reasonPhraseType"/>
            <xsd:element minOccurs="0" name="status" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_statusType"/>
            <xsd:element minOccurs="0" name="statusCode" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output__c8oMeta_statusCodeType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_offsetType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc__idType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc__revType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_descriptionType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_nameType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_typeType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_config_visibilityType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_configType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="visibility" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_config_visibilityType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_endpoint_secureType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_endpoint_urlType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_endpointType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="secure" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_endpoint_secureType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="url" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_endpoint_urlType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_docType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="_id" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc__idType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="_rev" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc__revType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="description" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_descriptionType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="name" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_nameType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="type" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_typeType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="config" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_configType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="endpoint" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_doc_endpointType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_idType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_keyType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_value_descriptionType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_valueType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="description" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_value_descriptionType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rows_itemType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="doc" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_docType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="id" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_idType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="key" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_keyType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_item_valueType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_rowsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rows_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_output_total_rowsType">
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB_connector_GetViewApi_document_couchdb_outputType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_c8oMeta" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output__c8oMetaType"/>
            <xsd:element minOccurs="0" name="offset" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_offsetType"/>
            <xsd:element minOccurs="0" name="rows" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_rowsType"/>
            <xsd:element minOccurs="0" name="total_rows" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_output_total_rowsType"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="CouchDB__GetView_APIResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="couchdb_output" type="lib_ApiStore_ns:CouchDB_connector_GetViewApi_document_couchdb_outputType"/>
            <xsd:element minOccurs="0" name="error" type="lib_ApiStore_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_ApiStore_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_ApiStore_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
