Studio/projects/sample_HelloWorld/sample_HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sample_HelloWorld" targetNamespace="http://www.convertigo.com/convertigo/projects/sample_HelloWorld" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sample_HelloWorld_ns="http://www.convertigo.com/convertigo/projects/sample_HelloWorld" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/sample_HelloWorld"><xsd:include schemaLocation="sample_HelloWorld.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="http__testResponse">
    <wsdl:part name="parameters" element="sample_HelloWorld_ns:http__testResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testResponse">
    <wsdl:part name="parameters" element="sample_HelloWorld_ns:TestHTMLResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="testRequest">
    <wsdl:part name="parameters" element="sample_HelloWorld_ns:TestHTML">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="http__testRequest">
    <wsdl:part name="parameters" element="sample_HelloWorld_ns:http__test">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sample_HelloWorldPortType">
    <wsdl:operation name="http__test">
<wsdl:documentation/>
      <wsdl:input message="sample_HelloWorld_ns:http__testRequest">
    </wsdl:input>
      <wsdl:output message="sample_HelloWorld_ns:http__testResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="sample_HelloWorld_ns:TestHTMLRequest">
    </wsdl:input>
      <wsdl:output message="sample_HelloWorld_ns:TestHTMLResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sample_HelloWorldSOAPBinding" type="sample_HelloWorld_ns:sample_HelloWorldPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="http__test">
<wsdl:documentation/>
      <soap:operation soapAction="sample_HelloWorld?http__test"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="test">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="sample_HelloWorld?TestHTML"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sample_HelloWorld">
    <wsdl:port name="sample_HelloWorldSOAP" binding="sample_HelloWorld_ns:sample_HelloWorldSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/sample_HelloWorld/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
