Studio/projects/lib_GoogleMaps/lib_GoogleMaps.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="lib_GoogleMaps" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_GoogleMaps" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_GoogleMaps_ns="http://www.convertigo.com/convertigo/projects/lib_GoogleMaps" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/lib_GoogleMaps"><xsd:include schemaLocation="lib_GoogleMaps.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="GoogleMapsApiConnector__GeoCodeByLatLngRequest">
    <wsdl:part name="parameters" element="lib_GoogleMaps_ns:GoogleMapsApiConnector__GeoCodeByLatLng">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleMapsApiConnector__GeoCodeByAddressResponse">
    <wsdl:part name="parameters" element="lib_GoogleMaps_ns:GoogleMapsApiConnector__GeoCodeByAddressResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleMapsApiConnector__GeoCodeByAddressRequest">
    <wsdl:part name="parameters" element="lib_GoogleMaps_ns:GoogleMapsApiConnector__GeoCodeByAddress">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleMapsApiConnector__GeoCodeByLatLngResponse">
    <wsdl:part name="parameters" element="lib_GoogleMaps_ns:GoogleMapsApiConnector__GeoCodeByLatLngResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="lib_GoogleMapsPortType">
    <wsdl:operation name="GoogleMapsApiConnector__GeoCodeByAddress">
<wsdl:documentation><![CDATA[Geocoding is the process of converting addresses (like "1600 Amphitheatre Parkway, Mountain View, CA") into geographic coordinates (like latitude 37.423021 and longitude -122.083739), which you can use to place markers or position the map.
]]></wsdl:documentation>
      <wsdl:input message="lib_GoogleMaps_ns:GoogleMapsApiConnector__GeoCodeByAddressRequest">
    </wsdl:input>
      <wsdl:output message="lib_GoogleMaps_ns:GoogleMapsApiConnector__GeoCodeByAddressResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleMapsApiConnector__GeoCodeByLatLng">
<wsdl:documentation><![CDATA[The term geocoding generally refers to translating a human-readable address into a location on a map. The process of doing the converse, translating a location on the map into a human-readable address, is known as reverse geocoding.



The Geocoding API supports reverse geocoding directly using the latlng parameter.
]]></wsdl:documentation>
      <wsdl:input message="lib_GoogleMaps_ns:GoogleMapsApiConnector__GeoCodeByLatLngRequest">
    </wsdl:input>
      <wsdl:output message="lib_GoogleMaps_ns:GoogleMapsApiConnector__GeoCodeByLatLngResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="lib_GoogleMapsSOAPBinding" type="lib_GoogleMaps_ns:lib_GoogleMapsPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GoogleMapsApiConnector__GeoCodeByAddress">
<wsdl:documentation><![CDATA[Geocoding is the process of converting addresses (like "1600 Amphitheatre Parkway, Mountain View, CA") into geographic coordinates (like latitude 37.423021 and longitude -122.083739), which you can use to place markers or position the map.
]]></wsdl:documentation>
      <soap:operation soapAction="lib_GoogleMaps?GoogleMapApiConnector__GeoCodeByAddress"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleMapsApiConnector__GeoCodeByLatLng">
<wsdl:documentation><![CDATA[The term geocoding generally refers to translating a human-readable address into a location on a map. The process of doing the converse, translating a location on the map into a human-readable address, is known as reverse geocoding.



The Geocoding API supports reverse geocoding directly using the latlng parameter.
]]></wsdl:documentation>
      <soap:operation soapAction="lib_GoogleMaps?GoogleMapApiConnector__GeoCodeByLatLng"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="lib_GoogleMaps">
    <wsdl:port name="lib_GoogleMapsSOAP" binding="lib_GoogleMaps_ns:lib_GoogleMapsSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/lib_GoogleMaps/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
