Studio/projects/lib_GoogleMaps/lib_GoogleMaps.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_GoogleMaps_ns="http://www.convertigo.com/convertigo/projects/lib_GoogleMaps" xmlns:tns="http://www.oorsprong.org/websamples.countryinfo" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_GoogleMaps">
<xsd:complexType name="ConvertigoErrorContext">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_GoogleMaps_ns:ConvertigoErrorContextVariable"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ConvertigoErrorContextVariable">
<xsd:attribute name="name" type="xsd:string"/>
<xsd:attribute name="value" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="ConvertigoError">
<xsd:sequence>
<xsd:element name="context" type="lib_GoogleMaps_ns:ConvertigoErrorContext"/>
<xsd:element name="exception" type="xsd:string"/>
<xsd:element name="message" type="xsd:string"/>
<xsd:element name="stacktrace" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapsConnector__ShowMapResponseData"/>
<xsd:complexType name="GoogleMapsConnector__MarkLocationResponseData"/>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_address_componentType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="long_name" type="xsd:integer"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="short_name" type="xsd:integer"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="type" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_locationType">
<xsd:sequence>
<xsd:element minOccurs="0" name="lat" type="xsd:double"/>
<xsd:element minOccurs="0" name="lng" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_viewport_southwestType">
<xsd:sequence>
<xsd:element minOccurs="0" name="lat" type="xsd:double"/>
<xsd:element minOccurs="0" name="lng" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_viewport_northeastType">
<xsd:sequence>
<xsd:element minOccurs="0" name="lat" type="xsd:double"/>
<xsd:element minOccurs="0" name="lng" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_viewportType">
<xsd:sequence>
<xsd:element minOccurs="0" name="southwest" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_viewport_southwestType"/>
<xsd:element minOccurs="0" name="northeast" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_viewport_northeastType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_bounds_southwestType">
<xsd:sequence>
<xsd:element minOccurs="0" name="lat" type="xsd:double"/>
<xsd:element minOccurs="0" name="lng" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_bounds_northeastType">
<xsd:sequence>
<xsd:element minOccurs="0" name="lat" type="xsd:double"/>
<xsd:element minOccurs="0" name="lng" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_boundsType">
<xsd:sequence>
<xsd:element minOccurs="0" name="southwest" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_bounds_southwestType"/>
<xsd:element minOccurs="0" name="northeast" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_bounds_northeastType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometryType">
<xsd:sequence>
<xsd:element minOccurs="0" name="location" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_locationType"/>
<xsd:element minOccurs="0" name="location_type" type="xsd:string"/>
<xsd:element minOccurs="0" name="viewport" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_viewportType"/>
<xsd:element minOccurs="0" name="bounds" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometry_boundsType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_resultType">
<xsd:sequence>
<xsd:element minOccurs="0" name="type" type="xsd:string"/>
<xsd:element minOccurs="0" name="formatted_address" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="address_component" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_address_componentType"/>
<xsd:element minOccurs="0" name="geometry" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_result_geometryType"/>
<xsd:element minOccurs="0" name="partial_match" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponseType">
<xsd:sequence>
<xsd:element minOccurs="0" name="status" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponse_resultType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapsApiConnector__GeoCodeByAddressResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="GeocodeResponse" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByAddress_document_GeocodeResponseType"/>
<xsd:element minOccurs="0" name="error" type="lib_GoogleMaps_ns:ConvertigoError"/>
</xsd:sequence>
<xsd:attribute name="connector" type="xsd:string"/>
<xsd:attribute name="context" type="xsd:string"/>
<xsd:attribute name="contextId" type="xsd:string"/>
<xsd:attribute name="fromcache" type="xsd:boolean"/>
<xsd:attribute name="generated" type="xsd:string"/>
<xsd:attribute name="project" type="xsd:string"/>
<xsd:attribute name="sequence" type="xsd:string"/>
<xsd:attribute name="signature" type="xsd:long"/>
<xsd:attribute name="transaction" type="xsd:string"/>
<xsd:attribute name="version" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_result_address_componentType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="long_name" type="xsd:integer"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="short_name" type="xsd:integer"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="type" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_result_geometry_locationType">
<xsd:sequence>
<xsd:element minOccurs="0" name="lat" type="xsd:double"/>
<xsd:element minOccurs="0" name="lng" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_result_geometry_viewport_southwestType">
<xsd:sequence>
<xsd:element minOccurs="0" name="lat" type="xsd:double"/>
<xsd:element minOccurs="0" name="lng" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_result_geometry_viewport_northeastType">
<xsd:sequence>
<xsd:element minOccurs="0" name="lat" type="xsd:double"/>
<xsd:element minOccurs="0" name="lng" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_result_geometry_viewportType">
<xsd:sequence>
<xsd:element minOccurs="0" name="southwest" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_result_geometry_viewport_southwestType"/>
<xsd:element minOccurs="0" name="northeast" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_result_geometry_viewport_northeastType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_result_geometryType">
<xsd:sequence>
<xsd:element minOccurs="0" name="location" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_result_geometry_locationType"/>
<xsd:element minOccurs="0" name="location_type" type="xsd:string"/>
<xsd:element minOccurs="0" name="viewport" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_result_geometry_viewportType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_resultType">
<xsd:sequence>
<xsd:element minOccurs="0" name="type" type="xsd:string"/>
<xsd:element minOccurs="0" name="formatted_address" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="address_component" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_result_address_componentType"/>
<xsd:element minOccurs="0" name="geometry" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_result_geometryType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponseType">
<xsd:sequence>
<xsd:element minOccurs="0" name="status" type="xsd:string"/>
<xsd:element minOccurs="0" name="result" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponse_resultType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleMapsApiConnector__GeoCodeByLatLngResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="GeocodeResponse" type="lib_GoogleMaps_ns:GoogleMapApiConnector_GeoCodeByLatLng_document_GeocodeResponseType"/>
<xsd:element minOccurs="0" name="error" type="lib_GoogleMaps_ns:ConvertigoError"/>
</xsd:sequence>
<xsd:attribute name="connector" type="xsd:string"/>
<xsd:attribute name="context" type="xsd:string"/>
<xsd:attribute name="contextId" type="xsd:string"/>
<xsd:attribute name="fromcache" type="xsd:boolean"/>
<xsd:attribute name="generated" type="xsd:string"/>
<xsd:attribute name="project" type="xsd:string"/>
<xsd:attribute name="sequence" type="xsd:string"/>
<xsd:attribute name="signature" type="xsd:long"/>
<xsd:attribute name="transaction" type="xsd:string"/>
<xsd:attribute name="version" type="xsd:string"/>
</xsd:complexType>
<xsd:element name="GoogleMapsApiConnector__GeoCodeByAddress" type="lib_GoogleMaps_ns:GoogleMapsApiConnector__GeoCodeByAddressRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[Geocoding is the process of converting addresses (like "1600 Amphitheatre Parkway, Mountain View, CA") into geographic coordinates (like latitude 37.423021 and longitude -122.083739), which you can use to place markers or position the map.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GoogleMapsApiConnector__GeoCodeByAddressResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_GoogleMaps_ns:GoogleMapsApiConnector__GeoCodeByAddressResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="GoogleMapsApiConnector__GeoCodeByAddressRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[Geocoding is the process of converting addresses (like "1600 Amphitheatre Parkway, Mountain View, CA") into geographic coordinates (like latitude 37.423021 and longitude -122.083739), which you can use to place markers or position the map.
]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="sensor" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>sensor</xsd:appinfo>
<xsd:documentation><![CDATA[Indicates whether or not the geocoding request comes from a device with a location sensor. This value must be either true or false
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Location" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Location</xsd:appinfo>
<xsd:documentation><![CDATA[Specify here a 'Google Compatible' address. This can be any like 'San Francisco', or 'Market street, San Francisco'
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="GoogleMapsApiConnector__GeoCodeByLatLng" type="lib_GoogleMaps_ns:GoogleMapsApiConnector__GeoCodeByLatLngRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[The term geocoding generally refers to translating a human-readable address into a location on a map. The process of doing the converse, translating a location on the map into a human-readable address, is known as reverse geocoding.



The Geocoding API supports reverse geocoding directly using the latlng parameter.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GoogleMapsApiConnector__GeoCodeByLatLngResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_GoogleMaps_ns:GoogleMapsApiConnector__GeoCodeByLatLngResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="GoogleMapsApiConnector__GeoCodeByLatLngRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[The term geocoding generally refers to translating a human-readable address into a location on a map. The process of doing the converse, translating a location on the map into a human-readable address, is known as reverse geocoding.



The Geocoding API supports reverse geocoding directly using the latlng parameter.
]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="LatLng" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Location</xsd:appinfo>
<xsd:documentation><![CDATA[Specify here a Lat Lng Parameter in the form <lat>,<lng> such as "48.8343840,2.3084275"
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="sensor" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>sensor</xsd:appinfo>
<xsd:documentation><![CDATA[Indicates whether or not the geocoding request comes from a device with a location sensor. This value must be either true or false
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="GoogleMapsConnector__MarkLocation" type="lib_GoogleMaps_ns:GoogleMapsConnector__MarkLocationRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[Call this transaction to mark a new location on the current map.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GoogleMapsConnector__MarkLocationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_GoogleMaps_ns:GoogleMapsConnector__MarkLocationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="GoogleMapsConnector__MarkLocationRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[Call this transaction to mark a new location on the current map.
]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Location" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Location</xsd:appinfo>
<xsd:documentation><![CDATA[Specify here a 'Google Compatible' address. This can be any like 'San Francisco', or 'Market street, San Francisco'
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Tooltip" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Tooltip to be shown</xsd:appinfo>
<xsd:documentation><![CDATA[This is the tooltip that will be shown on the map
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="GoogleMapsConnector__ShowMap" type="lib_GoogleMaps_ns:GoogleMapsConnector__ShowMapRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[This is the first transaction to call. It will result in displaying a GoogleMaps widget centered on the location provided, with the specified parameters.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GoogleMapsConnector__ShowMapResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_GoogleMaps_ns:GoogleMapsConnector__ShowMapResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="GoogleMapsConnector__ShowMapRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[This is the first transaction to call. It will result in displaying a GoogleMaps widget centered on the location provided, with the specified parameters.
]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Height" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Widget height</xsd:appinfo>
<xsd:documentation><![CDATA[Height in Pixels
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Location" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Location</xsd:appinfo>
<xsd:documentation><![CDATA[Specify here a 'Google Compatible' address. This can be any like 'San Francisco', or 'Market street, San Francisco'
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Zoom" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Zoom factor</xsd:appinfo>
<xsd:documentation><![CDATA[Zoom factor to be used

]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
