Studio/projects/lib_Yammer/xsd/internal/Yammer/Search.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_Yammer_ns="http://www.convertigo.com/convertigo/projects/lib_Yammer" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_Yammer">
    <xsd:element name="Yammer__Search" type="lib_Yammer_ns:Yammer__SearchRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[The Search API returns information from a keyword, it can be a theme or an nameid. It lets you implement most of what shows up when you do a search in the top right box on Yammer.com.



Use the Search API to find message or people using keywords, company, name, or other criteria. It returns a list of matching member users or messages. Each entry can contain much of the information available on the users profile page or on the details of the messages.










]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="Yammer__SearchRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[The Search API returns information from a keyword, it can be a theme or an nameid. It lets you implement most of what shows up when you do a search in the top right box on Yammer.com.



Use the Search API to find message or people using keywords, company, name, or other criteria. It returns a list of matching member users or messages. Each entry can contain much of the information available on the users profile page or on the details of the messages.










]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="search" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>The keyword field</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="page" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Only 20 results of each type will be returned for each page, but a total count is returned with each query. page=1 (the default) will return items 1-20, page=2 will return items 21-30, etc. </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="num_per_page" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>This allows you to limit the number of results of each type per page, up to a maximum of 20, the default value. </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Yammer__SearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Yammer_ns:Yammer__SearchResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Yammer__SearchResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="response" type="lib_Yammer_ns:Yammer_Search_document_responseType"/>
            <xsd:element minOccurs="0" name="error" type="lib_Yammer_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_responseType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="groups" type="xsd:string"/>
            <xsd:element minOccurs="0" name="messages" type="lib_Yammer_ns:Yammer_Search_document_response_messagesType"/>
            <xsd:element minOccurs="0" name="topics" type="xsd:string"/>
            <xsd:element minOccurs="0" name="count" type="lib_Yammer_ns:Yammer_Search_document_response_countType"/>
            <xsd:element minOccurs="0" name="users" type="lib_Yammer_ns:Yammer_Search_document_response_usersType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_messagesType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="messages" type="xsd:string"/>
            <xsd:element minOccurs="0" name="meta" type="lib_Yammer_ns:Yammer_Search_document_response_messages_metaType"/>
            <xsd:element minOccurs="0" name="references" type="xsd:string"/>
            <xsd:element minOccurs="0" name="threaded-extended" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_messages_metaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="show-billing-banner" type="lib_Yammer_ns:Yammer_Search_document_response_messages_meta_show-billing-bannerType"/>
            <xsd:element minOccurs="0" name="requested-poll-interval" type="xsd:byte"/>
            <xsd:element minOccurs="0" name="ymodules" type="xsd:string"/>
            <xsd:element minOccurs="0" name="current-user-id" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_messages_meta_show-billing-bannerType">
        <xsd:attribute name="nil" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_countType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="groups" type="xsd:byte"/>
            <xsd:element minOccurs="0" name="messages" type="xsd:byte"/>
            <xsd:element minOccurs="0" name="topics" type="xsd:byte"/>
            <xsd:element minOccurs="0" name="users" type="xsd:byte"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_usersType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="user" type="lib_Yammer_ns:Yammer_Search_document_response_users_userType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_userType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="expertise" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_expertiseType"/>
            <xsd:element minOccurs="0" name="kids-names" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_kids-namesType"/>
            <xsd:element minOccurs="0" name="type" type="xsd:string"/>
            <xsd:element minOccurs="0" name="web-url" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="guid" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_guidType"/>
            <xsd:element minOccurs="0" name="mugshot-url" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="network-id" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="stats" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_statsType"/>
            <xsd:element minOccurs="0" name="birth-date" type="xsd:string"/>
            <xsd:element minOccurs="0" name="interests" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_interestsType"/>
            <xsd:element minOccurs="0" name="location" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_locationType"/>
            <xsd:element minOccurs="0" name="significant-other" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_significant-otherType"/>
            <xsd:element minOccurs="0" name="hire-date" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_hire-dateType"/>
            <xsd:element minOccurs="0" name="url" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="full-name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="state" type="xsd:string"/>
            <xsd:element minOccurs="0" name="summary" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_summaryType"/>
            <xsd:element minOccurs="0" name="can-broadcast" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="verified-admin" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="timezone" type="xsd:string"/>
            <xsd:element minOccurs="0" name="name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="external-urls" type="xsd:string"/>
            <xsd:element minOccurs="0" name="network-domains" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_network-domainsType"/>
            <xsd:element minOccurs="0" name="id" type="xsd:integer"/>
            <xsd:element minOccurs="0" name="contact" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_contactType"/>
            <xsd:element minOccurs="0" name="schools" type="xsd:string"/>
            <xsd:element minOccurs="0" name="previous-companies" type="xsd:string"/>
            <xsd:element minOccurs="0" name="admin" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="network-name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="job-title" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_expertiseType">
        <xsd:attribute name="nil" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_kids-namesType">
        <xsd:attribute name="nil" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_guidType">
        <xsd:attribute name="nil" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_statsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="following" type="xsd:byte"/>
            <xsd:element minOccurs="0" name="updates" type="xsd:byte"/>
            <xsd:element minOccurs="0" name="followers" type="xsd:byte"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_interestsType">
        <xsd:attribute name="nil" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_locationType">
        <xsd:attribute name="nil" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_significant-otherType">
        <xsd:attribute name="nil" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_hire-dateType">
        <xsd:attribute name="nil" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_summaryType">
        <xsd:attribute name="nil" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_network-domainsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="network-domain" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_contactType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="im" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_contact_imType"/>
            <xsd:element minOccurs="0" name="email-addresses" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_contact_email-addressesType"/>
            <xsd:element minOccurs="0" name="phone-numbers" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_contact_imType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="provider" type="xsd:string"/>
            <xsd:element minOccurs="0" name="username" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_contact_email-addressesType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="email-address" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_contact_email-addresses_email-addressType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Yammer_Search_document_response_users_user_contact_email-addresses_email-addressType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="type" type="xsd:string"/>
            <xsd:element minOccurs="0" name="address" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Yammer__SearchResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_Yammer_ns:Yammer__SearchResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_Yammer_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_Yammer_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
