Studio/projects/sample_documentation_CWC/sample_documentation_CWC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sample_documentation_CWC" targetNamespace="http://www.convertigo.com/convertigo/projects/sample_documentation_CWC" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:sample_documentation_CWC_ns="http://www.convertigo.com/convertigo/projects/sample_documentation_CWC" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/sample_documentation_CWC"><xsd:include schemaLocation="sample_documentation_CWC.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="GoogleConnector__GoGoogleComRequest">
    <wsdl:part name="parameters" element="sample_documentation_CWC_ns:GoogleConnector__GoGoogleCom">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleConnector__SearchGoogleClipRequest">
    <wsdl:part name="parameters" element="sample_documentation_CWC_ns:GoogleConnector__SearchGoogleClip">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleConnector__GoGoogleComResponse">
    <wsdl:part name="parameters" element="sample_documentation_CWC_ns:GoogleConnector__GoGoogleComResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleConnector__XMLizeResponse">
    <wsdl:part name="parameters" element="sample_documentation_CWC_ns:GoogleConnector__XMLizeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleConnector__SearchGoogleClipResponse">
    <wsdl:part name="parameters" element="sample_documentation_CWC_ns:GoogleConnector__SearchGoogleClipResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleConnector__XMLizeRequest">
    <wsdl:part name="parameters" element="sample_documentation_CWC_ns:GoogleConnector__XMLize">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sample_documentation_CWCPortType">
    <wsdl:operation name="GoogleConnector__GoGoogleCom">
<wsdl:documentation/>
      <wsdl:input message="sample_documentation_CWC_ns:GoogleConnector__GoGoogleComRequest">
    </wsdl:input>
      <wsdl:output message="sample_documentation_CWC_ns:GoogleConnector__GoGoogleComResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleConnector__SearchGoogleClip">
<wsdl:documentation/>
      <wsdl:input message="sample_documentation_CWC_ns:GoogleConnector__SearchGoogleClipRequest">
    </wsdl:input>
      <wsdl:output message="sample_documentation_CWC_ns:GoogleConnector__SearchGoogleClipResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleConnector__XMLize">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="sample_documentation_CWC_ns:GoogleConnector__XMLizeRequest">
    </wsdl:input>
      <wsdl:output message="sample_documentation_CWC_ns:GoogleConnector__XMLizeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sample_documentation_CWCSOAPBinding" type="sample_documentation_CWC_ns:sample_documentation_CWCPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GoogleConnector__GoGoogleCom">
<wsdl:documentation/>
      <soap:operation soapAction="sample_documentation_CWC?GoogleConnector__GoGoogleCom"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleConnector__SearchGoogleClip">
<wsdl:documentation/>
      <soap:operation soapAction="sample_documentation_CWC?GoogleConnector__SearchGoogleClip"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleConnector__XMLize">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="sample_documentation_CWC?GoogleConnector__XMLize"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sample_documentation_CWC">
    <wsdl:port name="sample_documentation_CWCSOAP" binding="sample_documentation_CWC_ns:sample_documentation_CWCSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/sample_documentation_CWC/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
