Studio/projects/sampleMobileRssNYTimes/sampleMobileRssNYTimes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sampleMobileRssNYTimes_ns="http://www.convertigo.com/convertigo/projects/sampleMobileRssNYTimes" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobileRssNYTimes">
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence>
            <xsd:element name="context" type="sampleMobileRssNYTimes_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="sampleMobileRssNYTimes_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="WEB_NYTTypes">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sampleMobileRssNYTimes_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="GroupTable" type="sampleMobileRssNYTimes_ns:GroupTableTableType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MenuTable" type="sampleMobileRssNYTimes_ns:MenuTableTableType"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="menu_MenuTableRowType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="group" type="xsd:string"/>
            <xsd:element minOccurs="0" name="title" type="xsd:string"/>
            <xsd:element minOccurs="0" name="feed" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MenuTableTableType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="menu" type="sampleMobileRssNYTimes_ns:menu_MenuTableRowType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="sub_menu" type="sampleMobileRssNYTimes_ns:sub_menu_MenuTableRowType"/>
        </xsd:sequence>
        <xsd:attribute name="referer" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="GroupTableTableType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="group" type="sampleMobileRssNYTimes_ns:group_GroupTableRowType"/>
        </xsd:sequence>
        <xsd:attribute name="referer" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="sub_menu_MenuTableRowType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="title" type="xsd:string"/>
            <xsd:element minOccurs="0" name="feed" type="xsd:string"/>
            <xsd:element minOccurs="0" name="item_title" type="xsd:string"/>
            <xsd:element minOccurs="0" name="item_feed" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FEEDS_NYT_getFeed_document_rss_channel_imageType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="title" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="url" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="link" type="xsd:anyURI"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FEEDS_NYT_getFeed_document_rss_channel_linkType">
        <xsd:attribute name="href" type="xsd:anyURI"/>
        <xsd:attribute name="rel" type="xsd:anyURI"/>
        <xsd:attribute name="type" type="xsd:anyURI"/>
    </xsd:complexType>
    <xsd:complexType name="FEEDS_NYT_getFeed_document_rss_channel_item_guidType">
        <xsd:attribute name="isPermaLink" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="FEEDS_NYT_getFeed_document_rss_channel_item_linkType">
        <xsd:attribute name="href" type="xsd:anyURI"/>
        <xsd:attribute name="rel" type="xsd:anyURI"/>
    </xsd:complexType>
    <xsd:complexType name="FEEDS_NYT_getFeed_document_rss_channel_item_contentType">
        <xsd:attribute name="height" type="xsd:byte"/>
        <xsd:attribute name="medium" type="xsd:anyURI"/>
        <xsd:attribute name="url" type="xsd:anyURI"/>
        <xsd:attribute name="width" type="xsd:byte"/>
    </xsd:complexType>
    <xsd:complexType name="FEEDS_NYT_getFeed_document_rss_channel_item_categoryType">
        <xsd:attribute name="domain" type="xsd:anyURI"/>
    </xsd:complexType>
    <xsd:complexType name="FEEDS_NYT_getFeed_document_rss_channel_itemType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="title" type="xsd:anyURI"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="xsd:anyURI"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="origLink" type="xsd:anyURI"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="guid" type="sampleMobileRssNYTimes_ns:FEEDS_NYT_getFeed_document_rss_channel_item_guidType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="sampleMobileRssNYTimes_ns:FEEDS_NYT_getFeed_document_rss_channel_item_linkType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="content" type="sampleMobileRssNYTimes_ns:FEEDS_NYT_getFeed_document_rss_channel_item_contentType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="description" type="xsd:anyURI"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="credit" type="xsd:anyURI"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="description" type="xsd:anyURI"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="creator" type="xsd:anyURI"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="pubDate" type="xsd:anyURI"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="category" type="sampleMobileRssNYTimes_ns:FEEDS_NYT_getFeed_document_rss_channel_item_categoryType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FEEDS_NYT_getFeed_document_rss_channelType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="title" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="link" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="description" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="language" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="copyright" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="lastBuildDate" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="image" type="sampleMobileRssNYTimes_ns:FEEDS_NYT_getFeed_document_rss_channel_imageType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="sampleMobileRssNYTimes_ns:FEEDS_NYT_getFeed_document_rss_channel_linkType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="sampleMobileRssNYTimes_ns:FEEDS_NYT_getFeed_document_rss_channel_itemType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FEEDS_NYT_getFeed_document_rssType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="channel" type="sampleMobileRssNYTimes_ns:FEEDS_NYT_getFeed_document_rss_channelType"/>
        </xsd:sequence>
        <xsd:attribute name="version" type="xsd:double"/>
    </xsd:complexType>
    <xsd:complexType name="FEEDS_NYT__getFeedResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="rss" type="sampleMobileRssNYTimes_ns:FEEDS_NYT_getFeed_document_rssType"/>
            <xsd:element minOccurs="0" name="error" type="sampleMobileRssNYTimes_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:anyURI"/>
        <xsd:attribute name="context" type="xsd:anyURI"/>
        <xsd:attribute name="contextId" type="xsd:anyURI"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:anyURI"/>
        <xsd:attribute name="project" type="xsd:anyURI"/>
        <xsd:attribute name="sequence" type="xsd:anyURI"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:anyURI"/>
        <xsd:attribute name="version" type="xsd:anyURI"/>
    </xsd:complexType>
    <xsd:element name="FEEDS_NYT__getFeed" type="sampleMobileRssNYTimes_ns:FEEDS_NYT__getFeedRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="FEEDS_NYT__getFeedResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sampleMobileRssNYTimes_ns:FEEDS_NYT__getFeedResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="FEEDS_NYT__getFeedRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="_OVER__ConnectionString" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="WEB_NYT__getFeeds" type="sampleMobileRssNYTimes_ns:WEB_NYT__getFeedsRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="WEB_NYT__getFeedsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sampleMobileRssNYTimes_ns:WEB_NYT__getFeedsResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="WEB_NYT__getFeedsRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="WEB_NYT__getFeedsResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sampleMobileRssNYTimes_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="GroupTable" type="sampleMobileRssNYTimes_ns:GroupTableTableType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MenuTable" type="sampleMobileRssNYTimes_ns:MenuTableTableType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getAndStoreFeeds" type="sampleMobileRssNYTimes_ns:getAndStoreFeedsRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="getAndStoreFeedsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sampleMobileRssNYTimes_ns:getAndStoreFeedsResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAndStoreFeedsRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="getAndStoreFeedsResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sampleMobileRssNYTimes_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="GroupTable" type="sampleMobileRssNYTimes_ns:GroupTableTableType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="MenuTable" type="sampleMobileRssNYTimes_ns:MenuTableTableType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1314882200909StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sampleMobileRssNYTimes_ns:WEB_NYT__getFeedsResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getAndStoreFeedsTree" type="sampleMobileRssNYTimes_ns:getAndStoreFeedsTreeRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="getAndStoreFeedsTreeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sampleMobileRssNYTimes_ns:getAndStoreFeedsTreeResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getAndStoreFeedsTreeRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="getAndStoreFeedsTreeResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sampleMobileRssNYTimes_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="items" type="sampleMobileRssNYTimes_ns:items1314396000549StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="items1314396000549StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="title" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="type" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="items" type="sampleMobileRssNYTimes_ns:items1314618072055StepType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1314886601112StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sampleMobileRssNYTimes_ns:getSubFeedsTreeResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getFeed" type="sampleMobileRssNYTimes_ns:getFeedRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="getFeedResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sampleMobileRssNYTimes_ns:getFeedResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getFeedRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="feedURL" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getFeedResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sampleMobileRssNYTimes_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="sampleMobileRssNYTimes_ns:FEEDS_NYT_getFeed_document_rss_channel_itemType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1314613098211StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sampleMobileRssNYTimes_ns:FEEDS_NYT__getFeedResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="getSubFeedsTree" type="sampleMobileRssNYTimes_ns:getSubFeedsTreeRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="getSubFeedsTreeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sampleMobileRssNYTimes_ns:getSubFeedsTreeResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="getSubFeedsTreeRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="groupTitle" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="getSubFeedsTreeResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sampleMobileRssNYTimes_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="items" type="sampleMobileRssNYTimes_ns:items1314618072055StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="items1314618072710StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="title" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="feed" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="type" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="leaf" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="items1314618072335StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="title" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="feed" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="type" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="items" type="sampleMobileRssNYTimes_ns:items1314885355903StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="items" type="sampleMobileRssNYTimes_ns:items1314618072710StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="leaf" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="items1314885355903StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="title" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="feed" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="type" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="leaf" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="items1314618072055StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="title" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="feed" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="type" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="items" type="sampleMobileRssNYTimes_ns:items1314618072335StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="leaf" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="loadFeedsTree" type="sampleMobileRssNYTimes_ns:loadFeedsTreeRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="loadFeedsTreeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sampleMobileRssNYTimes_ns:loadFeedsTreeResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="loadFeedsTreeRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="offline" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="loadFeedsTreeResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sampleMobileRssNYTimes_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="items" type="sampleMobileRssNYTimes_ns:items1314396000549StepType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1314889250210StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sampleMobileRssNYTimes_ns:getAndStoreFeedsTreeResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1314889190245StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sampleMobileRssNYTimes_ns:getAndStoreFeedsResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
