6.3.x/Studio/projects/lib_Yammer/lib_Yammer.temp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_Yammer_ns="http://www.convertigo.com/convertigo/projects/lib_Yammer" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_Yammer">
<xsd:complexType name="ConvertigoError">
<xsd:sequence>
<xsd:element name="context" type="lib_Yammer_ns:ConvertigoErrorContext"/>
<xsd:element name="exception" type="xsd:string"/>
<xsd:element name="message" type="xsd:string"/>
<xsd:element name="stacktrace" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ConvertigoErrorContextVariable">
<xsd:attribute name="name" type="xsd:string"/>
<xsd:attribute name="value" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="ConvertigoErrorContext">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_Yammer_ns:ConvertigoErrorContextVariable"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer__GetOAuthTokenResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="Token" type="xsd:string"/>
<xsd:element minOccurs="0" name="error" type="lib_Yammer_ns:ConvertigoError"/>
</xsd:sequence>
<xsd:attribute name="connector" type="xsd:string"/>
<xsd:attribute name="context" type="xsd:string"/>
<xsd:attribute name="contextId" type="xsd:string"/>
<xsd:attribute name="fromcache" type="xsd:boolean"/>
<xsd:attribute name="generated" type="xsd:string"/>
<xsd:attribute name="project" type="xsd:string"/>
<xsd:attribute name="sequence" type="xsd:string"/>
<xsd:attribute name="signature" type="xsd:long"/>
<xsd:attribute name="transaction" type="xsd:string"/>
<xsd:attribute name="version" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="Yammer__VerifyOAuthTokenResponseData"/>
<xsd:complexType name="transaction1295691094775StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Yammer_ns:Yammer__SearchResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="LinkedIn_SearchPeople_document_people-search_people_personType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="id" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="first-name" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="last-name" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="LinkedIn_SearchPeople_document_people-search_peopleType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="person" type="lib_Yammer_ns:LinkedIn_SearchPeople_document_people-search_people_personType"/>
</xsd:sequence>
<xsd:attribute name="count" type="xsd:byte"/>
<xsd:attribute name="start" type="xsd:byte"/>
<xsd:attribute name="total" type="xsd:byte"/>
</xsd:complexType>
<xsd:complexType name="LinkedIn_SearchPeople_document_people-searchType">
<xsd:sequence>
<xsd:element minOccurs="0" name="people" type="lib_Yammer_ns:LinkedIn_SearchPeople_document_people-search_peopleType"/>
<xsd:element minOccurs="0" name="num-results" type="xsd:integer"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1295694916011StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Yammer_ns:Yammer__SearchResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1295715465022StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Yammer_ns:Yammer__SearchResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1295717245791StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Yammer_ns:Yammer__SearchResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:group name="LinkedInHtmlTypes">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="lib_Yammer_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="PinCode" type="lib_Yammer_ns:PinCodeTextType"/>
</xsd:sequence>
</xsd:group>
<xsd:complexType name="YammerHtml__AuthenticateResponseData">
<xsd:sequence>
<xsd:group minOccurs="0" ref="lib_Yammer_ns:YammerHtmlTypes"/>
</xsd:sequence>
</xsd:complexType>
<xsd:group name="YammerHtmlTypes">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="lib_Yammer_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="PinCode" type="lib_Yammer_ns:PinCodeTextType"/>
</xsd:sequence>
</xsd:group>
<xsd:complexType name="PinCodeTextType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="referer" type="xsd:string" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="LoginResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="transaction" type="lib_Yammer_ns:transaction1295683265412StepType">
<xsd:annotation>
<xsd:documentation><![CDATA[Authenticate with Yammer
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1295683265412StepType">
<xsd:annotation>
<xsd:documentation><![CDATA[Authenticate with Yammer
]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Yammer_ns:YammerHtml__AuthenticateResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[This transaction will use the User and Password variables provided to Authenticate to Yammer. As we use the OAuth protocol, LinkedIn will respond with a PinCode this transaction retreives to be verified by the OAuth protocol.


]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1295682686491StepType">
<xsd:annotation>
<xsd:documentation><![CDATA[Initiate the OAuth protocol flow
]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Yammer_ns:Yammer__GetOAuthTokenResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[This is the first transaction to be called. This must be called within the Login Sequence. The goal of this transaction is to initiate the OAuth protocol. It is mandatory to configure the APIKey and the APISecret variables to the values provided by Yammer when you register an new Application.




]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1295689608990StepType">
<xsd:annotation>
<xsd:documentation><![CDATA[Verify pin code returned by Yammer
]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Yammer_ns:Yammer__VerifyOAuthTokenResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[This transaction verifies the OAuth pincode. It  is called by the login sequence and must not be called directly.  
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_messages_meta_show-billing-bannerType">
<xsd:attribute name="nil" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_messages_metaType">
<xsd:sequence>
<xsd:element minOccurs="0" name="show-billing-banner" type="lib_Yammer_ns:Yammer_Search_document_response_messages_meta_show-billing-bannerType"/>
<xsd:element minOccurs="0" name="requested-poll-interval" type="xsd:byte"/>
<xsd:element minOccurs="0" name="ymodules" type="xsd:string"/>
<xsd:element minOccurs="0" name="current-user-id" type="xsd:integer"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_messagesType">
<xsd:sequence>
<xsd:element minOccurs="0" name="messages" type="xsd:string"/>
<xsd:element minOccurs="0" name="meta" type="lib_Yammer_ns:Yammer_Search_document_response_messages_metaType"/>
<xsd:element minOccurs="0" name="references" type="xsd:string"/>
<xsd:element minOccurs="0" name="threaded-extended" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_countType">
<xsd:sequence>
<xsd:element minOccurs="0" name="groups" type="xsd:byte"/>
<xsd:element minOccurs="0" name="messages" type="xsd:byte"/>
<xsd:element minOccurs="0" name="topics" type="xsd:byte"/>
<xsd:element minOccurs="0" name="users" type="xsd:byte"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_expertiseType">
<xsd:attribute name="nil" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_kids-namesType">
<xsd:attribute name="nil" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_guidType">
<xsd:attribute name="nil" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_statsType">
<xsd:sequence>
<xsd:element minOccurs="0" name="following" type="xsd:byte"/>
<xsd:element minOccurs="0" name="updates" type="xsd:byte"/>
<xsd:element minOccurs="0" name="followers" type="xsd:byte"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_interestsType">
<xsd:attribute name="nil" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_locationType">
<xsd:attribute name="nil" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_significant-otherType">
<xsd:attribute name="nil" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_hire-dateType">
<xsd:attribute name="nil" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_summaryType">
<xsd:attribute name="nil" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_network-domainsType">
<xsd:sequence>
<xsd:element minOccurs="0" name="network-domain" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_contact_imType">
<xsd:sequence>
<xsd:element minOccurs="0" name="provider" type="xsd:string"/>
<xsd:element minOccurs="0" name="username" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_contact_email-addresses_email-addressType">
<xsd:sequence>
<xsd:element minOccurs="0" name="type" type="xsd:string"/>
<xsd:element minOccurs="0" name="address" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_contact_email-addressesType">
<xsd:sequence>
<xsd:element minOccurs="0" name="email-address" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_contact_email-addresses_email-addressType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_user_contactType">
<xsd:sequence>
<xsd:element minOccurs="0" name="im" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_contact_imType"/>
<xsd:element minOccurs="0" name="email-addresses" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_contact_email-addressesType"/>
<xsd:element minOccurs="0" name="phone-numbers" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_users_userType">
<xsd:sequence>
<xsd:element minOccurs="0" name="expertise" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_expertiseType"/>
<xsd:element minOccurs="0" name="kids-names" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_kids-namesType"/>
<xsd:element minOccurs="0" name="type" type="xsd:string"/>
<xsd:element minOccurs="0" name="web-url" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="guid" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_guidType"/>
<xsd:element minOccurs="0" name="mugshot-url" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="network-id" type="xsd:integer"/>
<xsd:element minOccurs="0" name="stats" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_statsType"/>
<xsd:element minOccurs="0" name="birth-date" type="xsd:string"/>
<xsd:element minOccurs="0" name="interests" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_interestsType"/>
<xsd:element minOccurs="0" name="location" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_locationType"/>
<xsd:element minOccurs="0" name="significant-other" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_significant-otherType"/>
<xsd:element minOccurs="0" name="hire-date" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_hire-dateType"/>
<xsd:element minOccurs="0" name="url" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="full-name" type="xsd:string"/>
<xsd:element minOccurs="0" name="state" type="xsd:string"/>
<xsd:element minOccurs="0" name="summary" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_summaryType"/>
<xsd:element minOccurs="0" name="can-broadcast" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="verified-admin" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="timezone" type="xsd:string"/>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
<xsd:element minOccurs="0" name="external-urls" type="xsd:string"/>
<xsd:element minOccurs="0" name="network-domains" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_network-domainsType"/>
<xsd:element minOccurs="0" name="id" type="xsd:integer"/>
<xsd:element minOccurs="0" name="contact" type="lib_Yammer_ns:Yammer_Search_document_response_users_user_contactType"/>
<xsd:element minOccurs="0" name="schools" type="xsd:string"/>
<xsd:element minOccurs="0" name="previous-companies" type="xsd:string"/>
<xsd:element minOccurs="0" name="admin" type="xsd:boolean"/>
<xsd:element minOccurs="0" name="network-name" type="xsd:string"/>
<xsd:element minOccurs="0" name="job-title" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_response_usersType">
<xsd:sequence>
<xsd:element minOccurs="0" name="user" type="lib_Yammer_ns:Yammer_Search_document_response_users_userType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer_Search_document_responseType">
<xsd:sequence>
<xsd:element minOccurs="0" name="groups" type="xsd:string"/>
<xsd:element minOccurs="0" name="messages" type="lib_Yammer_ns:Yammer_Search_document_response_messagesType"/>
<xsd:element minOccurs="0" name="topics" type="xsd:string"/>
<xsd:element minOccurs="0" name="count" type="lib_Yammer_ns:Yammer_Search_document_response_countType"/>
<xsd:element minOccurs="0" name="users" type="lib_Yammer_ns:Yammer_Search_document_response_usersType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="Yammer__SearchResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="response" type="lib_Yammer_ns:Yammer_Search_document_responseType"/>
<xsd:element minOccurs="0" name="error" type="lib_Yammer_ns:ConvertigoError"/>
</xsd:sequence>
<xsd:attribute name="connector" type="xsd:string"/>
<xsd:attribute name="context" type="xsd:string"/>
<xsd:attribute name="contextId" type="xsd:string"/>
<xsd:attribute name="fromcache" type="xsd:boolean"/>
<xsd:attribute name="generated" type="xsd:string"/>
<xsd:attribute name="project" type="xsd:string"/>
<xsd:attribute name="sequence" type="xsd:string"/>
<xsd:attribute name="signature" type="xsd:long"/>
<xsd:attribute name="transaction" type="xsd:string"/>
<xsd:attribute name="version" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="transaction1295717317026StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Yammer_ns:Yammer__SearchResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[The Search API returns information from a keyword, it can be a theme or a person. It lets you implement most of what shows up when you do a search in the top right box on Yammer.com.



Use the Search API to find message or people using keywords, company, name, or other criteria. It returns a list of matching member profiles or messages. Each entry can contain much of the information available on the person's member profile page or on the details of the messages.










]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SearchResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="response" type="lib_Yammer_ns:Yammer_Search_document_responseType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1297352413859StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Yammer_ns:Yammer__SearchResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[The Search API returns information from a keyword, it can be a theme or a person. It lets you implement most of what shows up when you do a search in the top right box on Yammer.com.



Use the Search API to find message or people using keywords, company, name, or other criteria. It returns a list of matching member profiles or messages. Each entry can contain much of the information available on the person's member profile page or on the details of the messages.










]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Yammer__GetOAuthToken" type="lib_Yammer_ns:Yammer__GetOAuthTokenRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[This is the first transaction to be called. This must be called within the Login Sequence. The goal of this transaction is to initiate the OAuth protocol. It is mandatory to configure the APIKey and the APISecret variables to the values provided by Yammer when you register an new Application.

You can register to a Yammer app on this page : https://www.yammer.com/api_oauth.html!



Note: your key and secret will only work for your Yammer network.



If you want your application's key and secret to work across ALL Yammer networks, you must request this to Yammer support. 


]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Yammer__GetOAuthTokenResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Yammer_ns:Yammer__GetOAuthTokenResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="Yammer__GetOAuthTokenRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[This is the first transaction to be called. This must be called within the Login Sequence. The goal of this transaction is to initiate the OAuth protocol. It is mandatory to configure the APIKey and the APISecret variables to the values provided by Yammer when you register an new Application.

You can register to a Yammer app on this page : https://www.yammer.com/api_oauth.html!



Note: your key and secret will only work for your Yammer network.



If you want your application's key and secret to work across ALL Yammer networks, you must request this to Yammer support. 


]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="apiSecret" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>The value of the apiSecret you receive when you register a new application with Yammer</xsd:appinfo>
<xsd:documentation><![CDATA[The value of the apiSecret you receive when you register a new application with Yammer
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="apiKey" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>The value of the apiKey you receive when you register a new application with Yammer</xsd:appinfo>
<xsd:documentation><![CDATA[The value of the apiKey you receive when you register a new application with Yammer
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Yammer__Search" type="lib_Yammer_ns:Yammer__SearchRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[The Search API returns information from a keyword, it can be a theme or an nameid. It lets you implement most of what shows up when you do a search in the top right box on Yammer.com.



Use the Search API to find message or people using keywords, company, name, or other criteria. It returns a list of matching member users or messages. Each entry can contain much of the information available on the users profile page or on the details of the messages.










]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Yammer__SearchResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Yammer_ns:Yammer__SearchResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="Yammer__SearchRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[The Search API returns information from a keyword, it can be a theme or an nameid. It lets you implement most of what shows up when you do a search in the top right box on Yammer.com.



Use the Search API to find message or people using keywords, company, name, or other criteria. It returns a list of matching member users or messages. Each entry can contain much of the information available on the users profile page or on the details of the messages.










]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="search" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>The keyword field</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="page" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Only 20 results of each type will be returned for each page, but a total count is returned with each query. page=1 (the default) will return items 1-20, page=2 will return items 21-30, etc. </xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="num_per_page" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>This allows you to limit the number of results of each type per page, up to a maximum of 20, the default value. </xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Yammer__VerifyOAuthToken" type="lib_Yammer_ns:Yammer__VerifyOAuthTokenRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[This transaction verifies the OAuth pincode. It is called by the login sequence and must not be called directly.  
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Yammer__VerifyOAuthTokenResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Yammer_ns:Yammer__VerifyOAuthTokenResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="Yammer__VerifyOAuthTokenRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[This transaction verifies the OAuth pincode. It is called by the login sequence and must not be called directly.  
]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="PinCode" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Login" type="lib_Yammer_ns:LoginRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[The login sequence must be called prior to any other Transaction. This Sequence will handle the OAuth protocol flow and will store the OAuth session key in the 'Yammer' context.


]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LoginResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Yammer_ns:LoginResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="LoginRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[The login sequence must be called prior to any other Transaction. This Sequence will handle the OAuth protocol flow and will store the OAuth session key in the 'Yammer' context.


]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="password" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Yammer password</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="user" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Yammer user name (Email address)</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="Search" type="lib_Yammer_ns:SearchRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[This is a sample showing how to loop on the results of a SearchPeople transaction. It will return all occurences of persons searched
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SearchResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Yammer_ns:SearchResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SearchRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[This is a sample showing how to loop on the results of a SearchPeople transaction. It will return all occurences of persons searched
]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="search" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
<xsd:documentation><![CDATA[// the search is based on a keyword and the result can be a list of messages or a list of users
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="YammerHtml__Authenticate" type="lib_Yammer_ns:YammerHtml__AuthenticateRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[This transaction will use the User and Password variables provided to Authenticate to Yammer. As we use the OAuth protocol, Yammer will respond with a PinCode this transaction retreives to be verified by the OAuth protocol.


]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="YammerHtml__AuthenticateResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Yammer_ns:YammerHtml__AuthenticateResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="YammerHtml__AuthenticateRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[This transaction will use the User and Password variables provided to Authenticate to Yammer. As we use the OAuth protocol, Yammer will respond with a PinCode this transaction retreives to be verified by the OAuth protocol.


]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="password" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Password</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="user" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="token" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
