Studio/projects/template_mobileSencha/template_mobileSencha.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="template_mobileSencha" targetNamespace="http://www.convertigo.com/convertigo/projects/template_mobileSencha" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:template_mobileSencha_ns="http://www.convertigo.com/convertigo/projects/template_mobileSencha" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/template_mobileSencha"><xsd:include schemaLocation="template_mobileSencha.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="void__DefaultTransactionRequest">
    <wsdl:part name="parameters" element="template_mobileSencha_ns:void__DefaultTransaction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="parameters" element="template_mobileSencha_ns:LoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoadListResponse">
    <wsdl:part name="parameters" element="template_mobileSencha_ns:LoadListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoadListRequest">
    <wsdl:part name="parameters" element="template_mobileSencha_ns:LoadList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginRequest">
    <wsdl:part name="parameters" element="template_mobileSencha_ns:Login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="void__DefaultTransactionResponse">
    <wsdl:part name="parameters" element="template_mobileSencha_ns:void__DefaultTransactionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="template_mobileSenchaPortType">
    <wsdl:operation name="LoadList">
<wsdl:documentation><![CDATA[Sample List sequence. This just returns the static list.xml data contained in the 'data' Folder Change this to anthing you want to return live data form target applications. 
]]></wsdl:documentation>
      <wsdl:input message="template_mobileSencha_ns:LoadListRequest">
    </wsdl:input>
      <wsdl:output message="template_mobileSencha_ns:LoadListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
<wsdl:documentation><![CDATA[Sample Login sequence. Change this sequence to anything enabling a Login with a user and password to the target system. The best way is to call a Login transaction.


]]></wsdl:documentation>
      <wsdl:input message="template_mobileSencha_ns:LoginRequest">
    </wsdl:input>
      <wsdl:output message="template_mobileSencha_ns:LoginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="void__DefaultTransaction">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="template_mobileSencha_ns:void__DefaultTransactionRequest">
    </wsdl:input>
      <wsdl:output message="template_mobileSencha_ns:void__DefaultTransactionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="template_mobileSenchaSOAPBinding" type="template_mobileSencha_ns:template_mobileSenchaPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="LoadList">
<wsdl:documentation><![CDATA[Sample List sequence. This just returns the static list.xml data contained in the 'data' Folder Change this to anthing you want to return live data form target applications. 
]]></wsdl:documentation>
      <soap:operation soapAction="template_mobileSencha?LoadList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
<wsdl:documentation><![CDATA[Sample Login sequence. Change this sequence to anything enabling a Login with a user and password to the target system. The best way is to call a Login transaction.


]]></wsdl:documentation>
      <soap:operation soapAction="template_mobileSencha?Login"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="void__DefaultTransaction">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="template_mobileSencha?void__DefaultTransaction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="template_mobileSencha">
    <wsdl:port name="template_mobileSenchaSOAP" binding="template_mobileSencha_ns:template_mobileSenchaSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/template_mobileSencha/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
