Studio/projects/demo_SalesForce/demo_SalesForce.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:demo_SalesForce_ns="http://www.convertigo.com/convertigo/projects/demo_SalesForce" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/demo_SalesForce">
<xsd:complexType name="ConvertigoErrorContextVariable">
<xsd:attribute name="name" type="xsd:string"/>
<xsd:attribute name="value" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="ConvertigoErrorContext">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="demo_SalesForce_ns:ConvertigoErrorContextVariable"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ConvertigoError">
<xsd:sequence>
<xsd:element name="context" type="demo_SalesForce_ns:ConvertigoErrorContext"/>
<xsd:element name="exception" type="xsd:string"/>
<xsd:element name="message" type="xsd:string"/>
<xsd:element name="stacktrace" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SalesForceConnector__ChangeLanguage" type="demo_SalesForce_ns:SalesForceConnector__ChangeLanguageRequestData"/>
<xsd:element name="SalesForceConnector__ChangeLanguageResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__ChangeLanguageResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__ChangeLanguageRequestData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__ChangeLanguageResponseData"/>
<xsd:element name="SalesForceConnector__CreateCampaign" type="demo_SalesForce_ns:SalesForceConnector__CreateCampaignRequestData"/>
<xsd:element name="SalesForceConnector__CreateCampaignResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__CreateCampaignResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__CreateCampaignRequestData">
<xsd:sequence>
<xsd:element name="campaignName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__CreateCampaignResponseData"/>
<xsd:element name="SalesForceConnector__CreateLeadsView" type="demo_SalesForce_ns:SalesForceConnector__CreateLeadsViewRequestData"/>
<xsd:element name="SalesForceConnector__CreateLeadsViewResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__CreateLeadsViewResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__CreateLeadsViewRequestData">
<xsd:sequence>
<xsd:element name="campaignName" type="xsd:string"/>
<xsd:element name="viewName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__CreateLeadsViewResponseData"/>
<xsd:complexType name="SalesForceConnector__DefaultWebClippingTransactionRequestData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__DefaultWebClippingTransactionResponseData"/>
<xsd:element name="SalesForceConnector__EditLead" type="demo_SalesForce_ns:SalesForceConnector__EditLeadRequestData"/>
<xsd:element name="SalesForceConnector__EditLeadResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__EditLeadResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__EditLeadRequestData">
<xsd:sequence>
<xsd:element name="country" type="xsd:string"/>
<xsd:element name="city" type="xsd:string"/>
<xsd:element name="company" type="xsd:string"/>
<xsd:element name="street" type="xsd:string"/>
<xsd:element name="rowindex" type="xsd:string"/>
<xsd:element name="state" type="xsd:string"/>
<xsd:element name="postcode" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__EditLeadResponseData"/>
<xsd:element name="SalesForceConnector__EmptyLeadsView" type="demo_SalesForce_ns:SalesForceConnector__EmptyLeadsViewRequestData"/>
<xsd:element name="SalesForceConnector__EmptyLeadsViewResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__EmptyLeadsViewResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__EmptyLeadsViewRequestData">
<xsd:sequence>
<xsd:element name="viewName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__EmptyLeadsViewResponseData"/>
<xsd:element name="SalesForceConnector__GoContacts" type="demo_SalesForce_ns:SalesForceConnector__GoContactsRequestData"/>
<xsd:element name="SalesForceConnector__GoContactsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__GoContactsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__GoContactsRequestData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__GoContactsResponseData"/>
<xsd:element name="SalesForceConnector__GoLeads" type="demo_SalesForce_ns:SalesForceConnector__GoLeadsRequestData"/>
<xsd:element name="SalesForceConnector__GoLeadsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__GoLeadsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__GoLeadsRequestData">
<xsd:sequence>
<xsd:element name="viewName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__GoLeadsResponseData"/>
<xsd:element name="SalesForceConnector__InitializeDemo" type="demo_SalesForce_ns:SalesForceConnector__InitializeDemoRequestData"/>
<xsd:element name="SalesForceConnector__InitializeDemoResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__InitializeDemoResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__InitializeDemoRequestData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__InitializeDemoResponseData"/>
<xsd:element name="SalesForceConnector__InsertNoteToAccount" type="demo_SalesForce_ns:SalesForceConnector__InsertNoteToAccountRequestData"/>
<xsd:element name="SalesForceConnector__InsertNoteToAccountResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__InsertNoteToAccountResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__InsertNoteToAccountRequestData">
<xsd:sequence>
<xsd:element name="subject" type="xsd:string"/>
<xsd:element name="body" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__InsertNoteToAccountResponseData"/>
<xsd:element name="SalesForceConnector__SearchAccountDetails" type="demo_SalesForce_ns:SalesForceConnector__SearchAccountDetailsRequestData"/>
<xsd:element name="SalesForceConnector__SearchAccountDetailsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__SearchAccountDetailsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__SearchAccountDetailsRequestData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__SearchAccountDetailsResponseData"/>
<xsd:group name="SalesForceConnectorTypes">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="demo_SalesForce_ns:ConvertigoError"/>
<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
</xsd:sequence>
</xsd:group>
<xsd:element name="SalesForceConnector__Login" type="demo_SalesForce_ns:SalesForceConnector__LoginRequestData"/>
<xsd:element name="SalesForceConnector__LoginResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__LoginResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__LoginRequestData">
<xsd:sequence>
<xsd:element name="password" type="xsd:string"/>
<xsd:element name="username" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__LoginResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="demo_SalesForce_ns:ConvertigoError"/>
<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SalesForceConnector__setFullIPs" type="demo_SalesForce_ns:SalesForceConnector__setFullIPsRequestData"/>
<xsd:element name="SalesForceConnector__setFullIPsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__setFullIPsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__setFullIPsRequestData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__setFullIPsResponseData"/>
<xsd:element name="setIPs" type="demo_SalesForce_ns:setIPsRequestData"/>
<xsd:element name="setIPsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:setIPsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="setIPsRequestData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="setIPsResponseData">
<xsd:sequence>
<xsd:group minOccurs="0" ref="demo_SalesForce_ns:step1260958337227Type"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="step1260961745752Type">
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="demo_SalesForce_ns:SalesForceConnector__setFullIPsResponseData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="step1260958245183Type">
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="demo_SalesForce_ns:SalesForceConnector__LoginResponseData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:group name="step1260958337227Type">
<xsd:sequence/>
</xsd:group>
<xsd:element name="SalesForceConnector__InsertLead" type="demo_SalesForce_ns:SalesForceConnector__InsertLeadRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SalesForceConnector__InsertLeadResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__InsertLeadResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__InsertLeadRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__InsertLeadResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="demo_SalesForce_ns:ConvertigoError"/>
<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
<xsd:element minOccurs="0" name="salutation" type="xsd:string"/>
<xsd:element minOccurs="0" name="company" type="xsd:string"/>
<xsd:element minOccurs="0" name="city" type="xsd:string"/>
<xsd:element minOccurs="0" name="state" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
