Studio/projects/demo_SalesForce/demo_SalesForce.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:demo_SalesForce_ns="http://www.convertigo.com/convertigo/projects/demo_SalesForce" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/demo_SalesForce">
<xsd:complexType name="ConvertigoErrorContextVariable">
<xsd:attribute name="name" type="xsd:string"/>
<xsd:attribute name="value" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="ConvertigoErrorContext">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="demo_SalesForce_ns:ConvertigoErrorContextVariable"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ConvertigoError">
<xsd:sequence>
<xsd:element name="context" type="demo_SalesForce_ns:ConvertigoErrorContext"/>
<xsd:element name="exception" type="xsd:string"/>
<xsd:element name="message" type="xsd:string"/>
<xsd:element name="stacktrace" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SalesForceConnector__ChangeLanguage" type="demo_SalesForce_ns:SalesForceConnector__ChangeLanguageRequestData"/>
<xsd:element name="SalesForceConnector__ChangeLanguageResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__ChangeLanguageResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__ChangeLanguageRequestData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__ChangeLanguageResponseData"/>
<xsd:element name="SalesForceConnector__CreateCampaign" type="demo_SalesForce_ns:SalesForceConnector__CreateCampaignRequestData"/>
<xsd:element name="SalesForceConnector__CreateCampaignResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__CreateCampaignResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__CreateCampaignRequestData">
<xsd:sequence>
<xsd:element name="campaignName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__CreateCampaignResponseData"/>
<xsd:element name="SalesForceConnector__CreateLeadsView" type="demo_SalesForce_ns:SalesForceConnector__CreateLeadsViewRequestData"/>
<xsd:element name="SalesForceConnector__CreateLeadsViewResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__CreateLeadsViewResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__CreateLeadsViewRequestData">
<xsd:sequence>
<xsd:element name="campaignName" type="xsd:string"/>
<xsd:element name="viewName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__CreateLeadsViewResponseData"/>
<xsd:complexType name="SalesForceConnector__DefaultWebClippingTransactionRequestData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__DefaultWebClippingTransactionResponseData"/>
<xsd:element name="SalesForceConnector__EmptyLeadsView" type="demo_SalesForce_ns:SalesForceConnector__EmptyLeadsViewRequestData"/>
<xsd:element name="SalesForceConnector__EmptyLeadsViewResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__EmptyLeadsViewResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__EmptyLeadsViewRequestData">
<xsd:sequence>
<xsd:element name="viewName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__EmptyLeadsViewResponseData"/>
<xsd:element name="SalesForceConnector__GoLeads" type="demo_SalesForce_ns:SalesForceConnector__GoLeadsRequestData"/>
<xsd:element name="SalesForceConnector__GoLeadsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__GoLeadsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__GoLeadsRequestData">
<xsd:sequence>
<xsd:element name="viewName" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__GoLeadsResponseData"/>
<xsd:element name="SalesForceConnector__InitializeDemo" type="demo_SalesForce_ns:SalesForceConnector__InitializeDemoRequestData"/>
<xsd:element name="SalesForceConnector__InitializeDemoResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__InitializeDemoResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__InitializeDemoRequestData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__InitializeDemoResponseData"/>
<xsd:group name="SalesForceConnectorTypes">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="demo_SalesForce_ns:ConvertigoError"/>
<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
</xsd:sequence>
</xsd:group>
<xsd:element name="SalesForceConnector__Login" type="demo_SalesForce_ns:SalesForceConnector__LoginRequestData"/>
<xsd:element name="SalesForceConnector__LoginResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__LoginResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__LoginRequestData">
<xsd:sequence>
<xsd:element name="password" type="xsd:string"/>
<xsd:element name="username" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__LoginResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="demo_SalesForce_ns:ConvertigoError"/>
<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="step1260961745752Type">
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="demo_SalesForce_ns:SalesForceConnector__setFullIPsResponseData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="step1260958245183Type">
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="demo_SalesForce_ns:SalesForceConnector__LoginResponseData"/>
</xsd:sequence>
</xsd:complexType>
<xsd:group name="step1260958337227Type">
<xsd:sequence/>
</xsd:group>
<xsd:element name="SalesForceConnector__InsertLead" type="demo_SalesForce_ns:SalesForceConnector__InsertLeadRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SalesForceConnector__InsertLeadResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__InsertLeadResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__InsertLeadRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__InsertLeadResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="demo_SalesForce_ns:ConvertigoError"/>
<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
<xsd:element minOccurs="0" name="salutation" type="xsd:string"/>
<xsd:element minOccurs="0" name="company" type="xsd:string"/>
<xsd:element minOccurs="0" name="city" type="xsd:string"/>
<xsd:element minOccurs="0" name="state" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SalesForceConnector__EditLead" type="demo_SalesForce_ns:SalesForceConnector__EditLeadRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SalesForceConnector__EditLeadResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:SalesForceConnector__EditLeadResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__EditLeadRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="rowindex" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>rowindex</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="company" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>company</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="street" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>street</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="postcode" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>postcode</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="city" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>city</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="state" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>state</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="country" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>country</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__EditLeadResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="demo_SalesForce_ns:ConvertigoError"/>
<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="complex1303203034781StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="complex1303203091342StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="Initialize" type="demo_SalesForce_ns:InitializeRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[method that starts the demo initalization
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="InitializeResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="demo_SalesForce_ns:InitializeResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="InitializeRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[method that starts the demo initalization
]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="InitializeResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="transaction" type="demo_SalesForce_ns:transaction1303205739276StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="transaction" type="demo_SalesForce_ns:transaction1303202266775StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="transaction" type="demo_SalesForce_ns:transaction1303202572221StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="transaction" type="demo_SalesForce_ns:transaction1303202720895StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="transaction" type="demo_SalesForce_ns:transaction1303202836476StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="transaction" type="demo_SalesForce_ns:transaction1303204802862StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="leads1303203034781StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="transaction1303202266775StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="demo_SalesForce_ns:SalesForceConnector__ChangeLanguageResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[This transaction is a part of the demo initialization. It checks if the ConvertigoDemo campaign exists in the SalesForce account  used, and creates it if it doesn't exist.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="lead1303203482433StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="lead1303203630020StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="transaction1303204802862StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="demo_SalesForce_ns:SalesForceConnector__InsertLeadResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1303205739276StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="demo_SalesForce_ns:SalesForceConnector__LoginResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="lead1303203536479StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="transaction1303202836476StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="demo_SalesForce_ns:SalesForceConnector__EmptyLeadsViewResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="lead1303203599636StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="lead1303203616042StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="lead1303203501271StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="transaction1303202720895StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="demo_SalesForce_ns:SalesForceConnector__CreateLeadsViewResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="lead1303203583422StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="lead1303203469737StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="lead1303203091342StepType">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="transaction1303202572221StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="demo_SalesForce_ns:SalesForceConnector__CreateCampaignResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[This transaction is a part of the demo initialization. It checks if the ConvertigoDemo campaign exists in the SalesForce account  used, and creates it if it doesn't exist.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
