Studio/projects/demo_SalesForce/demo_SalesForce.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="demo_SalesForce" targetNamespace="http://www.convertigo.com/convertigo/projects/demo_SalesForce" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:demo_SalesForce_ns="http://www.convertigo.com/convertigo/projects/demo_SalesForce" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/demo_SalesForce"><xsd:include schemaLocation="demo_SalesForce.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="SalesForceConnector__GoLeadsResponse">
    <wsdl:part name="parameters" element="demo_SalesForce_ns:SalesForceConnector__GoLeadsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SalesForceConnector__LoginResponse">
    <wsdl:part name="parameters" element="demo_SalesForce_ns:SalesForceConnector__LoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SalesForceConnector__LoginRequest">
    <wsdl:part name="parameters" element="demo_SalesForce_ns:SalesForceConnector__Login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SalesForceConnector__GoLeadsRequest">
    <wsdl:part name="parameters" element="demo_SalesForce_ns:SalesForceConnector__GoLeads">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SalesForceConnector__XMLizeRequest">
    <wsdl:part name="parameters" element="demo_SalesForce_ns:SalesForceConnector__XMLize">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SalesForceConnector__InitializeDemoResponse">
    <wsdl:part name="parameters" element="demo_SalesForce_ns:SalesForceConnector__InitializeDemoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SalesForceConnector__XMLizeResponse">
    <wsdl:part name="parameters" element="demo_SalesForce_ns:SalesForceConnector__XMLizeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SalesForceConnector__InitializeDemoRequest">
    <wsdl:part name="parameters" element="demo_SalesForce_ns:SalesForceConnector__InitializeDemo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SalesForceConnector__EditLeadResponse">
    <wsdl:part name="parameters" element="demo_SalesForce_ns:SalesForceConnector__EditLeadResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SalesForceConnector__EditLeadRequest">
    <wsdl:part name="parameters" element="demo_SalesForce_ns:SalesForceConnector__EditLead">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="demo_SalesForcePortType">
    <wsdl:operation name="SalesForceConnector__Login">
<wsdl:documentation/>
      <wsdl:input message="demo_SalesForce_ns:SalesForceConnector__LoginRequest">
    </wsdl:input>
      <wsdl:output message="demo_SalesForce_ns:SalesForceConnector__LoginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesForceConnector__GoLeads">
<wsdl:documentation/>
      <wsdl:input message="demo_SalesForce_ns:SalesForceConnector__GoLeadsRequest">
    </wsdl:input>
      <wsdl:output message="demo_SalesForce_ns:SalesForceConnector__GoLeadsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesForceConnector__XMLize">
<wsdl:documentation/>
      <wsdl:input message="demo_SalesForce_ns:SalesForceConnector__XMLizeRequest">
    </wsdl:input>
      <wsdl:output message="demo_SalesForce_ns:SalesForceConnector__XMLizeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesForceConnector__InitializeDemo">
<wsdl:documentation/>
      <wsdl:input message="demo_SalesForce_ns:SalesForceConnector__InitializeDemoRequest">
    </wsdl:input>
      <wsdl:output message="demo_SalesForce_ns:SalesForceConnector__InitializeDemoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesForceConnector__EditLead">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="demo_SalesForce_ns:SalesForceConnector__EditLeadRequest">
    </wsdl:input>
      <wsdl:output message="demo_SalesForce_ns:SalesForceConnector__EditLeadResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="demo_SalesForceSOAPBinding" type="demo_SalesForce_ns:demo_SalesForcePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SalesForceConnector__Login">
<wsdl:documentation/>
      <soap:operation soapAction="demo_SalesForce?SalesForceConnector__Login"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesForceConnector__GoLeads">
<wsdl:documentation/>
      <soap:operation soapAction="demo_SalesForce?SalesForceConnector__GoLeads"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesForceConnector__XMLize">
<wsdl:documentation/>
      <soap:operation soapAction="demo_SalesForce?SalesForceConnector__DefaultWebClippingTransaction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesForceConnector__InitializeDemo">
<wsdl:documentation/>
      <soap:operation soapAction="demo_SalesForce?SalesForceConnector__InitializeDemo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesForceConnector__EditLead">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="demo_SalesForce?SalesForceConnector__EditLead"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="demo_SalesForce">
    <wsdl:port name="demo_SalesForceSOAP" binding="demo_SalesForce_ns:demo_SalesForceSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/demo_SalesForce/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
