Studio/projects/sample_refManual_statements/xsd/sample_refManual_statements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sample_refManual_statements_ns="http://www.convertigo.com/convertigo/projects/sample_refManual_statements" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/sample_refManual_statements">
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="sample_refManual_statements_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence>
            <xsd:element name="context" type="sample_refManual_statements_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:element name="ConvertigoIntranetConnector__GoToHolidaysApp" type="sample_refManual_statements_ns:ConvertigoIntranetConnector__GoToHolidaysAppRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="ConvertigoIntranetConnector__GoToHolidaysAppResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:ConvertigoIntranetConnector__GoToHolidaysAppResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ConvertigoIntranetConnector__GoToHolidaysAppRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="username" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="password" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoIntranetConnector__GoToHolidaysAppResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ConvertigoIntranetConnector__XMLize" type="sample_refManual_statements_ns:ConvertigoIntranetConnector__XMLizeRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="ConvertigoIntranetConnector__XMLizeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:ConvertigoIntranetConnector__XMLizeResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ConvertigoIntranetConnector__XMLizeRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoIntranetConnector__XMLizeResponseData">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_refManual_statements_ns:ConvertigoIntranetConnectorTypes"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="ConvertigoIntranetConnectorTypes">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:element name="ConvertigoWebSiteConnector__downloadOperatingGuidePDFdocumentation" type="sample_refManual_statements_ns:ConvertigoWebSiteConnector__downloadOperatingGuidePDFdocumentationRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="ConvertigoWebSiteConnector__downloadOperatingGuidePDFdocumentationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:ConvertigoWebSiteConnector__downloadOperatingGuidePDFdocumentationResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ConvertigoWebSiteConnector__downloadOperatingGuidePDFdocumentationRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoWebSiteConnector__downloadOperatingGuidePDFdocumentationResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ConvertigoWebSiteConnector__XMLize" type="sample_refManual_statements_ns:ConvertigoWebSiteConnector__XMLizeRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="ConvertigoWebSiteConnector__XMLizeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:ConvertigoWebSiteConnector__XMLizeResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ConvertigoWebSiteConnector__XMLizeRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoWebSiteConnector__XMLizeResponseData">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_refManual_statements_ns:ConvertigoWebSiteConnectorTypes"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="ConvertigoWebSiteConnectorTypes">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:element name="googleFormConnector__fillForm" type="sample_refManual_statements_ns:googleFormConnector__fillFormRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="googleFormConnector__fillFormResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:googleFormConnector__fillFormResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="googleFormConnector__fillFormRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="inputs">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="googleFormConnector__fillFormResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="input" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="googleFormConnector__XMLize" type="sample_refManual_statements_ns:googleFormConnector__XMLizeRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="googleFormConnector__XMLizeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:googleFormConnector__XMLizeResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="googleFormConnector__XMLizeRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="googleFormConnector__XMLizeResponseData">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_refManual_statements_ns:googleFormConnectorTypes"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="googleFormConnectorTypes">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:element name="googleSearchConnector__goToGoogleCom" type="sample_refManual_statements_ns:googleSearchConnector__goToGoogleComRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="googleSearchConnector__goToGoogleComResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:googleSearchConnector__goToGoogleComResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="googleSearchConnector__goToGoogleComRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="googleSearchConnector__goToGoogleComResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="listResults" type="sample_refManual_statements_ns:listResultsTableType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="googleSearchConnector__searchGoogle" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="googleSearchConnector__searchGoogleResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="googleSearchConnector__searchGoogleRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="keyword" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>keyword to be searched</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="googleSearchConnector__searchGoogleResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="listResults" type="sample_refManual_statements_ns:listResultsTableType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="googleSearchConnector__searchGoogleOnePage" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleOnePageRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="googleSearchConnector__searchGoogleOnePageResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleOnePageResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="googleSearchConnector__searchGoogleOnePageRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="keyword" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>keyword to be searched</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="googleSearchConnector__searchGoogleOnePageResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="listResults" type="sample_refManual_statements_ns:listResultsTableType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="googleSearchConnector__searchGoogleWithLimit" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleWithLimitRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="googleSearchConnector__searchGoogleWithLimitResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleWithLimitResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="googleSearchConnector__searchGoogleWithLimitRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="keyword" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>keyword to be searched</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="maxPages" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>maximum number of pages to accumulate</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="googleSearchConnector__searchGoogleWithLimitResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="listResults" type="sample_refManual_statements_ns:listResultsTableType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="googleSearchConnector__XMLize" type="sample_refManual_statements_ns:googleSearchConnector__XMLizeRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="googleSearchConnector__XMLizeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:googleSearchConnector__XMLizeResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="googleSearchConnector__XMLizeRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="googleSearchConnector__XMLizeResponseData">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_refManual_statements_ns:googleSearchConnectorTypes"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="googleSearchConnectorTypes">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="listResults" type="sample_refManual_statements_ns:listResultsTableType"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="resultItem_listResultsRowType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="title" type="xsd:string"/>
            <xsd:element minOccurs="0" name="url" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="listResultsTableType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="resultItem" type="sample_refManual_statements_ns:resultItem_listResultsRowType"/>
        </xsd:sequence>
        <xsd:attribute name="referer" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:element name="SalesForceConnector__GoLeads" type="sample_refManual_statements_ns:SalesForceConnector__GoLeadsRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="SalesForceConnector__GoLeadsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:SalesForceConnector__GoLeadsResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="SalesForceConnector__GoLeadsRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="viewName" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>viewName</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SalesForceConnector__GoLeadsResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SalesForceConnector__Login" type="sample_refManual_statements_ns:SalesForceConnector__LoginRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="SalesForceConnector__LoginResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:SalesForceConnector__LoginResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="SalesForceConnector__LoginRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="username" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>username</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="password" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>password</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SalesForceConnector__LoginResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SalesForceConnector__LoginFromPreferences" type="sample_refManual_statements_ns:SalesForceConnector__LoginFromPreferencesRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="SalesForceConnector__LoginFromPreferencesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:SalesForceConnector__LoginFromPreferencesResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="SalesForceConnector__LoginFromPreferencesRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="SalesForceConnector__LoginFromPreferencesResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SalesForceConnector__PreferencesRegistration" type="sample_refManual_statements_ns:SalesForceConnector__PreferencesRegistrationRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="SalesForceConnector__PreferencesRegistrationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:SalesForceConnector__PreferencesRegistrationResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="SalesForceConnector__PreferencesRegistrationRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="username" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>username</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="password" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>password</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SalesForceConnector__PreferencesRegistrationResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SalesForceConnector__XMLize" type="sample_refManual_statements_ns:SalesForceConnector__XMLizeRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="SalesForceConnector__XMLizeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:SalesForceConnector__XMLizeResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="SalesForceConnector__XMLizeRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="SalesForceConnector__XMLizeResponseData">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_refManual_statements_ns:SalesForceConnectorTypes"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="SalesForceConnectorTypes">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:element name="simpleGoogleConnector__googleSearch" type="sample_refManual_statements_ns:simpleGoogleConnector__googleSearchRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="simpleGoogleConnector__googleSearchResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:simpleGoogleConnector__googleSearchResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="simpleGoogleConnector__googleSearchRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="keyword" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="simpleGoogleConnector__googleSearchResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="googleResults" type="sample_refManual_statements_ns:googleResultsTableType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="HttpHeaders" type="sample_refManual_statements_ns:httpHeadersType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="simpleGoogleConnector__XMLize" type="sample_refManual_statements_ns:simpleGoogleConnector__XMLizeRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="simpleGoogleConnector__XMLizeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:simpleGoogleConnector__XMLizeResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="simpleGoogleConnector__XMLizeRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="simpleGoogleConnector__XMLizeResponseData">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_refManual_statements_ns:simpleGoogleConnectorTypes"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="simpleGoogleConnectorTypes">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="googleResults" type="sample_refManual_statements_ns:googleResultsTableType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="HttpHeaders" type="sample_refManual_statements_ns:httpHeadersType"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="googleResultsTableType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="result" type="sample_refManual_statements_ns:result_googleResultsRowType"/>
        </xsd:sequence>
        <xsd:attribute name="referer" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="result_googleResultsRowType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="title" type="xsd:string"/>
            <xsd:element minOccurs="0" name="url" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="httpHeadersType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="header" type="sample_refManual_statements_ns:headerType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="headerType">
        <xsd:attribute name="headerName" type="xsd:string" use="required"/>
        <xsd:attribute name="headerValue" type="xsd:string" use="required"/>
    </xsd:complexType>
    <xsd:element name="usDirectoryConnector__searchBusiness" type="sample_refManual_statements_ns:usDirectoryConnector__searchBusinessRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="usDirectoryConnector__searchBusinessResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:usDirectoryConnector__searchBusinessResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="usDirectoryConnector__searchBusinessRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="business" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="cityZIPcode" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="state" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="usDirectoryConnector__searchBusinessResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="errorMessage" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="usDirectoryConnector__XMLize" type="sample_refManual_statements_ns:usDirectoryConnector__XMLizeRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="usDirectoryConnector__XMLizeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_refManual_statements_ns:usDirectoryConnector__XMLizeResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="usDirectoryConnector__XMLizeRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="usDirectoryConnector__XMLizeResponseData">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_refManual_statements_ns:usDirectoryConnectorTypes"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="usDirectoryConnectorTypes">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
        </xsd:sequence>
    </xsd:group>
</xsd:schema>
