Studio/projects/sampleMobilePdf/sampleMobilePdf.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sampleMobilePdf" targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobilePdf" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sampleMobilePdf_ns="http://www.convertigo.com/convertigo/projects/sampleMobilePdf">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobilePdf"><xsd:include schemaLocation="sampleMobilePdf.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="parameters" element="sampleMobilePdf_ns:LoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pdfArticleConnector__getArticleResponse">
    <wsdl:part name="parameters" element="sampleMobilePdf_ns:pdfArticleConnector__getArticleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginRequest">
    <wsdl:part name="parameters" element="sampleMobilePdf_ns:Login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pdfArticleConnector__XMLizeResponse">
    <wsdl:part name="parameters" element="sampleMobilePdf_ns:pdfArticleConnector__XMLizeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoadListRequest">
    <wsdl:part name="parameters" element="sampleMobilePdf_ns:LoadList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoadListResponse">
    <wsdl:part name="parameters" element="sampleMobilePdf_ns:LoadListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pdfArticleConnector__XMLizeRequest">
    <wsdl:part name="parameters" element="sampleMobilePdf_ns:pdfArticleConnector__XMLize">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pdfArticleConnector__getArticleRequest">
    <wsdl:part name="parameters" element="sampleMobilePdf_ns:pdfArticleConnector__getArticle">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sampleMobilePdfPortType">
    <wsdl:operation name="pdfArticleConnector__getArticle">
<wsdl:documentation/>
      <wsdl:input message="sampleMobilePdf_ns:pdfArticleConnector__getArticleRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobilePdf_ns:pdfArticleConnector__getArticleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pdfArticleConnector__XMLize">
<wsdl:documentation/>
      <wsdl:input message="sampleMobilePdf_ns:pdfArticleConnector__XMLizeRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobilePdf_ns:pdfArticleConnector__XMLizeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadList">
<wsdl:documentation><![CDATA[Sample List sequence. This just returns the static list.xml data contained in the 'data' Folder Change this to anthing you want to return live data form target applications. 
]]></wsdl:documentation>
      <wsdl:input message="sampleMobilePdf_ns:LoadListRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobilePdf_ns:LoadListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
<wsdl:documentation><![CDATA[Sample Login sequence. Change this sequence to anything enabling a Login with a user and password to the target system. The best way is to call a Login transaction.


]]></wsdl:documentation>
      <wsdl:input message="sampleMobilePdf_ns:LoginRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobilePdf_ns:LoginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sampleMobilePdfSOAPBinding" type="sampleMobilePdf_ns:sampleMobilePdfPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="pdfArticleConnector__getArticle">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobilePdf?pdfArticleConnector__getArticle"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pdfArticleConnector__XMLize">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobilePdf?pdfArticleConnector__XMLize"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadList">
<wsdl:documentation><![CDATA[Sample List sequence. This just returns the static list.xml data contained in the 'data' Folder Change this to anthing you want to return live data form target applications. 
]]></wsdl:documentation>
      <soap:operation soapAction="sampleMobilePdf?LoadList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
<wsdl:documentation><![CDATA[Sample Login sequence. Change this sequence to anything enabling a Login with a user and password to the target system. The best way is to call a Login transaction.


]]></wsdl:documentation>
      <soap:operation soapAction="sampleMobilePdf?Login"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sampleMobilePdf">
    <wsdl:port name="sampleMobilePdfSOAP" binding="sampleMobilePdf_ns:sampleMobilePdfSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/sampleMobilePdf/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
