Studio/projects/sampleMobileConvertigoWebMobile/sampleMobileConvertigoWebMobile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sampleMobileConvertigoWebMobile" targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobileConvertigoWebMobile" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sampleMobileConvertigoWebMobile_ns="http://www.convertigo.com/convertigo/projects/sampleMobileConvertigoWebMobile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobileConvertigoWebMobile"><xsd:include schemaLocation="sampleMobileConvertigoWebMobile.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="convertigo_HTML_connector__ConnectRequest">
    <wsdl:part name="parameters" element="sampleMobileConvertigoWebMobile_ns:convertigo_HTML_connector__Connect">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertigo_HTML_connector__ConnectResponse">
    <wsdl:part name="parameters" element="sampleMobileConvertigoWebMobile_ns:convertigo_HTML_connector__ConnectResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="void__DefaultTransactionResponse">
    <wsdl:part name="parameters" element="sampleMobileConvertigoWebMobile_ns:void__DefaultTransactionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertigo_HTML_connector__ConnectResponse">
    <wsdl:part name="parameters" element="sampleMobileConvertigoWebMobile_ns:convertigo_HTML_connector__ConnectResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertigo_HTML_connector__SetMouseOverRequest">
    <wsdl:part name="parameters" element="sampleMobileConvertigoWebMobile_ns:convertigo_HTML_connector__SetMouseOver">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertigo_HTML_connector__ConnectRequest">
    <wsdl:part name="parameters" element="sampleMobileConvertigoWebMobile_ns:convertigo_HTML_connector__Connect">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertigo_HTML_connector__SetMouseOverResponse">
    <wsdl:part name="parameters" element="sampleMobileConvertigoWebMobile_ns:convertigo_HTML_connector__SetMouseOverResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="void__DefaultTransactionRequest">
    <wsdl:part name="parameters" element="sampleMobileConvertigoWebMobile_ns:void__DefaultTransaction">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sampleMobileConvertigoWebMobilePortType">
    <wsdl:operation name="void__DefaultTransaction">
<wsdl:documentation/>
      <wsdl:input message="sampleMobileConvertigoWebMobile_ns:void__DefaultTransactionRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileConvertigoWebMobile_ns:void__DefaultTransactionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertigo_HTML_connector__SetMouseOver">
<wsdl:documentation/>
      <wsdl:input message="sampleMobileConvertigoWebMobile_ns:convertigo_HTML_connector__SetMouseOverRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileConvertigoWebMobile_ns:convertigo_HTML_connector__SetMouseOverResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertigo_HTML_connector__Connect">
<wsdl:documentation/>
      <wsdl:input message="sampleMobileConvertigoWebMobile_ns:convertigo_HTML_connector__ConnectRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileConvertigoWebMobile_ns:convertigo_HTML_connector__ConnectResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sampleMobileConvertigoWebMobileSOAPBinding" type="sampleMobileConvertigoWebMobile_ns:sampleMobileConvertigoWebMobilePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="void__DefaultTransaction">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobileConvertigoWebMobile?void__DefaultTransaction"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertigo_HTML_connector__SetMouseOver">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobileConvertigoWebMobile?convertigo_HTML_connector__SetMouseOver"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertigo_HTML_connector__Connect">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobileConvertigoWebMobile?convertigo_HTML_connector__Connect"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertigo_HTML_connector__Connect">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="sampleMobileConvertigoWebMobile?convertigo_HTML_connector__ConnectGoTo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sampleMobileConvertigoWebMobile">
    <wsdl:port name="sampleMobileConvertigoWebMobileSOAP" binding="sampleMobileConvertigoWebMobile_ns:sampleMobileConvertigoWebMobileSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/sampleMobileConvertigoWebMobile/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
