Studio/projects/sample_refManual_statements/sample_refManual_statements.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sample_refManual_statements" targetNamespace="http://www.convertigo.com/convertigo/projects/sample_refManual_statements" xmlns:sample_refManual_statements_ns="http://www.convertigo.com/convertigo/projects/sample_refManual_statements" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/sample_refManual_statements"><xsd:include schemaLocation="sample_refManual_statements.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="googleSearchConnector__goToGoogleComResponse">
    <wsdl:part name="parameters" element="sample_refManual_statements_ns:googleSearchConnector__goToGoogleComResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__goToGoogleComRequest_RPC">
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__searchGoogleRequest">
    <wsdl:part name="parameters" element="sample_refManual_statements_ns:googleSearchConnector__searchGoogle">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__searchGoogleResponse_RPC">
    <wsdl:part name="response" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleResponseData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__searchGoogleRequest_RPC">
    <wsdl:part name="keyword" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__searchGoogleOnePageRequest_RPC">
    <wsdl:part name="keyword" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__goToGoogleComRequest">
    <wsdl:part name="parameters" element="sample_refManual_statements_ns:googleSearchConnector__goToGoogleCom">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__searchGoogleOnePageRequest">
    <wsdl:part name="parameters" element="sample_refManual_statements_ns:googleSearchConnector__searchGoogleOnePage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__searchGoogleWithLimitRequest_RPC">
    <wsdl:part name="keyword" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="maxPages" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__searchGoogleResponse">
    <wsdl:part name="parameters" element="sample_refManual_statements_ns:googleSearchConnector__searchGoogleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__searchGoogleOnePageResponse">
    <wsdl:part name="parameters" element="sample_refManual_statements_ns:googleSearchConnector__searchGoogleOnePageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__searchGoogleOnePageResponse_RPC">
    <wsdl:part name="response" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleOnePageResponseData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__goToGoogleComResponse_RPC">
    <wsdl:part name="response" type="sample_refManual_statements_ns:googleSearchConnector__goToGoogleComResponseData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__searchGoogleWithLimitRequest">
    <wsdl:part name="parameters" element="sample_refManual_statements_ns:googleSearchConnector__searchGoogleWithLimit">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__searchGoogleWithLimitResponse">
    <wsdl:part name="parameters" element="sample_refManual_statements_ns:googleSearchConnector__searchGoogleWithLimitResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="googleSearchConnector__searchGoogleWithLimitResponse_RPC">
    <wsdl:part name="response" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleWithLimitResponseData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sample_refManual_statementsPortType_RPC">
    <wsdl:operation name="googleSearchConnector__searchGoogleOnePage">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_statements_ns:googleSearchConnector__searchGoogleOnePageRequest_RPC">
    </wsdl:input>
      <wsdl:output message="sample_refManual_statements_ns:googleSearchConnector__searchGoogleOnePageResponse_RPC">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="googleSearchConnector__searchGoogleWithLimit">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_statements_ns:googleSearchConnector__searchGoogleWithLimitRequest_RPC">
    </wsdl:input>
      <wsdl:output message="sample_refManual_statements_ns:googleSearchConnector__searchGoogleWithLimitResponse_RPC">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="googleSearchConnector__goToGoogleCom">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_statements_ns:googleSearchConnector__goToGoogleComRequest_RPC">
    </wsdl:input>
      <wsdl:output message="sample_refManual_statements_ns:googleSearchConnector__goToGoogleComResponse_RPC">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="googleSearchConnector__searchGoogle">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="sample_refManual_statements_ns:googleSearchConnector__searchGoogleRequest_RPC">
    </wsdl:input>
      <wsdl:output message="sample_refManual_statements_ns:googleSearchConnector__searchGoogleResponse_RPC">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="sample_refManual_statementsPortType">
    <wsdl:operation name="googleSearchConnector__searchGoogleOnePage">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_statements_ns:googleSearchConnector__searchGoogleOnePageRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_statements_ns:googleSearchConnector__searchGoogleOnePageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="googleSearchConnector__searchGoogleWithLimit">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_statements_ns:googleSearchConnector__searchGoogleWithLimitRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_statements_ns:googleSearchConnector__searchGoogleWithLimitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="googleSearchConnector__goToGoogleCom">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_statements_ns:googleSearchConnector__goToGoogleComRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_statements_ns:googleSearchConnector__goToGoogleComResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="googleSearchConnector__searchGoogle">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="sample_refManual_statements_ns:googleSearchConnector__searchGoogleRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_statements_ns:googleSearchConnector__searchGoogleResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sample_refManual_statementsSOAPBinding" type="sample_refManual_statements_ns:sample_refManual_statementsPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="googleSearchConnector__searchGoogleOnePage">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_statements?googleSearchConnector__searchGoogleOnePage"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="googleSearchConnector__searchGoogleWithLimit">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_statements?googleSearchConnector__searchGoogleWithLimit"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="googleSearchConnector__goToGoogleCom">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_statements?googleSearchConnector__goToGoogleCom"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="googleSearchConnector__searchGoogle">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="sample_refManual_statements?googleSearchConnector__searchGoogle"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sample_refManual_statementsSOAPBinding_RPC" type="sample_refManual_statements_ns:sample_refManual_statementsPortType_RPC">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="googleSearchConnector__searchGoogleOnePage">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_statements?googleSearchConnector__searchGoogleOnePage"/>
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_statements"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_statements"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="googleSearchConnector__searchGoogleWithLimit">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_statements?googleSearchConnector__searchGoogleWithLimit"/>
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_statements"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_statements"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="googleSearchConnector__goToGoogleCom">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_statements?googleSearchConnector__goToGoogleCom"/>
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_statements"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_statements"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="googleSearchConnector__searchGoogle">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="sample_refManual_statements?googleSearchConnector__searchGoogle"/>
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_statements"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_statements"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sample_refManual_statements">
    <wsdl:port name="sample_refManual_statementsSOAP_RPC" binding="sample_refManual_statements_ns:sample_refManual_statementsSOAPBinding_RPC">
      <soap:address location="http://localhost:18080/convertigo/projects/sample_refManual_statements/.ws"/>
    </wsdl:port>
    <wsdl:port name="sample_refManual_statementsSOAP" binding="sample_refManual_statements_ns:sample_refManual_statementsSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/sample_refManual_statements/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
