Studio/projects/sample_refManual_statements/sample_refManual_statements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sample_refManual_statements_ns="http://www.convertigo.com/convertigo/projects/sample_refManual_statements" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/sample_refManual_statements">
<xsd:complexType name="ConvertigoErrorContext">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="sample_refManual_statements_ns:ConvertigoErrorContextVariable"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ConvertigoError">
<xsd:sequence>
<xsd:element name="context" type="sample_refManual_statements_ns:ConvertigoErrorContext"/>
<xsd:element name="exception" type="xsd:string"/>
<xsd:element name="message" type="xsd:string"/>
<xsd:element name="stacktrace" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ConvertigoErrorContextVariable">
<xsd:attribute name="name" type="xsd:string"/>
<xsd:attribute name="value" type="xsd:string"/>
</xsd:complexType>
<xsd:element name="googleFormConnector__fillForm" type="sample_refManual_statements_ns:googleFormConnector__fillFormRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="googleFormConnector__fillFormResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:googleFormConnector__fillFormResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="googleFormConnector__fillFormRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="inputs">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="googleFormConnector__fillFormResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="usDirectoryConnector__Default_transaction" type="sample_refManual_statements_ns:usDirectoryConnector__Default_transactionRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="usDirectoryConnector__Default_transactionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:usDirectoryConnector__Default_transactionResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="usDirectoryConnector__Default_transactionRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="usDirectoryConnector__Default_transactionResponseData"/>
<xsd:element name="usDirectoryConnector__searchBusiness" type="sample_refManual_statements_ns:usDirectoryConnector__searchBusinessRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="usDirectoryConnector__searchBusinessResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:usDirectoryConnector__searchBusinessResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="usDirectoryConnector__searchBusinessRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="business" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="cityZIPcode" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="state" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="usDirectoryConnector__searchBusinessResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="googleSearchConnector__Default_transaction" type="sample_refManual_statements_ns:googleSearchConnector__Default_transactionRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="googleSearchConnector__Default_transactionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:googleSearchConnector__Default_transactionResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="googleSearchConnector__Default_transactionRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="googleSearchConnector__Default_transactionResponseData"/>
<xsd:element name="SalesForceConnector__DefaultWebClippingTransaction" type="sample_refManual_statements_ns:SalesForceConnector__DefaultWebClippingTransactionRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SalesForceConnector__DefaultWebClippingTransactionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:SalesForceConnector__DefaultWebClippingTransactionResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__DefaultWebClippingTransactionRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__DefaultWebClippingTransactionResponseData"/>
<xsd:element name="SalesForceConnector__GoLeads" type="sample_refManual_statements_ns:SalesForceConnector__GoLeadsRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SalesForceConnector__GoLeadsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:SalesForceConnector__GoLeadsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__GoLeadsRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="viewName" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>viewName</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__GoLeadsResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SalesForceConnector__PreferencesRegistration" type="sample_refManual_statements_ns:SalesForceConnector__PreferencesRegistrationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SalesForceConnector__PreferencesRegistrationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:SalesForceConnector__PreferencesRegistrationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__PreferencesRegistrationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="password" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>password</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>username</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__PreferencesRegistrationResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="googleSearchConnector__searchGoogleOnePage" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleOnePageRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="googleSearchConnector__searchGoogleOnePageResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleOnePageResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="googleSearchConnector__searchGoogleOnePageRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="keyword" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>keyword to be searched</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="googleSearchConnector__searchGoogleOnePageResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="listResults" type="sample_refManual_statements_ns:listResultsTableType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="googleSearchConnector__searchGoogleWithLimit" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleWithLimitRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="googleSearchConnector__searchGoogleWithLimitResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleWithLimitResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="googleSearchConnector__searchGoogleWithLimitRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="keyword" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>keyword to be searched</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="maxPages" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>maximum number of pages to accumulate</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="googleSearchConnector__searchGoogleWithLimitResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="listResults" type="sample_refManual_statements_ns:listResultsTableType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="googleSearchConnector__goToGoogleCom" type="sample_refManual_statements_ns:googleSearchConnector__goToGoogleComRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="googleSearchConnector__goToGoogleComResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:googleSearchConnector__goToGoogleComResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="googleSearchConnector__goToGoogleComRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="googleSearchConnector__goToGoogleComResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="listResults" type="sample_refManual_statements_ns:listResultsTableType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="SalesForceConnector__LoginFromPreferences" type="sample_refManual_statements_ns:SalesForceConnector__LoginFromPreferencesRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SalesForceConnector__LoginFromPreferencesResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:SalesForceConnector__LoginFromPreferencesResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__LoginFromPreferencesRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__LoginFromPreferencesResponseData"/>
<xsd:element name="SalesForceConnector__Login" type="sample_refManual_statements_ns:SalesForceConnector__LoginRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SalesForceConnector__LoginResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:SalesForceConnector__LoginResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SalesForceConnector__LoginRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>username</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="password" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>password</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SalesForceConnector__LoginResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
<xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="ConvertigoWebSiteConnector__Default_transaction" type="sample_refManual_statements_ns:ConvertigoWebSiteConnector__Default_transactionRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="ConvertigoWebSiteConnector__Default_transactionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:ConvertigoWebSiteConnector__Default_transactionResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ConvertigoWebSiteConnector__Default_transactionRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="ConvertigoWebSiteConnector__Default_transactionResponseData"/>
<xsd:element name="ConvertigoWebSiteConnector__downloadCWIdocumentation" type="sample_refManual_statements_ns:ConvertigoWebSiteConnector__downloadCWIdocumentationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="ConvertigoWebSiteConnector__downloadCWIdocumentationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:ConvertigoWebSiteConnector__downloadCWIdocumentationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ConvertigoWebSiteConnector__downloadCWIdocumentationRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="ConvertigoWebSiteConnector__downloadCWIdocumentationResponseData"/>
<xsd:element name="ConvertigoIntranetConnector__Default_transaction" type="sample_refManual_statements_ns:ConvertigoIntranetConnector__Default_transactionRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="ConvertigoIntranetConnector__Default_transactionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:ConvertigoIntranetConnector__Default_transactionResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ConvertigoIntranetConnector__Default_transactionRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="ConvertigoIntranetConnector__Default_transactionResponseData"/>
<xsd:element name="ConvertigoIntranetConnector__GoToHolidaysApp" type="sample_refManual_statements_ns:ConvertigoIntranetConnector__GoToHolidaysAppRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="ConvertigoIntranetConnector__GoToHolidaysAppResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:ConvertigoIntranetConnector__GoToHolidaysAppResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="ConvertigoIntranetConnector__GoToHolidaysAppRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="password" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ConvertigoIntranetConnector__GoToHolidaysAppResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="googleSearchConnector__searchGoogle" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="googleSearchConnector__searchGoogleResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:googleSearchConnector__searchGoogleResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="googleSearchConnector__searchGoogleRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="keyword" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>keyword to be searched</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="googleSearchConnector__searchGoogleResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="listResults" type="sample_refManual_statements_ns:listResultsTableType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="simpleGoogleConnector__Default_transaction" type="sample_refManual_statements_ns:simpleGoogleConnector__Default_transactionRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="simpleGoogleConnector__Default_transactionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:simpleGoogleConnector__Default_transactionResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="simpleGoogleConnector__Default_transactionRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="simpleGoogleConnector__Default_transactionResponseData"/>
<xsd:element name="simpleGoogleConnector__googleSearch" type="sample_refManual_statements_ns:simpleGoogleConnector__googleSearchRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="simpleGoogleConnector__googleSearchResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="sample_refManual_statements_ns:simpleGoogleConnector__googleSearchResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="simpleGoogleConnector__googleSearchRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="keyword" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="simpleGoogleConnector__googleSearchResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="sample_refManual_statements_ns:ConvertigoError"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="googleResults" type="sample_refManual_statements_ns:googleResultsTableType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
