Studio/projects/sample_documentation_CMS/sample_documentation_CMS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sample_documentation_CLI_ns="http://www.convertigo.com/convertigo/projects/sample_documentation_CLI" xmlns:sample_documentation_CMS_ns="http://www.convertigo.com/convertigo/projects/sample_documentation_CMS" xmlns:sample_documentation_CWI_ns="http://www.convertigo.com/convertigo/projects/sample_documentation_CWI" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/sample_documentation_CMS">
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence>
            <xsd:element name="context" type="sample_documentation_CMS_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="sample_documentation_CMS_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="DatabaseConnector__defaultTransactionToBeConfiguredResponseData"/>
    <xsd:complexType name="DatabaseConnector__SelectAllArticlesResponseData"/>
    <xsd:complexType name="DatabaseConnector__SelectArticlesResponseData"/>
    <xsd:group name="step1255526380019Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="insertOk" type="sample_documentation_CMS_ns:step1255526777524Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="step1255427772290Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CMS_ns:DatabaseConnector__InsertArticleResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="step1255426359563Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CMS_ns:DatabaseConnector__InsertArticleResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="step1255526351275Type">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255526380019Type"/>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255526380050Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="step1255429513153Type">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255528756913Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="step1255429414953Type">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255429513153Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="step1255429595591Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CMS_ns:DatabaseConnector__InsertWebSiteResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="step1255424097429Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CLI_ns:test5250wsConnector__GetArticleDataResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="step1255528756961Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="insertOk" type="sample_documentation_CMS_ns:step1255528757008Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="step1255528757055Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="insertError" type="sample_documentation_CMS_ns:step1255528757102Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="step1255527864285Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:group name="step1255526380050Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="insertError" type="sample_documentation_CMS_ns:step1255527156079Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="step1255427518738Type">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255527864189Type"/>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255429414953Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="step1255527864382Type"/>
    <xsd:complexType name="step1255527156079Type"/>
    <xsd:complexType name="step1255528757102Type"/>
    <xsd:group name="step1255528756913Type">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255528756961Type"/>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255528757055Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="step1255428417316Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CWI_ns:GoogleConnector__searchGoogleWithLimitResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="step1255528757008Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="step1255424656382Type"/>
    <xsd:group name="step1255527864333Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="insertError" type="sample_documentation_CMS_ns:step1255527864382Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="step1255527864237Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="insertOk" type="sample_documentation_CMS_ns:step1255527864285Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="step1255425468502Type">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255526351275Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="step1255527864189Type">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255527864237Type"/>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255527864333Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="step1255526777524Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:group name="step1255427209587Type">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255427518738Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="step1255533783555Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="transaction" type="sample_documentation_CMS_ns:step1255532906780Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="step1255531348758Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="articleNotFound" type="sample_documentation_CMS_ns:step1255532332717Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="step1255530858989Type"/>
    <xsd:group name="step1255534601721Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="article" type="sample_documentation_CMS_ns:step1255533392486Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="step1255530689445Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CLI_ns:demo5250Connector__GetArticleDataResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="step1255531862119Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="step1255533392486Type">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255533783555Type"/>
        </xsd:sequence>
        <xsd:attribute name="article_code" type="xsd:string" use="optional"/>
        <xsd:attribute name="article_name" type="xsd:string" use="optional"/>
        <xsd:attribute name="article_status" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="step1255533985284Type"/>
    <xsd:complexType name="step1255531714014Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="code" type="sample_documentation_CMS_ns:step1255531862119Type"/>
            <xsd:element minOccurs="0" name="status" type="sample_documentation_CMS_ns:step1255531999116Type"/>
            <xsd:element minOccurs="0" name="rsp" type="sample_documentation_CMS_ns:step1255532144315Type"/>
            <xsd:element minOccurs="0" name="product_group" type="sample_documentation_CMS_ns:step1255532176471Type"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="step1255532332717Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="code" type="sample_documentation_CMS_ns:step1255532358388Type"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="step1255532906780Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CWI_ns:GoogleConnector__searchGoogleWithLimitResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="step1255532358388Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:group name="step1255532478682Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="articlesList" type="sample_documentation_CMS_ns:step1255534497333Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="step1255532144315Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="article_rsp" type="sample_documentation_CLI_ns:GetArticleData_article_rspType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="step1255531999116Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="article_status" type="sample_documentation_CLI_ns:GetArticleData_article_statusType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="step1255532176471Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="product_group" type="sample_documentation_CLI_ns:GetArticleData_product_groupType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="step1255531348726Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="articleFound" type="sample_documentation_CMS_ns:step1255531714014Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="step1255531300431Type">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255531348726Type"/>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255531348758Type"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="step1255534497333Type">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_documentation_CMS_ns:step1255534601721Type"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DatabaseConnector__InsertArticleResponseData">
        <xsd:sequence>
            <xsd:element name="sql_output" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="DatabaseConnector__InsertWebSiteResponseData">
        <xsd:sequence>
            <xsd:element name="sql_output" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
    </xsd:complexType>
    <xsd:element name="DatabaseConnector__defaultTransactionToBeConfigured" type="sample_documentation_CMS_ns:DatabaseConnector__defaultTransactionToBeConfiguredRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DatabaseConnector__defaultTransactionToBeConfiguredResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_documentation_CMS_ns:DatabaseConnector__defaultTransactionToBeConfiguredResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DatabaseConnector__defaultTransactionToBeConfiguredRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="tableName" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>tableName</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DatabaseConnector__InsertArticle" type="sample_documentation_CMS_ns:DatabaseConnector__InsertArticleRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DatabaseConnector__InsertArticleResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_documentation_CMS_ns:DatabaseConnector__InsertArticleResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DatabaseConnector__InsertArticleRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="a_code" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>a_code</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="a_name" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>a_name</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="a_status" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>a_status</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="a_rsp" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>a_rsp</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="a_product_group" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>a_product_group</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DatabaseConnector__InsertWebSite" type="sample_documentation_CMS_ns:DatabaseConnector__InsertWebSiteRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DatabaseConnector__InsertWebSiteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_documentation_CMS_ns:DatabaseConnector__InsertWebSiteResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DatabaseConnector__InsertWebSiteRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="a_code" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>a_code</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ws_url" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>ws_url</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ws_title" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>ws_title</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DatabaseConnector__SelectAllArticles" type="sample_documentation_CMS_ns:DatabaseConnector__SelectAllArticlesRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DatabaseConnector__SelectAllArticlesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_documentation_CMS_ns:DatabaseConnector__SelectAllArticlesResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DatabaseConnector__SelectAllArticlesRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:element name="DatabaseConnector__SelectArticles" type="sample_documentation_CMS_ns:DatabaseConnector__SelectArticlesRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DatabaseConnector__SelectArticlesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_documentation_CMS_ns:DatabaseConnector__SelectArticlesResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DatabaseConnector__SelectArticlesRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:element name="GetXMLData" type="sample_documentation_CMS_ns:GetXMLDataRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="GetXMLDataResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_documentation_CMS_ns:GetXMLDataResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="GetXMLDataRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="article_code" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>article code</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetXMLDataResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_documentation_CMS_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="articleFound" type="sample_documentation_CMS_ns:articleFound1255531714014StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="articleNotFound" type="sample_documentation_CMS_ns:articleNotFound1255532332717StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="articlesList" type="sample_documentation_CMS_ns:articlesList1255534497333StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="articleNotFound1255532332717StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="code" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="articleFound1255531714014StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="code" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="status" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="rsp" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="product_group" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1255532906780StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CWI_ns:GoogleConnector__searchGoogleWithLimitResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1255530689445StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CLI_ns:demo5250Connector__GetArticleDataResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="articlesList1255534497333StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="article" type="sample_documentation_CMS_ns:article1255533392486StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="article1255533392486StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="resultItem" type="sample_documentation_CWI_ns:resultItem_listResultsRowType"/>
        </xsd:sequence>
        <xsd:attribute name="article_code" type="xsd:string" use="optional">
            <xsd:annotation/>
        </xsd:attribute>
        <xsd:attribute name="article_name" type="xsd:string" use="optional">
            <xsd:annotation/>
        </xsd:attribute>
        <xsd:attribute name="article_status" type="xsd:string" use="optional">
            <xsd:annotation/>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:element name="InsertDataInBase" type="sample_documentation_CMS_ns:InsertDataInBaseRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="InsertDataInBaseResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_documentation_CMS_ns:InsertDataInBaseResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="InsertDataInBaseRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="article_code" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>article code</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InsertDataInBaseResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_documentation_CMS_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="article_num" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="insertOk" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="insertError" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="insertOk" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="insertError" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="insertOk" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="insertError" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1255427772290StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CMS_ns:DatabaseConnector__InsertArticleResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1255426359563StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CMS_ns:DatabaseConnector__InsertArticleResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1255429595591StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CMS_ns:DatabaseConnector__InsertWebSiteResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1255424097429StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CLI_ns:demo5250Connector__GetArticleDataResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1255428417316StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="sample_documentation_CWI_ns:GoogleConnector__searchGoogleWithLimitResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="New_Sequence" type="sample_documentation_CMS_ns:New_SequenceRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="New_SequenceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_documentation_CMS_ns:New_SequenceResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="New_SequenceRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="New_SequenceResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_documentation_CMS_ns:ConvertigoError"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
