Studio/projects/sample_documentation_CMS/sample_documentation_CMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sample_documentation_CMS" targetNamespace="http://www.convertigo.com/convertigo/projects/sample_documentation_CMS" xmlns:sample_documentation_CMS_ns="http://www.convertigo.com/convertigo/projects/sample_documentation_CMS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/sample_documentation_CMS"><xsd:include schemaLocation="sample_documentation_CMS.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="DatabaseConnector__InsertArticleResponse">
    <wsdl:part name="parameters" element="sample_documentation_CMS_ns:DatabaseConnector__InsertArticleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DatabaseConnector__InsertWebSiteResponse">
    <wsdl:part name="parameters" element="sample_documentation_CMS_ns:DatabaseConnector__InsertWebSiteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DatabaseConnector__InsertArticleRequest">
    <wsdl:part name="parameters" element="sample_documentation_CMS_ns:DatabaseConnector__InsertArticle">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DatabaseConnector__InsertWebSiteRequest">
    <wsdl:part name="parameters" element="sample_documentation_CMS_ns:DatabaseConnector__InsertWebSite">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sample_documentation_CMSPortType">
    <wsdl:operation name="DatabaseConnector__InsertArticle">
      <wsdl:input message="sample_documentation_CMS_ns:DatabaseConnector__InsertArticleRequest">
    </wsdl:input>
      <wsdl:output message="sample_documentation_CMS_ns:DatabaseConnector__InsertArticleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatabaseConnector__InsertWebSite">
      <wsdl:input message="sample_documentation_CMS_ns:DatabaseConnector__InsertWebSiteRequest">
    </wsdl:input>
      <wsdl:output message="sample_documentation_CMS_ns:DatabaseConnector__InsertWebSiteResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sample_documentation_CMSSOAPBinding" type="sample_documentation_CMS_ns:sample_documentation_CMSPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DatabaseConnector__InsertArticle">
      <soap:operation soapAction="sample_documentation_CMS?DatabaseConnector__InsertArticle"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatabaseConnector__InsertWebSite">
      <soap:operation soapAction="sample_documentation_CMS?DatabaseConnector__InsertWebSite"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sample_documentation_CMS">
    <wsdl:port name="sample_documentation_CMSSOAP" binding="sample_documentation_CMS_ns:sample_documentation_CMSSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/sample_documentation_CMS/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
