6.3.x/Studio/projects/lib_Keyring/lib_Keyring.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="lib_Keyring" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_Keyring" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:lib_Keyring_ns="http://www.convertigo.com/convertigo/projects/lib_Keyring">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/lib_Keyring"><xsd:include schemaLocation="lib_Keyring.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="UpdateAuthenticationResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:UpdateAuthenticationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateUserResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:UpdateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetApplicationsRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:GetApplications">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateApplicationResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:UpdateApplicationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteApplicationResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:DeleteApplicationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUsersRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:GetUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserNotSetApplicationsRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:GetUserNotSetApplications">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateUserRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:UpdateUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteUserResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:DeleteUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddApplicationRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:AddApplication">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddApplicationResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:AddApplicationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddAuthenticationRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:AddAuthentication">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetErrorMessagesResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:GetErrorMessagesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserNotSetApplicationsResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:GetUserNotSetApplicationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUsersAndApplicationsRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:GetUsersAndApplications">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserKeychainRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:GetUserKeychain">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUserKeychainResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:GetUserKeychainResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddUserRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:AddUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetApplicationsResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:GetApplicationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteApplicationRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:DeleteApplication">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteUserRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:DeleteUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateApplicationRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:UpdateApplication">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteAuthenticationResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:DeleteAuthenticationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddUserResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:AddUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateAuthenticationRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:UpdateAuthentication">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUsersResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:GetUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetUsersAndApplicationsResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:GetUsersAndApplicationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteAuthenticationRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:DeleteAuthentication">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddAuthenticationResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:AddAuthenticationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetErrorMessagesRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:GetErrorMessages">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="lib_KeyringPortType">
    <wsdl:operation name="UpdateApplication">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:UpdateApplicationRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:UpdateApplicationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:UpdateUserRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:UpdateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthentication">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:UpdateAuthenticationRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:UpdateAuthenticationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddApplication">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:AddApplicationRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:AddApplicationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthentication">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:AddAuthenticationRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:AddAuthenticationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:AddUserRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:AddUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApplication">
<wsdl:documentation><![CDATA[Deletes an application from its ID an all associated keychains.
]]></wsdl:documentation>
      <wsdl:input message="lib_Keyring_ns:DeleteApplicationRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:DeleteApplicationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthentication">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:DeleteAuthenticationRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:DeleteAuthenticationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:DeleteUserRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:DeleteUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplications">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:GetApplicationsRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:GetApplicationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetErrorMessages">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:GetErrorMessagesRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:GetErrorMessagesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserKeychain">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:GetUserKeychainRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:GetUserKeychainResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNotSetApplications">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:GetUserNotSetApplicationsRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:GetUserNotSetApplicationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:GetUsersRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:GetUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersAndApplications">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="lib_Keyring_ns:GetUsersAndApplicationsRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:GetUsersAndApplicationsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="lib_KeyringSOAPBinding" type="lib_Keyring_ns:lib_KeyringPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UpdateApplication">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?UpdateApplication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?UpdateUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthentication">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?UpdateAuthentication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddApplication">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?AddApplication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthentication">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?AddAuthentication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?AddUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteApplication">
<wsdl:documentation><![CDATA[Deletes an application from its ID an all associated keychains.
]]></wsdl:documentation>
      <soap:operation soapAction="lib_Keyring?DeleteApplication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthentication">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?DeleteAuthentication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?DeleteUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplications">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?GetApplications"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetErrorMessages">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?GetErrorMessages"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserKeychain">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?GetUserKeychain"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNotSetApplications">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?GetUserNotSetApplications"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?GetUsers"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersAndApplications">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="lib_Keyring?GetUsersAndApplications"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="lib_Keyring">
    <wsdl:port name="lib_KeyringSOAP" binding="lib_Keyring_ns:lib_KeyringSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/lib_Keyring/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
