Studio/projects/sample_refManual_webClipper/sample_refManual_webClipper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sample_refManual_webClipper" targetNamespace="http://www.convertigo.com/convertigo/projects/sample_refManual_webClipper" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sample_refManual_webClipper_ns="http://www.convertigo.com/convertigo/projects/sample_refManual_webClipper">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/sample_refManual_webClipper"><xsd:include schemaLocation="sample_refManual_webClipper.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="GoogleConnector__XMLizeResponse">
    <wsdl:part name="parameters" element="sample_refManual_webClipper_ns:GoogleConnector__XMLizeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertigoWebSiteConnector__XMLizeResponse">
    <wsdl:part name="parameters" element="sample_refManual_webClipper_ns:convertigoWebSiteConnector__XMLizeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertigoWebSiteConnector__goToConvertigoCloudProductPageRequest_RPC">
  </wsdl:message>
  <wsdl:message name="convertigoWebSiteConnector__XMLizeRequest">
    <wsdl:part name="parameters" element="sample_refManual_webClipper_ns:convertigoWebSiteConnector__XMLize">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertigoWebSiteConnector__XMLizeRequest_RPC">
  </wsdl:message>
  <wsdl:message name="GoogleConnector__XMLizeResponse_RPC">
    <wsdl:part name="response" type="sample_refManual_webClipper_ns:GoogleConnector__XMLizeResponseData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleConnector__XMLizeRequest">
    <wsdl:part name="parameters" element="sample_refManual_webClipper_ns:GoogleConnector__XMLize">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertigoWebSiteConnector__goToConvertigoCloudProductPageResponse_RPC">
    <wsdl:part name="response" type="sample_refManual_webClipper_ns:convertigoWebSiteConnector__goToConvertigoCloudProductPageResponseData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertigoWebSiteConnector__goToConvertigoCloudProductPageRequest">
    <wsdl:part name="parameters" element="sample_refManual_webClipper_ns:convertigoWebSiteConnector__goToConvertigoCloudProductPage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertigoWebSiteConnector__goToConvertigoCloudProductPageResponse">
    <wsdl:part name="parameters" element="sample_refManual_webClipper_ns:convertigoWebSiteConnector__goToConvertigoCloudProductPageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GoogleConnector__XMLizeRequest_RPC">
  </wsdl:message>
  <wsdl:message name="convertigoWebSiteConnector__XMLizeResponse_RPC">
    <wsdl:part name="response" type="sample_refManual_webClipper_ns:convertigoWebSiteConnector__XMLizeResponseData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sample_refManual_webClipperPortType">
    <wsdl:operation name="convertigoWebSiteConnector__goToConvertigoCloudProductPage">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_webClipper_ns:convertigoWebSiteConnector__goToConvertigoCloudProductPageRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_webClipper_ns:convertigoWebSiteConnector__goToConvertigoCloudProductPageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertigoWebSiteConnector__XMLize">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_webClipper_ns:convertigoWebSiteConnector__XMLizeRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_webClipper_ns:convertigoWebSiteConnector__XMLizeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleConnector__XMLize">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="sample_refManual_webClipper_ns:GoogleConnector__XMLizeRequest">
    </wsdl:input>
      <wsdl:output message="sample_refManual_webClipper_ns:GoogleConnector__XMLizeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="sample_refManual_webClipperPortType_RPC">
    <wsdl:operation name="convertigoWebSiteConnector__goToConvertigoCloudProductPage">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_webClipper_ns:convertigoWebSiteConnector__goToConvertigoCloudProductPageRequest_RPC">
    </wsdl:input>
      <wsdl:output message="sample_refManual_webClipper_ns:convertigoWebSiteConnector__goToConvertigoCloudProductPageResponse_RPC">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertigoWebSiteConnector__XMLize">
<wsdl:documentation/>
      <wsdl:input message="sample_refManual_webClipper_ns:convertigoWebSiteConnector__XMLizeRequest_RPC">
    </wsdl:input>
      <wsdl:output message="sample_refManual_webClipper_ns:convertigoWebSiteConnector__XMLizeResponse_RPC">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleConnector__XMLize">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="sample_refManual_webClipper_ns:GoogleConnector__XMLizeRequest_RPC">
    </wsdl:input>
      <wsdl:output message="sample_refManual_webClipper_ns:GoogleConnector__XMLizeResponse_RPC">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sample_refManual_webClipperSOAPBinding" type="sample_refManual_webClipper_ns:sample_refManual_webClipperPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="convertigoWebSiteConnector__goToConvertigoCloudProductPage">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_webClipper?convertigoWebSiteConnector__goToConvertigoCloudProductPage"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertigoWebSiteConnector__XMLize">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_webClipper?convertigoWebSiteConnector__XMLize"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleConnector__XMLize">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="sample_refManual_webClipper?GoogleConnector__XMLize"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sample_refManual_webClipperSOAPBinding_RPC" type="sample_refManual_webClipper_ns:sample_refManual_webClipperPortType_RPC">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="convertigoWebSiteConnector__goToConvertigoCloudProductPage">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_webClipper?convertigoWebSiteConnector__goToConvertigoCloudProductPage"/>
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_webClipper"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_webClipper"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertigoWebSiteConnector__XMLize">
<wsdl:documentation/>
      <soap:operation soapAction="sample_refManual_webClipper?convertigoWebSiteConnector__XMLize"/>
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_webClipper"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_webClipper"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GoogleConnector__XMLize">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="sample_refManual_webClipper?GoogleConnector__XMLize"/>
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_webClipper"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.convertigo.com/convertigo/projects/sample_refManual_webClipper"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sample_refManual_webClipper">
    <wsdl:port name="sample_refManual_webClipperSOAP_RPC" binding="sample_refManual_webClipper_ns:sample_refManual_webClipperSOAPBinding_RPC">
      <soap:address location="http://localhost:18080/convertigo/projects/sample_refManual_webClipper/.ws"/>
    </wsdl:port>
    <wsdl:port name="sample_refManual_webClipperSOAP" binding="sample_refManual_webClipper_ns:sample_refManual_webClipperSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/sample_refManual_webClipper/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
