Studio/projects/lib_Keyring/lib_Keyring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_Keyring_ns="http://www.convertigo.com/convertigo/projects/lib_Keyring" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_Keyring">
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence>
            <xsd:element name="context" type="lib_Keyring_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_Keyring_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetUsersAndApplications" type="lib_Keyring_ns:GetUsersAndApplicationsRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="GetUsersAndApplicationsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:GetUsersAndApplicationsResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="GetUsersAndApplicationsRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="GetUsersAndApplicationsResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="users" type="lib_Keyring_ns:users1334646524617StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="user1334646524623StepType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
                <xsd:attribute name="name" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
                <xsd:attribute name="applications" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="users1334646524617StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="user" type="lib_Keyring_ns:user1334646524623StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1334646655798StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserKeychainByNameResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1334646524614StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUsersResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1334653392965StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserKeychainByNameResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="keychain1334653392971StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="authentication" type="lib_Keyring_ns:authentication1334653392977StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="authentication1334653392977StepType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="application" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
                <xsd:attribute name="username" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="GetUserNotSetApplications" type="lib_Keyring_ns:GetUserNotSetApplicationsRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="GetUserNotSetApplicationsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:GetUserNotSetApplicationsResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="GetUserNotSetApplicationsRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetUserNotSetApplicationsResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="applications" type="lib_Keyring_ns:applications1334653392971StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="application1334653392977StepType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="applications1334653392971StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="application" type="lib_Keyring_ns:application1334653392977StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1334653409901StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserNotSetApplicationsByNameResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1334670826616StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="authentication1334670826625StepType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="username" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
                <xsd:attribute name="password" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="DeleteAuthentication" type="lib_Keyring_ns:DeleteAuthenticationRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DeleteAuthenticationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DeleteAuthenticationResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DeleteAuthenticationRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="application" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeleteAuthenticationResponseData">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="transaction1334670991801StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__DeleteAuthenticationByNamesResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetAuthentication" type="lib_Keyring_ns:GetAuthenticationRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="GetAuthenticationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:GetAuthenticationResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="GetAuthenticationRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="application" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetAuthenticationResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="authentication" type="lib_Keyring_ns:authentication1333360487617StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1333360414877StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="authentication1333360487617StepType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="username" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
                <xsd:attribute name="password" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444728StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444734StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444740StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444746StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444752StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444758StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444764StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444770StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444776StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444782StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="dbInitWithSampleData" type="lib_Keyring_ns:dbInitWithSampleDataRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="dbInitWithSampleDataResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:dbInitWithSampleDataResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="dbInitWithSampleDataRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="dbInitWithSampleDataResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444623StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444626StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444632StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444638StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444644StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444650StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444656StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444662StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444668StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444674StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444680StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444686StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444692StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444698StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444704StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444710StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444716StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444788StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444803StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444818StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444833StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444848StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444863StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444878StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444893StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444668StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444833StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444662StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444656StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444788StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444848StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444716StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444650StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444644StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444704StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444863StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444710StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444638StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddUserResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444698StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444803StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444878StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444632StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddUserResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444626StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddUserResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444692StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444623StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:dbInitTablesResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444893StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444680StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444818StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444686StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1334583444674StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760935StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760950StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760965StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760980StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760995StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425761010StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425761025StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760863StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760869StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760875StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760881StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760887StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760893StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760899StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760905StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760911StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760917StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760923StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760929StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="dbInitWithSampleData1" type="lib_Keyring_ns:dbInitWithSampleData1RequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="dbInitWithSampleData1Response">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:dbInitWithSampleData1ResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="dbInitWithSampleData1RequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="dbInitWithSampleData1ResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1335425760836StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1335425760839StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1335425760845StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1335425760851StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1335425760857StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1335425761040StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760857StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760845StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddUserResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760851StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddUserResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760836StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:dbInitTablesResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425761040StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="sequence1335425760839StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddUserResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1338370270424StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__AddUserResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="AddApplication" type="lib_Keyring_ns:AddApplicationRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="AddApplicationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:AddApplicationResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="AddApplicationRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="application" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AddApplicationResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="application" type="lib_Keyring_ns:application1338370618687StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1338370210999StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetApplicationIDResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1333096742386StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__AddApplicationResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="application1338370618687StepType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
                <xsd:attribute name="name" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="transaction1338804516856StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserIDResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1338804516865StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetApplicationIDResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UpdateApplication" type="lib_Keyring_ns:UpdateApplicationRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="UpdateApplicationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:UpdateApplicationResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="UpdateApplicationRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="applicationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>application</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>username</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UpdateApplicationResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1338804516874StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__UpdateApplicationByNameResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__UpdateUserByIDResponseData"/>
    <xsd:element name="DB__UpdateUserByID" type="lib_Keyring_ns:DB__UpdateUserByIDRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__UpdateUserByIDResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__UpdateUserByIDResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__UpdateUserByIDRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>username</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="userID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>userID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UpdateUser" type="lib_Keyring_ns:UpdateUserRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="UpdateUserResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:UpdateUserResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="UpdateUserRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>username</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="userID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>userID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UpdateUserResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1338821875830StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__UpdateUserByIDResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="application1338823351482StepType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
                <xsd:attribute name="name" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="AddUser" type="lib_Keyring_ns:AddUserRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="AddUserResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:AddUserResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="AddUserRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AddUserResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="transaction" type="lib_Keyring_ns:transaction1333096739354StepType">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element minOccurs="0" name="user" type="lib_Keyring_ns:user1338823351482StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="user1338823351482StepType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="id" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
                <xsd:attribute name="name" type="xsd:string" use="optional">
                    <xsd:annotation/>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="transaction1338823506606StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserIDResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1333096739354StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__AddUserResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="AddAuthentication" type="lib_Keyring_ns:AddAuthenticationRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="AddAuthenticationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:AddAuthenticationResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="AddAuthenticationRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="application" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="username" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="password" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AddAuthenticationResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="transaction" type="lib_Keyring_ns:transaction1333098388218StepType">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1333098388218StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__AddAuthenticationByNamesResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1333098385242StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetApplicationIDResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1333098382053StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserIDResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UpdateAuthentication" type="lib_Keyring_ns:UpdateAuthenticationRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="UpdateAuthenticationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:UpdateAuthenticationResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="UpdateAuthenticationRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="application" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="username" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="password" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UpdateAuthenticationResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1334676486687StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserIDResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1334676405927StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__UpdateAuthenticationByIDsResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1334676500656StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetApplicationIDResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DB__AddApplication" type="lib_Keyring_ns:DB__AddApplicationRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__AddApplicationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__AddApplicationResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__AddApplicationRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="application" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__AddApplicationResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__AddUser" type="lib_Keyring_ns:DB__AddUserRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__AddUserResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__AddUserResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__AddUserRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__AddUserResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__DeleteApplicationByName" type="lib_Keyring_ns:DB__DeleteApplicationByNameRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__DeleteApplicationByNameResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__DeleteApplicationByNameResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__DeleteApplicationByNameRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="application" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__DeleteApplicationByNameResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__DeleteAuthenticationByNames" type="lib_Keyring_ns:DB__DeleteAuthenticationByNamesRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__DeleteAuthenticationByNamesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__DeleteAuthenticationByNamesResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__DeleteAuthenticationByNamesRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>user</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="application" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>application</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__DeleteAuthenticationByNamesResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:complexType name="DB__AddAuthenticationByNamesResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__AddAuthenticationByNames" type="lib_Keyring_ns:DB__AddAuthenticationByNamesRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__AddAuthenticationByNamesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__AddAuthenticationByNamesResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__AddAuthenticationByNamesRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>user</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="application" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>application</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="username" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="password" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DB__DeleteUserByName" type="lib_Keyring_ns:DB__DeleteUserByNameRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__DeleteUserByNameResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__DeleteUserByNameResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__DeleteUserByNameRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__DeleteUserByNameResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__GetApplications" type="lib_Keyring_ns:DB__GetApplicationsRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__GetApplicationsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__GetApplicationsResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__GetApplicationsRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="DB__GetApplicationsResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
                            <xsd:complexType>
                                <xsd:attribute name="id" type="xsd:integer"/>
                                <xsd:attribute name="name" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__GetAuthentication" type="lib_Keyring_ns:DB__GetAuthenticationRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__GetAuthenticationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__GetAuthenticationResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__GetAuthenticationRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>user</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="application" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>application</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__GetAuthenticationResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
                            <xsd:complexType>
                                <xsd:attribute name="username" type="xsd:string"/>
                                <xsd:attribute name="password" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__GetUserID" type="lib_Keyring_ns:DB__GetUserIDRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__GetUserIDResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__GetUserIDResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__GetUserIDRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__GetUserIDResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
                            <xsd:complexType>
                                <xsd:attribute name="id" type="xsd:integer"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__GetApplicationID" type="lib_Keyring_ns:DB__GetApplicationIDRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__GetApplicationIDResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__GetApplicationIDResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__GetApplicationIDRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="application" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__GetApplicationIDResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
                            <xsd:complexType>
                                <xsd:attribute name="id" type="xsd:integer"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__GetUsers" type="lib_Keyring_ns:DB__GetUsersRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__GetUsersResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__GetUsersResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__GetUsersRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="DB__GetUsersResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
                            <xsd:complexType>
                                <xsd:attribute name="id" type="xsd:integer"/>
                                <xsd:attribute name="name" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__UpdateApplicationByName" type="lib_Keyring_ns:DB__UpdateApplicationByNameRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__UpdateApplicationByNameResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__UpdateApplicationByNameResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__UpdateApplicationByNameRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>username</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="old_name" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>old_name</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__UpdateApplicationByNameResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__UpdateApplicationByName_old" type="lib_Keyring_ns:DB__UpdateApplicationByName_oldRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__UpdateApplicationByName_oldResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__UpdateApplicationByName_oldResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__UpdateApplicationByName_oldRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="applicationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>applicationID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>username</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__UpdateApplicationByName_oldResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__UpdateAuthenticationByIDs" type="lib_Keyring_ns:DB__UpdateAuthenticationByIDsRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__UpdateAuthenticationByIDsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__UpdateAuthenticationByIDsResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__UpdateAuthenticationByIDsRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="username" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>username</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="password" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>password</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="userID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>userID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="applicationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>applicationID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__UpdateAuthenticationByIDsResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__UpdateUserByName" type="lib_Keyring_ns:DB__UpdateUserByNameRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__UpdateUserByNameResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__UpdateUserByNameResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__UpdateUserByNameRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>username</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="old_name" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>old_name</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__UpdateUserByNameResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__DeleteUserByID" type="lib_Keyring_ns:DB__DeleteUserByIDRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__DeleteUserByIDResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__DeleteUserByIDResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__DeleteUserByIDRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="userId" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>userId</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__DeleteUserByIDResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__UpdateAuthenticationByNames" type="lib_Keyring_ns:DB__UpdateAuthenticationByNamesRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__UpdateAuthenticationByNamesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__UpdateAuthenticationByNamesResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__UpdateAuthenticationByNamesRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="username" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>username</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="password" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>password</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>user</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="application" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>application</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__UpdateAuthenticationByNamesResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__GetUserKeychainByName" type="lib_Keyring_ns:DB__GetUserKeychainByNameRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__GetUserKeychainByNameResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__GetUserKeychainByNameResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__GetUserKeychainByNameRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__GetUserKeychainByNameResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
                            <xsd:complexType>
                                <xsd:attribute name="userID" type="xsd:integer"/>
                                <xsd:attribute name="username" type="xsd:string"/>
                                <xsd:attribute name="applicationID" type="xsd:integer"/>
                                <xsd:attribute name="application" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__GetUserKeychainByID" type="lib_Keyring_ns:DB__GetUserKeychainByIDRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__GetUserKeychainByIDResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__GetUserKeychainByIDResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__GetUserKeychainByIDRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="userID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>userID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__GetUserKeychainByIDResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
                            <xsd:complexType>
                                <xsd:attribute name="userID" type="xsd:integer"/>
                                <xsd:attribute name="username" type="xsd:string"/>
                                <xsd:attribute name="applicationID" type="xsd:integer"/>
                                <xsd:attribute name="application" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__GetUserNotSetApplicationsByName" type="lib_Keyring_ns:DB__GetUserNotSetApplicationsByNameRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__GetUserNotSetApplicationsByNameResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__GetUserNotSetApplicationsByNameResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__GetUserNotSetApplicationsByNameRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>user</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__GetUserNotSetApplicationsByNameResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
                            <xsd:complexType>
                                <xsd:attribute name="id" type="xsd:integer"/>
                                <xsd:attribute name="name" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__GetUserNotSetApplicationsByID" type="lib_Keyring_ns:DB__GetUserNotSetApplicationsByIDRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__GetUserNotSetApplicationsByIDResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__GetUserNotSetApplicationsByIDResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__GetUserNotSetApplicationsByIDRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="userID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>userID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__GetUserNotSetApplicationsByIDResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
                            <xsd:complexType>
                                <xsd:attribute name="id" type="xsd:integer"/>
                                <xsd:attribute name="name" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__DeleteApplicationByID" type="lib_Keyring_ns:DB__DeleteApplicationByIDRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__DeleteApplicationByIDResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__DeleteApplicationByIDResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__DeleteApplicationByIDRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="applicationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>applicationID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__DeleteApplicationByIDResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DeleteApplication" type="lib_Keyring_ns:DeleteApplicationRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DeleteApplicationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DeleteApplicationResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DeleteApplicationRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="applicationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeleteApplicationResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1351262469947StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__DeleteApplicationByIDResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DeleteUserByNameByID" type="lib_Keyring_ns:DeleteUserByNameByIDRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[not reviewed


]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DeleteUserByNameByIDResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DeleteUserByNameByIDResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DeleteUserByNameByIDRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[not reviewed


]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="userID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeleteUserByNameByIDResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DeleteUser" type="lib_Keyring_ns:DeleteUserRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[not reviewed


]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DeleteUserResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DeleteUserResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DeleteUserRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[not reviewed


]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="userID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>new variable</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DeleteUserResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="transaction1351263306253StepType">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__DeleteUserByIDResponseData">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DB__DeleteAuthenticationsForApplicationID" type="lib_Keyring_ns:DB__DeleteAuthenticationsForApplicationIDRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__DeleteAuthenticationsForApplicationIDResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__DeleteAuthenticationsForApplicationIDResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__DeleteAuthenticationsForApplicationIDRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="applicationID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>applicationID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__DeleteAuthenticationsForApplicationIDResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="DB__DeleteAuthenticationsForUserID" type="lib_Keyring_ns:DB__DeleteAuthenticationsForUserIDRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="DB__DeleteAuthenticationsForUserIDResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_Keyring_ns:DB__DeleteAuthenticationsForUserIDResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="DB__DeleteAuthenticationsForUserIDRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="userID" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>userID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DB__DeleteAuthenticationsForUserIDResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
</xsd:schema>
