Studio/projects/lib_Keyring/lib_Keyring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_Keyring_ns="http://www.convertigo.com/convertigo/projects/lib_Keyring" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_Keyring">
<xsd:complexType name="ConvertigoErrorContextVariable">
<xsd:attribute name="name" type="xsd:string"/>
<xsd:attribute name="value" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="ConvertigoError">
<xsd:sequence>
<xsd:element name="context" type="lib_Keyring_ns:ConvertigoErrorContext"/>
<xsd:element name="exception" type="xsd:string"/>
<xsd:element name="message" type="xsd:string"/>
<xsd:element name="stacktrace" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ConvertigoErrorContext">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_Keyring_ns:ConvertigoErrorContextVariable"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="GetUsersAndApplications" type="lib_Keyring_ns:GetUsersAndApplicationsRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="GetUsersAndApplicationsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:GetUsersAndApplicationsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="GetUsersAndApplicationsRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="GetUsersAndApplicationsResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="users" type="lib_Keyring_ns:users1334646524617StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="user1334646524623StepType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="id" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="name" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="applications" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="users1334646524617StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="user" type="lib_Keyring_ns:user1334646524623StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334646655798StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserKeychainResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334646524614StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUsersResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DB__GetUserNotSetApplicationsResponseData"/>
<xsd:element name="DB__GetUserNotSetApplications" type="lib_Keyring_ns:DB__GetUserNotSetApplicationsRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="DB__GetUserNotSetApplicationsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:DB__GetUserNotSetApplicationsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DB__GetUserNotSetApplicationsRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="user" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>user</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334653392965StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserKeychainResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="keychain1334653392971StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="authentication" type="lib_Keyring_ns:authentication1334653392977StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="authentication1334653392977StepType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="application" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="username" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:element name="GetUserNotSetApplications" type="lib_Keyring_ns:GetUserNotSetApplicationsRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="GetUserNotSetApplicationsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:GetUserNotSetApplicationsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="GetUserNotSetApplicationsRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="user">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetUserNotSetApplicationsResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="applications" type="lib_Keyring_ns:applications1334653392971StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="application1334653392977StepType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="name" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="applications1334653392971StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="application" type="lib_Keyring_ns:application1334653392977StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334653409901StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserNotSetApplicationsResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DB__DeleteAuthenticationResponseData"/>
<xsd:element name="DB__DeleteAuthentication" type="lib_Keyring_ns:DB__DeleteAuthenticationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="DB__DeleteAuthenticationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:DB__DeleteAuthenticationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DB__DeleteAuthenticationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="user" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>user</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="application" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>application</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334670826616StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="authentication1334670826625StepType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="username" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="password" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:element name="DeleteAuthentication" type="lib_Keyring_ns:DeleteAuthenticationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="DeleteAuthenticationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:DeleteAuthenticationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DeleteAuthenticationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="user" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="application" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DeleteAuthenticationResponseData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="transaction1334670991801StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__DeleteAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="UpdateAuthentication" type="lib_Keyring_ns:UpdateAuthenticationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="UpdateAuthenticationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:UpdateAuthenticationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="UpdateAuthenticationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="user" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="application" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="oldPassword" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="newPassword" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UpdateAuthenticationResponseData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="transaction1334676486687StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserIDResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334676405927StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__UpdateAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334676500656StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetApplicationIDResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DB__UpdateAuthenticationResponseData"/>
<xsd:element name="GetAuthentication" type="lib_Keyring_ns:GetAuthenticationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="GetAuthenticationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:GetAuthenticationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="GetAuthenticationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="user" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="application" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetAuthenticationResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="authentication" type="lib_Keyring_ns:authentication1333360487617StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1333360414877StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="authentication1333360487617StepType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="username" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="password" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:element name="DB__UpdateAuthentication" type="lib_Keyring_ns:DB__UpdateAuthenticationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="DB__UpdateAuthenticationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:DB__UpdateAuthenticationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DB__UpdateAuthenticationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>username</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="password" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>password</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="userID" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>userID</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="applicationID" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>applicationID</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444728StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444734StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444740StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444746StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444752StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444758StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444764StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444770StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444776StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444782StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="dbInitWithSampleData" type="lib_Keyring_ns:dbInitWithSampleDataRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="dbInitWithSampleDataResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:dbInitWithSampleDataResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="dbInitWithSampleDataRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="dbInitWithSampleDataResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444623StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444626StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444632StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444638StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444644StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444650StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444656StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444662StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444668StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444674StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444680StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444686StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444692StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444698StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444704StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444710StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444716StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444788StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444803StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444818StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444833StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444848StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444863StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444878StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1334583444893StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444668StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444833StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444662StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444656StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444788StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444848StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444716StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444650StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444644StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444704StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444863StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444710StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444638StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddUserResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444698StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444803StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444878StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444632StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddUserResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444626StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddUserResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444692StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444623StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:dbInitTablesResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444893StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444680StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444818StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444686StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1334583444674StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760935StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760950StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760965StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760980StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760995StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425761010StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425761025StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760863StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760869StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760875StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760881StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760887StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760893StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760899StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760905StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760911StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760917StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760923StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760929StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="dbInitWithSampleData1" type="lib_Keyring_ns:dbInitWithSampleData1RequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="dbInitWithSampleData1Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:dbInitWithSampleData1ResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="dbInitWithSampleData1RequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="dbInitWithSampleData1ResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1335425760836StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1335425760839StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1335425760845StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1335425760851StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1335425760857StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="sequence" type="lib_Keyring_ns:sequence1335425761040StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760857StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760845StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddUserResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760851StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddUserResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760836StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:dbInitTablesResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425761040StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="sequence1335425760839StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:AddUserResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="DeleteApplication" type="lib_Keyring_ns:DeleteApplicationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="DeleteApplicationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:DeleteApplicationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DeleteApplicationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="application" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DeleteApplicationResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1338370270424StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__AddUserResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="AddApplication" type="lib_Keyring_ns:AddApplicationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="AddApplicationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:AddApplicationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="AddApplicationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="application" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AddApplicationResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="application" type="lib_Keyring_ns:application1338370618687StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1338370210999StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetApplicationIDResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1333096742386StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__AddApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="application1338370618687StepType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="id" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="name" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="DB__UpdateApplicationResponseData"/>
<xsd:element name="DB__UpdateApplication" type="lib_Keyring_ns:DB__UpdateApplicationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="DB__UpdateApplicationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:DB__UpdateApplicationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DB__UpdateApplicationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="applicationID" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>applicationID</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="name" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>username</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1338804516856StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserIDResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1338804516865StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetApplicationIDResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="UpdateApplication" type="lib_Keyring_ns:UpdateApplicationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="UpdateApplicationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:UpdateApplicationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="UpdateApplicationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="applicationID" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>application</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="name" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>username</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UpdateApplicationResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1338804516874StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__UpdateApplicationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DB__UpdateUserResponseData"/>
<xsd:element name="DB__UpdateUser" type="lib_Keyring_ns:DB__UpdateUserRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="DB__UpdateUserResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:DB__UpdateUserResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DB__UpdateUserRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="name" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>username</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="userID" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>userID</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="UpdateUser" type="lib_Keyring_ns:UpdateUserRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="UpdateUserResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:UpdateUserResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="UpdateUserRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="name" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>username</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="userID" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>userID</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UpdateUserResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1338821875830StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__UpdateUserResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="application1338823351482StepType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="id" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="name" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:element name="AddUser" type="lib_Keyring_ns:AddUserRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="AddUserResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:AddUserResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="AddUserRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="user" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="AddUserResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="lib_Keyring_ns:ConvertigoError"/>
<xsd:element minOccurs="0" name="transaction" type="lib_Keyring_ns:transaction1333096739354StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="user" type="lib_Keyring_ns:user1338823351482StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="user1338823351482StepType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="id" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="name" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="transaction1338823506606StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserIDResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1333096739354StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__AddUserResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
