Studio/projects/lib_Keyring/lib_Keyring.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_Keyring_ns="http://www.convertigo.com/convertigo/projects/lib_Keyring" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_Keyring">
<xsd:complexType name="ConvertigoErrorContextVariable">
<xsd:attribute name="name" type="xsd:string"/>
<xsd:attribute name="value" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="ConvertigoError">
<xsd:sequence>
<xsd:element name="context" type="lib_Keyring_ns:ConvertigoErrorContext"/>
<xsd:element name="exception" type="xsd:string"/>
<xsd:element name="message" type="xsd:string"/>
<xsd:element name="stacktrace" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ConvertigoErrorContext">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_Keyring_ns:ConvertigoErrorContextVariable"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="GetUsersAndApplications" type="lib_Keyring_ns:GetUsersAndApplicationsRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="GetUsersAndApplicationsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:GetUsersAndApplicationsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="GetUsersAndApplicationsRequestData">
<xsd:annotation/>
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="GetUsersAndApplicationsResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="users" type="lib_Keyring_ns:users1334646524617StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="user1334646524623StepType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="id" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="name" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="applications" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="users1334646524617StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="user" type="lib_Keyring_ns:user1334646524623StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334646655798StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserKeychainResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334646524614StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUsersResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DB__GetUserNotSetApplicationsResponseData"/>
<xsd:element name="DB__GetUserNotSetApplications" type="lib_Keyring_ns:DB__GetUserNotSetApplicationsRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="DB__GetUserNotSetApplicationsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:DB__GetUserNotSetApplicationsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DB__GetUserNotSetApplicationsRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="user" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>user</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334653392965StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserKeychainResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="keychain1334653392971StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="authentication" type="lib_Keyring_ns:authentication1334653392977StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="authentication1334653392977StepType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="application" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="username" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:element name="GetUserNotSetApplications" type="lib_Keyring_ns:GetUserNotSetApplicationsRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="GetUserNotSetApplicationsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:GetUserNotSetApplicationsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="GetUserNotSetApplicationsRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="user">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GetUserNotSetApplicationsResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="applications" type="lib_Keyring_ns:applications1334653392971StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="application1334653392977StepType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="name" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="applications1334653392971StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="application" type="lib_Keyring_ns:application1334653392977StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334653409901StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserNotSetApplicationsResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DB__DeleteAuthenticationResponseData"/>
<xsd:element name="DB__DeleteAuthentication" type="lib_Keyring_ns:DB__DeleteAuthenticationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="DB__DeleteAuthenticationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:DB__DeleteAuthenticationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DB__DeleteAuthenticationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="user" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>user</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="application" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>application</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334670826616StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="authentication1334670826625StepType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="username" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="password" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:element name="DeleteAuthentication" type="lib_Keyring_ns:DeleteAuthenticationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="DeleteAuthenticationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:DeleteAuthenticationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DeleteAuthenticationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="user" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="application" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DeleteAuthenticationResponseData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="transaction1334670991801StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__DeleteAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="UpdateAuthentication" type="lib_Keyring_ns:UpdateAuthenticationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="UpdateAuthenticationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:UpdateAuthenticationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="UpdateAuthenticationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="user" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="application" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="oldPassword" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="newPassword" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UpdateAuthenticationResponseData">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="transaction1334676486687StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetUserIDResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334676405927StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__UpdateAuthenticationResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1334676500656StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_Keyring_ns:DB__GetApplicationIDResponseData">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DB__UpdateAuthenticationResponseData"/>
<xsd:element name="DB__UpdateAuthentication" type="lib_Keyring_ns:DB__UpdateAuthenticationRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="DB__UpdateAuthenticationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_Keyring_ns:DB__UpdateAuthenticationResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="DB__UpdateAuthenticationRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>username</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="password" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>password</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="userID" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>userID</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="applicationID" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>applicationID</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
