Studio/projects/lib_Keyring/lib_Keyring.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="lib_Keyring" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_Keyring" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:lib_Keyring_ns="http://www.convertigo.com/convertigo/projects/lib_Keyring">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/lib_Keyring"><xsd:include schemaLocation="lib_Keyring.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="DeleteApplicationRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:DeleteApplication">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateAuthenticationResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:UpdateAuthenticationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateUserRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:UpdateUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateUserResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:UpdateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateApplicationRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:UpdateApplication">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateAuthenticationRequest">
    <wsdl:part name="parameters" element="lib_Keyring_ns:UpdateAuthentication">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteApplicationResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:DeleteApplicationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateApplicationResponse">
    <wsdl:part name="parameters" element="lib_Keyring_ns:UpdateApplicationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="lib_KeyringPortType">
    <wsdl:operation name="DeleteApplication">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:DeleteApplicationRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:DeleteApplicationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApplication">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:UpdateApplicationRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:UpdateApplicationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
<wsdl:documentation/>
      <wsdl:input message="lib_Keyring_ns:UpdateUserRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:UpdateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthentication">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="lib_Keyring_ns:UpdateAuthenticationRequest">
    </wsdl:input>
      <wsdl:output message="lib_Keyring_ns:UpdateAuthenticationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="lib_KeyringSOAPBinding" type="lib_Keyring_ns:lib_KeyringPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DeleteApplication">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?DeleteApplication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateApplication">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?UpdateApplication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
<wsdl:documentation/>
      <soap:operation soapAction="lib_Keyring?UpdateUser"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthentication">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="lib_Keyring?UpdateAuthentication"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="lib_Keyring">
    <wsdl:port name="lib_KeyringSOAP" binding="lib_Keyring_ns:lib_KeyringSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/lib_Keyring/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
