Studio/projects/lib_GoogleSpreadsheets/xsd/internal/SpreadsheetConnector/RecordAdd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_GoogleSpreadsheets_ns="http://www.convertigo.com/convertigo/projects/lib_GoogleSpreadsheets" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_GoogleSpreadsheets">
    <xsd:element name="SpreadsheetConnector__RecordAdd" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__RecordAddRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Adds a new record into a specified table of a specified spreadsheet.
\n
\nYou can specify the record's title, and the columns names and matching values to insert.
\n
\nWhen you insert a new record, Spreadsheets adds the new data to a row in the worksheet, then adds a new record to the table using the newly added data.
\n
\nThe choice of which worksheet row to put the data in is determined by the table's mode:
\n
\n    * If the table is set to use insert mode, then Spreadsheets adds a new row to the worksheet, and puts the new data in that new row.
\n    * If the table is set to use overwrite mode, then Spreadsheets uses the next unused row from the worksheet. If there are no unused rows in the worksheet, then Spreadsheets adds a new row to the worksheet, as if the table were set to use insert mode.
\n
]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SpreadsheetConnector__RecordAddRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Adds a new record into a specified table of a specified spreadsheet.
\n
\nYou can specify the record's title, and the columns names and matching values to insert.
\n
\nWhen you insert a new record, Spreadsheets adds the new data to a row in the worksheet, then adds a new record to the table using the newly added data.
\n
\nThe choice of which worksheet row to put the data in is determined by the table's mode:
\n
\n    * If the table is set to use insert mode, then Spreadsheets adds a new row to the worksheet, and puts the new data in that new row.
\n    * If the table is set to use overwrite mode, then Spreadsheets uses the next unused row from the worksheet. If there are no unused rows in the worksheet, then Spreadsheets adds a new row to the worksheet, as if the table were set to use insert mode.
\n
]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Spreadsheet ID</xsd:appinfo>
                    <xsd:documentation><![CDATA[In the spreadsheet metafeed, the URI given in the <link> element with rel="alternate" contains the key parameter which is the spreadsheet ID.
\nNote that the key value that appears here is the same as the key value that appears in the URL displayed in the address bar of your browser window when you open the spreadsheet manually.
\n
\nExample :
\n
\n	<entry gd:etag="&quot;UEAIVxkPRit7ImBr&quot;">
\n            <id>http://spreadsheets.google.com/feeds/spreadsheets/txds3zcAaa4kKD9lyUvnsdA</id>
\n            <updated>2010-05-20T12:49:21.541Z</updated>
\n            <category scheme="http://schemas.google.com/spreadsheets/2006" term="http://schemas.google.com/spreadsheets/2006#spreadsheet"/>
\n            <title>Toto</title>
\n            <content src="http://spreadsheets.google.com/feeds/worksheets/txds3zcAaa4kKD9lyUvnsdA/private/full" type="application/atom+xml;type=feed"/>
\n            <link href="http://spreadsheets.google.com/feeds/txds3zcAaa4kKD9lyUvnsdA/tables" rel="http://schemas.google.com/spreadsheets/2006#tablesfeed" type="application/atom+xml"/>
\n            <link href="http://spreadsheets.google.com/ccc?key=0AiPfeOwPkXkpdHhkczN6Y0FhYTRrS0Q5bHlVdm5zZEE" rel="alternate" type="text/html"/>
\n            <link href="https://spreadsheets.google.com/feeds/spreadsheets/private/full/txds3zcAaa4kKD9lyUvnsdA" rel="self" type="application/atom+xml"/>
\n            <author>
\n                <name>...</name>
\n                <email>...</email>
\n            </author>
\n	</entry>
\n
\nIn the worksheet metafeed, the URI given in the <link> element with rel="http://schemas.google.com/visualization/2008#visualizationApi" contains the key parameter too.
\n
\nTo easily get the spreadsheet key from the spreadsheet metafeed, you can use the "HelperGetSpreadsheetKey" transaction from this project.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="title" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>New record title</xsd:appinfo>
                    <xsd:documentation><![CDATA[Title of the new record to add.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="columnValue">
                <xsd:annotation>
                    <xsd:appinfo>Columns values</xsd:appinfo>
                    <xsd:documentation><![CDATA[Values of the record's columns.
]]></xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="columnName">
                <xsd:annotation>
                    <xsd:appinfo>Columns names</xsd:appinfo>
                    <xsd:documentation><![CDATA[Names of the record's columns.
]]></xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="tableNumber" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Table number</xsd:appinfo>
                    <xsd:documentation><![CDATA[In the table metafeed, the URI given in the <link> element with rel="edit" contains the data which is the table number, after the substring "/tables/".
\n
\nExample :
\n
\n       <entry gd:etag="&quot;CERXVEQNByt7ImBr&quot;">
\n            <id>http://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/tables/0</id>
\n            <updated>2010-06-11T14:47:40.261Z</updated>
\n            <app:edited xmlns:app="http://www.w3.org/2007/app">2010-06-11T14:47:40.261Z</app:edited>
\n            <category scheme="http://schemas.google.com/g/2005#kind" term="http://schemas.google.com/spreadsheets/2006#table"/>
\n            <title>Table2</title>
\n            <summary>This is a list of all who have registered to vote.</summary>
\n            <content src="http://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/records/0" type="application/atom+xml;type=feed"/>
\n            <link href="https://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/tables/0" rel="self" type="application/atom+xml"/>
\n            <link href="https://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/tables/0" rel="edit" type="application/atom+xml"/>
\n            <gs:worksheet name="Feuille2"/>
\n            <gs:header row="1"/>
\n            <gs:options allCols="false" allRows="false"/>
\n            <gs:data insertionMode="overwrite" numRows="4" startRow="5">
\n                <gs:column index="D" name="fourth column"/>
\n                <gs:column index="C" name="third column"/>
\n                <gs:column index="A" name="first column"/>
\n            </gs:data>
\n        </entry>
\n
\nTo easily get the table number from the table metafeed, you can use the "HelperGetTableNumber" transaction from this project.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SpreadsheetConnector__RecordAddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__RecordAddResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="SpreadsheetConnector__RecordAddResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="entry" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordAdd_document_entryType"/>
            <xsd:element minOccurs="0" name="expiryError" type="xsd:string"/>
            <xsd:element minOccurs="0" name="error" type="lib_GoogleSpreadsheets_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_RecordAdd_document_entryType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="updated" type="xsd:date"/>
            <xsd:element minOccurs="0" name="edited" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordAdd_document_entry_editedType"/>
            <xsd:element minOccurs="0" name="category" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordAdd_document_entry_categoryType"/>
            <xsd:element minOccurs="0" name="title" type="xsd:byte"/>
            <xsd:element minOccurs="0" name="content" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordAdd_document_entry_linkType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="field" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordAdd_document_entry_fieldType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_RecordAdd_document_entry_editedType"/>
    <xsd:complexType name="SpreadsheetConnector_RecordAdd_document_entry_categoryType">
        <xsd:attribute name="scheme" type="xsd:anyURI"/>
        <xsd:attribute name="term" type="xsd:anyURI"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_RecordAdd_document_entry_linkType">
        <xsd:attribute name="href" type="xsd:anyURI"/>
        <xsd:attribute name="rel" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_RecordAdd_document_entry_fieldType">
        <xsd:attribute name="index" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector__RecordAddResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__RecordAddResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_GoogleSpreadsheets_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_GoogleSpreadsheets_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
