Studio/projects/lib_GoogleSpreadsheets/xsd/internal/SpreadsheetConnector/RecordsList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:lib_GoogleSpreadsheets_ns="http://www.convertigo.com/convertigo/projects/lib_GoogleSpreadsheets" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_GoogleSpreadsheets">
    <element name="SpreadsheetConnector__RecordsList" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__RecordsListRequestData">
        <annotation>
            <documentation><![CDATA[A table consists of a set of records. For a given table, you can retrieve that table's record feed to see the contents of the records.
\n
\nNote that the order of items in each record is the same as the order of columns in the table definition, which may not match the order of columns in the GUI.
\n
\nThis transaction retrieves a table's record feed with all the records from the specified table of the specified spreadsheet.
]]></documentation>
        </annotation>
    </element>
    <complexType name="SpreadsheetConnector__RecordsListRequestData">
        <annotation>
            <documentation><![CDATA[A table consists of a set of records. For a given table, you can retrieve that table's record feed to see the contents of the records.
\n
\nNote that the order of items in each record is the same as the order of columns in the table definition, which may not match the order of columns in the GUI.
\n
\nThis transaction retrieves a table's record feed with all the records from the specified table of the specified spreadsheet.
]]></documentation>
        </annotation>
        <sequence>
            <element name="key" type="string">
                <annotation>
                    <appinfo>Spreadsheet ID</appinfo>
                    <documentation><![CDATA[In the spreadsheet metafeed, the URI given in the <link> element with rel="alternate" contains the key parameter which is the spreadsheet ID.
\nNote that the key value that appears here is the same as the key value that appears in the URL displayed in the address bar of your browser window when you open the spreadsheet manually.
\n
\nExample :
\n
\n	<entry gd:etag="&quot;UEAIVxkPRit7ImBr&quot;">
\n            <id>http://spreadsheets.google.com/feeds/spreadsheets/txds3zcAaa4kKD9lyUvnsdA</id>
\n            <updated>2010-05-20T12:49:21.541Z</updated>
\n            <category scheme="http://schemas.google.com/spreadsheets/2006" term="http://schemas.google.com/spreadsheets/2006#spreadsheet"/>
\n            <title>Toto</title>
\n            <content src="http://spreadsheets.google.com/feeds/worksheets/txds3zcAaa4kKD9lyUvnsdA/private/full" type="application/atom+xml;type=feed"/>
\n            <link href="http://spreadsheets.google.com/feeds/txds3zcAaa4kKD9lyUvnsdA/tables" rel="http://schemas.google.com/spreadsheets/2006#tablesfeed" type="application/atom+xml"/>
\n            <link href="http://spreadsheets.google.com/ccc?key=0AiPfeOwPkXkpdHhkczN6Y0FhYTRrS0Q5bHlVdm5zZEE" rel="alternate" type="text/html"/>
\n            <link href="https://spreadsheets.google.com/feeds/spreadsheets/private/full/txds3zcAaa4kKD9lyUvnsdA" rel="self" type="application/atom+xml"/>
\n            <author>
\n                <name>...</name>
\n                <email>...</email>
\n            </author>
\n	</entry>
\n
\nTo easily get the spreadsheet key from the spreadsheet metafeed, you can use the "HelperGetSpreadsheetKey" transaction from this project.
]]></documentation>
                </annotation>
            </element>
            <element name="tableNumber" type="string">
                <annotation>
                    <appinfo>Table number</appinfo>
                    <documentation><![CDATA[In the table metafeed, the URI given in the <link> element with rel="edit" contains the data which is the table number, after the substring "/tables/".
\n
\nExample :
\n
\n       <entry gd:etag="&quot;CERXVEQNByt7ImBr&quot;">
\n            <id>http://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/tables/0</id>
\n            <updated>2010-06-11T14:47:40.261Z</updated>
\n            <app:edited xmlns:app="http://www.w3.org/2007/app">2010-06-11T14:47:40.261Z</app:edited>
\n            <category scheme="http://schemas.google.com/g/2005#kind" term="http://schemas.google.com/spreadsheets/2006#table"/>
\n            <title>Table2</title>
\n            <summary>This is a list of all who have registered to vote.</summary>
\n            <content src="http://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/records/0" type="application/atom+xml;type=feed"/>
\n            <link href="https://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/tables/0" rel="self" type="application/atom+xml"/>
\n            <link href="https://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/tables/0" rel="edit" type="application/atom+xml"/>
\n            <gs:worksheet name="Feuille2"/>
\n            <gs:header row="1"/>
\n            <gs:options allCols="false" allRows="false"/>
\n            <gs:data insertionMode="overwrite" numRows="4" startRow="5">
\n                <gs:column index="D" name="fourth column"/>
\n                <gs:column index="C" name="third column"/>
\n                <gs:column index="A" name="first column"/>
\n            </gs:data>
\n        </entry>
\n
\nTo easily get the table number from the table metafeed, you can use the "HelperGetTableNumber" transaction from this project.
]]></documentation>
                </annotation>
            </element>
            <element name="reverseSort" type="string">
                <annotation>
                    <appinfo>Reverse sorting mode</appinfo>
                    <documentation><![CDATA[By default, records in the feed appear in the same order as the corresponding rows in the GUI; that is, they're in order by row number. 
\n
\nTo get records in reverse order, set the following parameter to 'true'.
]]></documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <element name="SpreadsheetConnector__RecordsListResponse">
        <complexType>
            <sequence>
                <element name="response" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__RecordsListResponseData"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="SpreadsheetConnector__RecordsListResponseData">
        <sequence>
            <element minOccurs="0" name="feed" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordsList_document_feedType"/>
            <element minOccurs="0" name="error" type="lib_GoogleSpreadsheets_ns:ConvertigoError"/>
        </sequence>
        <attribute name="connector" type="string"/>
        <attribute name="context" type="string"/>
        <attribute name="contextId" type="string"/>
        <attribute name="fromcache" type="boolean"/>
        <attribute name="generated" type="string"/>
        <attribute name="project" type="string"/>
        <attribute name="sequence" type="string"/>
        <attribute name="signature" type="long"/>
        <attribute name="transaction" type="string"/>
        <attribute name="version" type="string"/>
        <attribute name="fromStub" type="string"/>
        <attribute name="screenclass" type="string"/>
    </complexType>
    <complexType name="SpreadsheetConnector_RecordsList_document_feedType">
        <sequence>
            <element minOccurs="0" name="id" type="anyURI"/>
            <element minOccurs="0" name="updated" type="date"/>
            <element minOccurs="0" name="category" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordsList_document_feed_categoryType"/>
            <element minOccurs="0" name="title" type="string"/>
            <element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordsList_document_feed_linkType"/>
            <element minOccurs="0" name="author" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordsList_document_feed_authorType"/>
            <element minOccurs="0" name="totalResults" type="byte"/>
            <element minOccurs="0" name="startIndex" type="byte"/>
            <element maxOccurs="unbounded" minOccurs="0" name="entry" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordsList_document_feed_entryType"/>
        </sequence>
    </complexType>
    <complexType name="SpreadsheetConnector_RecordsList_document_feed_categoryType">
        <attribute name="scheme" type="anyURI"/>
        <attribute name="term" type="anyURI"/>
    </complexType>
    <complexType name="SpreadsheetConnector_RecordsList_document_feed_linkType">
        <attribute name="href" type="anyURI"/>
        <attribute name="rel" type="string"/>
        <attribute name="type" type="string"/>
    </complexType>
    <complexType name="SpreadsheetConnector_RecordsList_document_feed_authorType">
        <sequence>
            <element minOccurs="0" name="name" type="string"/>
            <element minOccurs="0" name="email" type="string"/>
        </sequence>
    </complexType>
    <complexType name="SpreadsheetConnector_RecordsList_document_feed_entryType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="id" type="anyURI"/>
            <element maxOccurs="unbounded" minOccurs="0" name="updated" type="date"/>
            <element maxOccurs="unbounded" minOccurs="0" name="edited" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordsList_document_feed_entry_editedType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="category" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordsList_document_feed_entry_categoryType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="title" type="byte"/>
            <element maxOccurs="unbounded" minOccurs="0" name="content" type="string"/>
            <element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordsList_document_feed_entry_linkType"/>
            <element maxOccurs="unbounded" minOccurs="0" name="field" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_RecordsList_document_feed_entry_fieldType"/>
        </sequence>
    </complexType>
    <complexType name="SpreadsheetConnector_RecordsList_document_feed_entry_editedType"/>
    <complexType name="SpreadsheetConnector_RecordsList_document_feed_entry_categoryType">
        <attribute name="scheme" type="anyURI"/>
        <attribute name="term" type="anyURI"/>
    </complexType>
    <complexType name="SpreadsheetConnector_RecordsList_document_feed_entry_linkType">
        <attribute name="href" type="anyURI"/>
        <attribute name="rel" type="string"/>
        <attribute name="type" type="string"/>
    </complexType>
    <complexType name="SpreadsheetConnector_RecordsList_document_feed_entry_fieldType">
        <attribute name="index" type="string"/>
        <attribute name="name" type="string"/>
    </complexType>
    <complexType name="SpreadsheetConnector__RecordsListResponseType">
        <sequence>
            <element name="document" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__RecordsListResponseData"/>
        </sequence>
    </complexType>
    <complexType name="ConvertigoErrorContextVariable">
        <attribute name="name" type="string"/>
        <attribute name="value" type="string"/>
    </complexType>
    <complexType name="ConvertigoErrorContext">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_GoogleSpreadsheets_ns:ConvertigoErrorContextVariable"/>
        </sequence>
    </complexType>
    <complexType name="ConvertigoError">
        <sequence minOccurs="0">
            <element name="code" type="integer"/>
            <element name="message" type="string"/>
            <element name="details" type="string"/>
            <element name="context" type="lib_GoogleSpreadsheets_ns:ConvertigoErrorContext"/>
            <element name="exception" type="string"/>
            <element name="stacktrace" type="string"/>
        </sequence>
        <attribute name="project" type="string"/>
        <attribute name="connector" type="string"/>
        <attribute name="transaction" type="string"/>
        <attribute name="sequence" type="string"/>
        <attribute name="type">
            <simpleType>
                <restriction base="string">
                    <enumeration value="c8o"/>
                    <enumeration value="project"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
</schema>
