Studio/projects/lib_GoogleSpreadsheets/xsd/internal/SpreadsheetConnector/TablesList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_GoogleSpreadsheets_ns="http://www.convertigo.com/convertigo/projects/lib_GoogleSpreadsheets" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_GoogleSpreadsheets">
    <xsd:element name="SpreadsheetConnector__TablesList" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__TablesListRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[A table feed is a feed that allows you to treat part or all of a worksheet somewhat like a table in a database - that is, as a set of structured data items.
\n
\nA table feed shows data in rows, that are called records. The table shown in a table feed can be a subset of the data in the worksheet; it can even use a set of disjoint columns, and you can define multiple tables in a single worksheet. Also, table data can come from anywhere in the worksheet; a table doesn't have to start at the top left corner of the worksheet.
\n
\nTables don't exist until you explicitly create them - before you can use a table feed, you have to explicitly define where the table data comes from, using the Data API.
\n
\nThis transaction retrieves a table feed with all the tables from the specified spreadsheet.
\n
\nIf there are several worksheets in the specified spreadsheet, it retrieves all tables from all worksheets.
\n
]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SpreadsheetConnector__TablesListRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[A table feed is a feed that allows you to treat part or all of a worksheet somewhat like a table in a database - that is, as a set of structured data items.
\n
\nA table feed shows data in rows, that are called records. The table shown in a table feed can be a subset of the data in the worksheet; it can even use a set of disjoint columns, and you can define multiple tables in a single worksheet. Also, table data can come from anywhere in the worksheet; a table doesn't have to start at the top left corner of the worksheet.
\n
\nTables don't exist until you explicitly create them - before you can use a table feed, you have to explicitly define where the table data comes from, using the Data API.
\n
\nThis transaction retrieves a table feed with all the tables from the specified spreadsheet.
\n
\nIf there are several worksheets in the specified spreadsheet, it retrieves all tables from all worksheets.
\n
]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Spreadsheet ID</xsd:appinfo>
                    <xsd:documentation><![CDATA[In the spreadsheet metafeed, the URI given in the <link> element with rel="alternate" contains the key parameter which is the spreadsheet ID.
\nNote that the key value that appears here is the same as the key value that appears in the URL displayed in the address bar of your browser window when you open the spreadsheet manually.
\n
\nExample :
\n
\n	<entry gd:etag="&quot;UEAIVxkPRit7ImBr&quot;">
\n            <id>http://spreadsheets.google.com/feeds/spreadsheets/txds3zcAaa4kKD9lyUvnsdA</id>
\n            <updated>2010-05-20T12:49:21.541Z</updated>
\n            <category scheme="http://schemas.google.com/spreadsheets/2006" term="http://schemas.google.com/spreadsheets/2006#spreadsheet"/>
\n            <title>Toto</title>
\n            <content src="http://spreadsheets.google.com/feeds/worksheets/txds3zcAaa4kKD9lyUvnsdA/private/full" type="application/atom+xml;type=feed"/>
\n            <link href="http://spreadsheets.google.com/feeds/txds3zcAaa4kKD9lyUvnsdA/tables" rel="http://schemas.google.com/spreadsheets/2006#tablesfeed" type="application/atom+xml"/>
\n            <link href="http://spreadsheets.google.com/ccc?key=0AiPfeOwPkXkpdHhkczN6Y0FhYTRrS0Q5bHlVdm5zZEE" rel="alternate" type="text/html"/>
\n            <link href="https://spreadsheets.google.com/feeds/spreadsheets/private/full/txds3zcAaa4kKD9lyUvnsdA" rel="self" type="application/atom+xml"/>
\n            <author>
\n                <name>...</name>
\n                <email>...</email>
\n            </author>
\n	</entry>
\n
\nTo easily get the spreadsheet key from the spreadsheet metafeed, you can use the "HelperGetSpreadsheetKey" transaction from this project.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SpreadsheetConnector__TablesListResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__TablesListResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="SpreadsheetConnector__TablesListResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="feed" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feedType"/>
            <xsd:element minOccurs="0" name="expiryError" type="xsd:string"/>
            <xsd:element minOccurs="0" name="error" type="lib_GoogleSpreadsheets_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feedType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="updated" type="xsd:date"/>
            <xsd:element minOccurs="0" name="category" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feed_categoryType"/>
            <xsd:element minOccurs="0" name="title" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feed_linkType"/>
            <xsd:element minOccurs="0" name="author" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feed_authorType"/>
            <xsd:element minOccurs="0" name="totalResults" type="xsd:byte"/>
            <xsd:element minOccurs="0" name="startIndex" type="xsd:byte"/>
            <xsd:element minOccurs="0" name="entry" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feed_entryType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_categoryType">
        <xsd:attribute name="scheme" type="xsd:anyURI"/>
        <xsd:attribute name="term" type="xsd:anyURI"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_linkType">
        <xsd:attribute name="href" type="xsd:anyURI"/>
        <xsd:attribute name="rel" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_authorType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="email" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entryType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="updated" type="xsd:date"/>
            <xsd:element minOccurs="0" name="edited" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feed_entry_editedType"/>
            <xsd:element minOccurs="0" name="category" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feed_entry_categoryType"/>
            <xsd:element minOccurs="0" name="title" type="xsd:string"/>
            <xsd:element minOccurs="0" name="summary" type="xsd:string"/>
            <xsd:element minOccurs="0" name="content" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feed_entry_contentType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feed_entry_linkType"/>
            <xsd:element minOccurs="0" name="worksheet" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feed_entry_worksheetType"/>
            <xsd:element minOccurs="0" name="header" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feed_entry_headerType"/>
            <xsd:element minOccurs="0" name="options" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feed_entry_optionsType"/>
            <xsd:element minOccurs="0" name="data" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feed_entry_dataType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_editedType"/>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_categoryType">
        <xsd:attribute name="scheme" type="xsd:anyURI"/>
        <xsd:attribute name="term" type="xsd:anyURI"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_contentType">
        <xsd:attribute name="src" type="xsd:anyURI"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_linkType">
        <xsd:attribute name="href" type="xsd:anyURI"/>
        <xsd:attribute name="rel" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_worksheetType">
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_headerType">
        <xsd:attribute name="row" type="xsd:byte"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_optionsType">
        <xsd:attribute name="allCols" type="xsd:boolean"/>
        <xsd:attribute name="allRows" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_dataType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="column" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TablesList_document_feed_entry_data_columnType"/>
        </xsd:sequence>
        <xsd:attribute name="insertionMode" type="xsd:string"/>
        <xsd:attribute name="numRows" type="xsd:byte"/>
        <xsd:attribute name="startRow" type="xsd:byte"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_data_columnType">
        <xsd:attribute name="index" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector__TablesListResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__TablesListResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_GoogleSpreadsheets_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_GoogleSpreadsheets_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
