Studio/projects/lib_GoogleSpreadsheets/xsd/internal/SpreadsheetConnector/TableDelete.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_GoogleSpreadsheets_ns="http://www.convertigo.com/convertigo/projects/lib_GoogleSpreadsheets" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_GoogleSpreadsheets">
    <xsd:element name="SpreadsheetConnector__TableDelete" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__TableDeleteRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Deletes a table from a given spreadsheet.
]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SpreadsheetConnector__TableDeleteRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Deletes a table from a given spreadsheet.
]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Spreadsheet ID</xsd:appinfo>
                    <xsd:documentation><![CDATA[In the spreadsheet metafeed, the URI given in the <link> element with rel="alternate" contains the key parameter which is the spreadsheet ID.
\nNote that the key value that appears here is the same as the key value that appears in the URL displayed in the address bar of your browser window when you open the spreadsheet manually.
\n
\nExample :
\n
\n	<entry gd:etag="&quot;UEAIVxkPRit7ImBr&quot;">
\n            <id>http://spreadsheets.google.com/feeds/spreadsheets/txds3zcAaa4kKD9lyUvnsdA</id>
\n            <updated>2010-05-20T12:49:21.541Z</updated>
\n            <category scheme="http://schemas.google.com/spreadsheets/2006" term="http://schemas.google.com/spreadsheets/2006#spreadsheet"/>
\n            <title>Toto</title>
\n            <content src="http://spreadsheets.google.com/feeds/worksheets/txds3zcAaa4kKD9lyUvnsdA/private/full" type="application/atom+xml;type=feed"/>
\n            <link href="http://spreadsheets.google.com/feeds/txds3zcAaa4kKD9lyUvnsdA/tables" rel="http://schemas.google.com/spreadsheets/2006#tablesfeed" type="application/atom+xml"/>
\n            <link href="http://spreadsheets.google.com/ccc?key=0AiPfeOwPkXkpdHhkczN6Y0FhYTRrS0Q5bHlVdm5zZEE" rel="alternate" type="text/html"/>
\n            <link href="https://spreadsheets.google.com/feeds/spreadsheets/private/full/txds3zcAaa4kKD9lyUvnsdA" rel="self" type="application/atom+xml"/>
\n            <author>
\n                <name>...</name>
\n                <email>...</email>
\n            </author>
\n	</entry>
\n
\nIn the worksheet metafeed, the URI given in the <link> element with rel="http://schemas.google.com/visualization/2008#visualizationApi" contains the key parameter too.
\n
\nTo easily get the spreadsheet key from the spreadsheet metafeed, you can use the "HelperGetSpreadsheetKey" transaction from this project.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="tableNumber" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Table number</xsd:appinfo>
                    <xsd:documentation><![CDATA[In the table metafeed, the URI given in the <link> element with rel="edit" contains the data which is the table number, after the substring "/tables/".
\n
\nExample :
\n
\n       <entry gd:etag="&quot;CERXVEQNByt7ImBr&quot;">
\n            <id>http://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/tables/0</id>
\n            <updated>2010-06-11T14:47:40.261Z</updated>
\n            <app:edited xmlns:app="http://www.w3.org/2007/app">2010-06-11T14:47:40.261Z</app:edited>
\n            <category scheme="http://schemas.google.com/g/2005#kind" term="http://schemas.google.com/spreadsheets/2006#table"/>
\n            <title>Table2</title>
\n            <summary>This is a list of all who have registered to vote.</summary>
\n            <content src="http://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/records/0" type="application/atom+xml;type=feed"/>
\n            <link href="https://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/tables/0" rel="self" type="application/atom+xml"/>
\n            <link href="https://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/tables/0" rel="edit" type="application/atom+xml"/>
\n            <gs:worksheet name="Feuille2"/>
\n            <gs:header row="1"/>
\n            <gs:options allCols="false" allRows="false"/>
\n            <gs:data insertionMode="overwrite" numRows="4" startRow="5">
\n                <gs:column index="D" name="fourth column"/>
\n                <gs:column index="C" name="third column"/>
\n                <gs:column index="A" name="first column"/>
\n            </gs:data>
\n        </entry>
\n
\nTo easily get the table number from the table metafeed, you can use the "HelperGetTableNumber" transaction from this project.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="etag" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Resource version (ETag)</xsd:appinfo>
                    <xsd:documentation><![CDATA[If you want to make sure that you don't delete a table that has been changed by another client since you retrieved it, specify the original table's ETag value in this variable. You can determine the original table's ETag value by examining the <entry>  element's "gd:etag" attribute.
\n
\nExample :
\n
\n	<entry gd:etag="&quot;CERXVEQNByt7ImBr&quot;">
\n            <id>http://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/tables/0</id>
\n            <updated>2010-06-11T14:47:40.261Z</updated>
\n            <app:edited xmlns:app="http://www.w3.org/2007/app">2010-06-11T14:47:40.261Z</app:edited>
\n            <category scheme="http://schemas.google.com/g/2005#kind" term="http://schemas.google.com/spreadsheets/2006#table"/>
\n            <title>Table2</title>
\n            <summary>This is a list of all who have registered to vote.</summary>
\n            <content src="http://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/records/0" type="application/atom+xml;type=feed"/>
\n            <link href="https://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/tables/0" rel="self" type="application/atom+xml"/>
\n            <link href="https://spreadsheets.google.com/feeds/td0ZjT6ZK_6JTa8m4CARnFg/tables/0" rel="edit" type="application/atom+xml"/>
\n            <gs:worksheet name="Feuille2"/>
\n            <gs:header row="1"/>
\n            <gs:options allCols="false" allRows="false"/>
\n            <gs:data insertionMode="overwrite" numRows="6" startRow="5">
\n                <gs:column index="D" name="fourth column"/>
\n                <gs:column index="C" name="third column"/>
\n                <gs:column index="A" name="first column"/>
\n            </gs:data>
\n        </entry>
\n
\nIf you want to delete the table regardless of whether someone else has updated it since you retrieved it, then use '*' value in this variable (default value).
\n
\n
\n
\n== More information about ETags ==
\n
\nSometimes you need to be able to refer to a specific version of a particular entry.
\n
\nThis is important in two cases in particular:
\n
\n    * Doing a "conditional retrieval," in which your client requests an entry, and the server sends the entry only if it has changed since the last time the client requested it.
\n    * Ensuring that multiple clients don't inadvertently overwrite one another's changes. The Data APIs do this by making updates and deletes fail if the client specifies an old version identifier for the entry.
\n
\nThe Google Data APIs handle both of these cases using ETags, a standard part of HTTP.
\n
\nAn ETag is an identifier that specifies a particular version of a particular entry. The server attaches an ETag to entry and feed elements that it sends to clients. When an entry or feed changes, its ETag changes as well.
\n
\nThe Google Data APIs provide ETags in two places: in an ETag HTTP header, and in a gd:etag attribute of <feed> and <entry> elements.
\n
\nIn the Google Data APIs, an ETag is usually a string of letters and numbers, sometimes also including hyphens and periods; the string is usually enclosed in quotation marks. (The quotation marks are part of the ETag.) For example, here's an ETag from a Data API entry: "S0wCTlpIIip7ImA0X0QI".
\n
\nThere are two kinds of ETags: strong and weak. Strong ETags identify a specific version of a specific entry, and can be used to avoid overwriting other clients' changes. Weak ETags, in the context of the Google Data APIs, are used only for conditional retrieval. A weak ETag always starts with W/. For example: W/"D08FQn8-eil7ImA9WxZbFEw."
\n
\nNot all Google Data APIs support strong ETags. For those that do, the strong ETags are used only for entries; ETags on feeds are always weak.
\n
\nHere's an example of a feed (including some of the HTTP headers) retrieved from a service that supports strong ETags:
\n
\nGData-Version: 2.0
\nETag: W/"C0QBRXcycSp7ImA9WxRVFUk."
\n...
\n<?xml version='1.0' encoding='utf-8'?>
\n<feed xmlns='http://www.w3.org/2005/Atom'
\n    xmlns:gd='http://schemas.google.com/g/2005'
\n    gd:etag='W/"C0QBRXcycSp7ImA9WxRVFUk."'>
\n  ...
\n  <entry gd:etag='"CUUEQX47eCp7ImA9WxRVEkQ."'>
\n    ...
\n  </entry>
\n</feed>
\n
\nThe client libraries that support version 2 of the Data APIs handle ETags for you, transparently. The following information is for clients that don't use client libraries, and for readers interested in how versioning is handled at the protocol level.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SpreadsheetConnector__TableDeleteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__TableDeleteResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="SpreadsheetConnector__TableDeleteResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="expiryError" type="xsd:string"/>
            <xsd:element minOccurs="0" name="error" type="lib_GoogleSpreadsheets_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector__TableDeleteResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__TableDeleteResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_GoogleSpreadsheets_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_GoogleSpreadsheets_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
