Studio/projects/lib_GoogleSpreadsheets/xsd/internal/SpreadsheetConnector/TableAdd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_GoogleSpreadsheets_ns="http://www.convertigo.com/convertigo/projects/lib_GoogleSpreadsheets" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_GoogleSpreadsheets">
    <xsd:element name="SpreadsheetConnector__TableAdd" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__TableAddRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Adds a table on a specified worksheet.
\n
\nYou can specify the header row, the start row for the data, the number of rows, and the columns (and order of columns) to use. Thus, the table can consist of a header row, any number of data rows that are adjacent in the worksheet, and any set of columns, in any order
]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="SpreadsheetConnector__TableAddRequestData">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Adds a table on a specified worksheet.
\n
\nYou can specify the header row, the start row for the data, the number of rows, and the columns (and order of columns) to use. Thus, the table can consist of a header row, any number of data rows that are adjacent in the worksheet, and any set of columns, in any order
]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Spreadsheet ID</xsd:appinfo>
                    <xsd:documentation><![CDATA[In the spreadsheet metafeed, the URI given in the <link> element with rel="alternate" contains the key parameter which is the spreadsheet ID.
\nNote that the key value that appears here is the same as the key value that appears in the URL displayed in the address bar of your browser window when you open the spreadsheet manually.
\n
\nExample :
\n
\n	<entry gd:etag="&quot;UEAIVxkPRit7ImBr&quot;">
\n            <id>http://spreadsheets.google.com/feeds/spreadsheets/txds3zcAaa4kKD9lyUvnsdA</id>
\n            <updated>2010-05-20T12:49:21.541Z</updated>
\n            <category scheme="http://schemas.google.com/spreadsheets/2006" term="http://schemas.google.com/spreadsheets/2006#spreadsheet"/>
\n            <title>Toto</title>
\n            <content src="http://spreadsheets.google.com/feeds/worksheets/txds3zcAaa4kKD9lyUvnsdA/private/full" type="application/atom+xml;type=feed"/>
\n            <link href="http://spreadsheets.google.com/feeds/txds3zcAaa4kKD9lyUvnsdA/tables" rel="http://schemas.google.com/spreadsheets/2006#tablesfeed" type="application/atom+xml"/>
\n            <link href="http://spreadsheets.google.com/ccc?key=0AiPfeOwPkXkpdHhkczN6Y0FhYTRrS0Q5bHlVdm5zZEE" rel="alternate" type="text/html"/>
\n            <link href="https://spreadsheets.google.com/feeds/spreadsheets/private/full/txds3zcAaa4kKD9lyUvnsdA" rel="self" type="application/atom+xml"/>
\n            <author>
\n                <name>...</name>
\n                <email>...</email>
\n            </author>
\n	</entry>
\n
\nIn the worksheet metafeed, the URI given in the <link> element with rel="http://schemas.google.com/visualization/2008#visualizationApi" contains the key parameter too.
\n
\nTo easily get the spreadsheet key from the spreadsheet metafeed, you can use the "HelperGetSpreadsheetKey" transaction from this project.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="title" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>New table title</xsd:appinfo>
                    <xsd:documentation><![CDATA[Title of the new table to create.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="worksheetName" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Worksheet name to create the new table</xsd:appinfo>
                    <xsd:documentation><![CDATA[Name of the worksheet in wich you want to create the new table.
\n
\nIn the worksheet metafeed, the <title> element contains the string which is the worksheet name.
\n
\nExample :
\n
\n        <entry gd:etag="&quot;U1RIVxJBSSt7ImBvA1c.&quot;">
\n            <id>http://spreadsheets.google.com/feeds/worksheets/0AiPfeOwPkXkpdHE0dEtqUFV3UmtQeGNwUzNXeUlMOFE/od6</id>
\n            <updated>2010-05-20T12:49:59.492Z</updated>
\n            <app:edited xmlns:app="http://www.w3.org/2007/app">2010-05-20T12:49:59.492Z</app:edited>
\n            <category scheme="http://schemas.google.com/spreadsheets/2006" term="http://schemas.google.com/spreadsheets/2006#worksheet"/>
\n            <title>Sheet1</title>
\n            <content src="http://spreadsheets.google.com/feeds/list/0AiPfeOwPkXkpdHE0dEtqUFV3UmtQeGNwUzNXeUlMOFE/od6/private/full" type="application/atom+xml;type=feed"/>
\n            <link href="http://spreadsheets.google.com/feeds/cells/0AiPfeOwPkXkpdHE0dEtqUFV3UmtQeGNwUzNXeUlMOFE/od6/private/full" rel="http://schemas.google.com/spreadsheets/2006#cellsfeed" type="application/atom+xml"/>
\n
\n            <link href="http://spreadsheets.google.com/tq?key=0AiPfeOwPkXkpdHE0dEtqUFV3UmtQeGNwUzNXeUlMOFE&amp;sheet=od6" rel="http://schemas.google.com/visualization/2008#visualizationApi" type="application/atom+xml"/>
\n
\n            <link href="https://spreadsheets.google.com/feeds/worksheets/0AiPfeOwPkXkpdHE0dEtqUFV3UmtQeGNwUzNXeUlMOFE/private/full/od6" rel="self" type="application/atom+xml"/>
\n            <link href="https://spreadsheets.google.com/feeds/worksheets/0AiPfeOwPkXkpdHE0dEtqUFV3UmtQeGNwUzNXeUlMOFE/private/full/od6" rel="edit" type="application/atom+xml"/>
\n            <gs:rowCount>100</gs:rowCount>
\n            <gs:colCount>20</gs:colCount>
\n        </entry>
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="headerRow" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Header row number</xsd:appinfo>
                    <xsd:documentation><![CDATA[Row number for the header row.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="summary" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>New table summary</xsd:appinfo>
                    <xsd:documentation><![CDATA[Summary of the new table.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="numRows" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Number of rows</xsd:appinfo>
                    <xsd:documentation><![CDATA[Table's number of rows.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="startRow" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Data start row</xsd:appinfo>
                    <xsd:documentation><![CDATA[Starting row number for the table's data in the worksheet.
]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="index">
                <xsd:annotation>
                    <xsd:appinfo>Columns indexes</xsd:appinfo>
                    <xsd:documentation><![CDATA[Indexes of the table's columns.
]]></xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="columnName">
                <xsd:annotation>
                    <xsd:appinfo>Columns names</xsd:appinfo>
                    <xsd:documentation><![CDATA[Names of the table's columns.
]]></xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SpreadsheetConnector__TableAddResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__TableAddResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="SpreadsheetConnector__TableAddResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="entry" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TableAdd_document_entryType"/>
            <xsd:element minOccurs="0" name="expiryError" type="xsd:string"/>
            <xsd:element minOccurs="0" name="error" type="lib_GoogleSpreadsheets_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TableAdd_document_entryType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
            <xsd:element minOccurs="0" name="updated" type="xsd:date"/>
            <xsd:element minOccurs="0" name="edited" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TableAdd_document_entry_editedType"/>
            <xsd:element minOccurs="0" name="category" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TableAdd_document_entry_categoryType"/>
            <xsd:element minOccurs="0" name="title" type="xsd:string"/>
            <xsd:element minOccurs="0" name="summary" type="xsd:string"/>
            <xsd:element minOccurs="0" name="content" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TableAdd_document_entry_contentType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TableAdd_document_entry_linkType"/>
            <xsd:element minOccurs="0" name="worksheet" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TableAdd_document_entry_worksheetType"/>
            <xsd:element minOccurs="0" name="header" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TableAdd_document_entry_headerType"/>
            <xsd:element minOccurs="0" name="options" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TableAdd_document_entry_optionsType"/>
            <xsd:element minOccurs="0" name="data" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TableAdd_document_entry_dataType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_editedType"/>
    <xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_categoryType">
        <xsd:attribute name="scheme" type="xsd:anyURI"/>
        <xsd:attribute name="term" type="xsd:anyURI"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_contentType">
        <xsd:attribute name="src" type="xsd:anyURI"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_linkType">
        <xsd:attribute name="href" type="xsd:anyURI"/>
        <xsd:attribute name="rel" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_worksheetType">
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_headerType">
        <xsd:attribute name="row" type="xsd:byte"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_optionsType">
        <xsd:attribute name="allCols" type="xsd:boolean"/>
        <xsd:attribute name="allRows" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_dataType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="column" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector_TableAdd_document_entry_data_columnType"/>
        </xsd:sequence>
        <xsd:attribute name="insertionMode" type="xsd:string"/>
        <xsd:attribute name="numRows" type="xsd:byte"/>
        <xsd:attribute name="startRow" type="xsd:byte"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_data_columnType">
        <xsd:attribute name="index" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SpreadsheetConnector__TableAddResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="lib_GoogleSpreadsheets_ns:SpreadsheetConnector__TableAddResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_GoogleSpreadsheets_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="lib_GoogleSpreadsheets_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
