Studio/projects/lib_GoogleDocs/xsd/lib_GoogleDocs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lib_GoogleDocs_ns="http://www.convertigo.com/convertigo/projects/lib_GoogleDocs" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/lib_GoogleDocs">
<xsd:complexType name="ConvertigoErrorContext">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="lib_GoogleDocs_ns:ConvertigoErrorContextVariable"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ConvertigoErrorContextVariable">
<xsd:attribute name="name" type="xsd:string"/>
<xsd:attribute name="value" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="ConvertigoError">
<xsd:sequence>
<xsd:element name="context" type="lib_GoogleDocs_ns:ConvertigoErrorContext"/>
<xsd:element name="exception" type="xsd:string"/>
<xsd:element name="message" type="xsd:string"/>
<xsd:element name="stacktrace" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleDocsConnector__RetreiveDocumentListResponseData"/>
<xsd:complexType name="GoogleDocsConnector__LoginResponseData"/>
<xsd:complexType name="GoogleDocsConnector_SearchDocuments_document_feed_categoryType">
<xsd:attribute name="label" type="xsd:string"/>
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="GoogleDocsConnector_SearchDocuments_document_feed_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="GoogleDocsConnector_SearchDocuments_document_feed_authorType">
<xsd:sequence>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleDocsConnector_SearchDocuments_document_feed_entry_editedType"/>
<xsd:complexType name="GoogleDocsConnector_SearchDocuments_document_feed_entry_categoryType">
<xsd:attribute name="label" type="xsd:string"/>
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="GoogleDocsConnector_SearchDocuments_document_feed_entry_contentType">
<xsd:attribute name="src" type="xsd:anyURI"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="GoogleDocsConnector_SearchDocuments_document_feed_entry_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="GoogleDocsConnector_SearchDocuments_document_feed_entry_authorType">
<xsd:sequence>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleDocsConnector_SearchDocuments_document_feed_entry_lastModifiedByType">
<xsd:sequence>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleDocsConnector_SearchDocuments_document_feed_entry_writersCanInviteType">
<xsd:attribute name="value" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="GoogleDocsConnector_SearchDocuments_document_feed_entry_feedLinkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="GoogleDocsConnector_SearchDocuments_document_feed_entryType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="published" type="xsd:date"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="edited" type="lib_GoogleDocs_ns:GoogleDocsConnector_SearchDocuments_document_feed_entry_editedType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="category" type="lib_GoogleDocs_ns:GoogleDocsConnector_SearchDocuments_document_feed_entry_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element minOccurs="0" name="content" type="lib_GoogleDocs_ns:GoogleDocsConnector_SearchDocuments_document_feed_entry_contentType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:GoogleDocsConnector_SearchDocuments_document_feed_entry_linkType"/>
<xsd:element minOccurs="0" name="author" type="lib_GoogleDocs_ns:GoogleDocsConnector_SearchDocuments_document_feed_entry_authorType"/>
<xsd:element minOccurs="0" name="resourceId" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastModifiedBy" type="lib_GoogleDocs_ns:GoogleDocsConnector_SearchDocuments_document_feed_entry_lastModifiedByType"/>
<xsd:element minOccurs="0" name="lastViewed" type="xsd:date"/>
<xsd:element minOccurs="0" name="quotaBytesUsed" type="xsd:byte"/>
<xsd:element minOccurs="0" name="writersCanInvite" type="lib_GoogleDocs_ns:GoogleDocsConnector_SearchDocuments_document_feed_entry_writersCanInviteType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="feedLink" type="lib_GoogleDocs_ns:GoogleDocsConnector_SearchDocuments_document_feed_entry_feedLinkType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleDocsConnector_SearchDocuments_document_feedType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:GoogleDocsConnector_SearchDocuments_document_feed_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:GoogleDocsConnector_SearchDocuments_document_feed_linkType"/>
<xsd:element minOccurs="0" name="author" type="lib_GoogleDocs_ns:GoogleDocsConnector_SearchDocuments_document_feed_authorType"/>
<xsd:element minOccurs="0" name="startIndex" type="xsd:byte"/>
<xsd:element minOccurs="0" name="entry" type="lib_GoogleDocs_ns:GoogleDocsConnector_SearchDocuments_document_feed_entryType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="GoogleDocsConnector__SearchDocumentsResponseData"/>
<xsd:element name="SpreadsheetConnector__SimpleLoginWithCaptchaAnswer" type="lib_GoogleDocs_ns:SpreadsheetConnector__SimpleLoginWithCaptchaAnswerRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SpreadsheetConnector__SimpleLoginWithCaptchaAnswerResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_GoogleDocs_ns:SpreadsheetConnector__SimpleLoginWithCaptchaAnswerResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SpreadsheetConnector__SimpleLoginWithCaptchaAnswerRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>User email</xsd:appinfo>
<xsd:documentation><![CDATA[User's full email address. It must include the domain (i.e. johndoe@gmail.com).]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="password" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Password</xsd:appinfo>
<xsd:documentation><![CDATA[User's password.]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="accountType" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Google account type</xsd:appinfo>
<xsd:documentation><![CDATA[Type of account to request authorization for. Possible values are:

GOOGLE (get authorization for a Google account only)
HOSTED (get authorization for a hosted account only)
HOSTED_OR_GOOGLE (get authorization first for a hosted account; if attempt fails, get authorization for a Google account)

Use HOSTED_OR_GOOGLE if you're not sure which type of account you want authorization for. If the user information matches both a hosted and a Google account, only the hosted account is authorized. ]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="service" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Google service</xsd:appinfo>
<xsd:documentation><![CDATA[Name of the Google service you're requesting authorization for. Each service using the Authorization service is assigned a name value; for example, the name associated with Google Calendar is 'cl'. This parameter is required when accessing services based on Google Data APIs. For specific service names, refer to the service documentation.

Here the connector accesses to Spreadsheets, so the service name is "wise".]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="source" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>Application source</xsd:appinfo>
<xsd:documentation><![CDATA[Short string identifying your application, for logging purposes. This string should take the form:
"companyName-applicationName-versionID". ]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="loginToken" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>(optional) Captcha token.</xsd:appinfo>
<xsd:documentation><![CDATA[(optional) Token representing the specific CAPTCHA challenge. Google supplies this token and the CAPTCHA image URL in a login failed response with the error code "CaptchaRequired".]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="captchaString" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>(optional) Captcha answer string</xsd:appinfo>
<xsd:documentation><![CDATA[(optional) String entered by the user as an answer to a CAPTCHA challenge.]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector__SimpleLoginWithCaptchaAnswerResponseData"/>
<xsd:element name="SpreadsheetConnector__WorksheetDeleteBrokenTest" type="lib_GoogleDocs_ns:SpreadsheetConnector__WorksheetDeleteBrokenTestRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="SpreadsheetConnector__WorksheetDeleteBrokenTestResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_GoogleDocs_ns:SpreadsheetConnector__WorksheetDeleteBrokenTestResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SpreadsheetConnector__WorksheetDeleteBrokenTestRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="key" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="worksheetID" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="etag" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector__WorksheetDeleteBrokenTestResponseData"/>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_feed_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_feed_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_feed_authorType">
<xsd:sequence>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_feed_entry_editedType"/>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_feed_entry_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_feed_entry_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_feed_entry_fieldType">
<xsd:attribute name="index" type="xsd:string"/>
<xsd:attribute name="name" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_feed_entryType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="edited" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_feed_entry_editedType"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_feed_entry_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element minOccurs="0" name="content" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_feed_entry_linkType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="field" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_feed_entry_fieldType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_feedType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_feed_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_feed_linkType"/>
<xsd:element minOccurs="0" name="author" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_feed_authorType"/>
<xsd:element minOccurs="0" name="totalResults" type="xsd:byte"/>
<xsd:element minOccurs="0" name="startIndex" type="xsd:byte"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="entry" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_feed_entryType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="GoogleDocsConnector__Login" type="lib_GoogleDocs_ns:GoogleDocsConnector__LoginRequestData">
<xsd:annotation/>
</xsd:element>
<xsd:element name="GoogleDocsConnector__LoginResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_GoogleDocs_ns:GoogleDocsConnector__LoginResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="GoogleDocsConnector__LoginRequestData">
<xsd:annotation/>
<xsd:sequence>
<xsd:element name="accountType" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="source" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="service" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="password" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="username" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="GoogleDocsConnector__RetreiveDocumentList" type="lib_GoogleDocs_ns:GoogleDocsConnector__RetreiveDocumentListRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[You can get a feed containing a list of the currently authenticated user's documents



The result is a feed that lists all of that user's documents; each entry in the feed represents a document associated with the user.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GoogleDocsConnector__RetreiveDocumentListResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_GoogleDocs_ns:GoogleDocsConnector__RetreiveDocumentListResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="GoogleDocsConnector__RetreiveDocumentListRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[You can get a feed containing a list of the currently authenticated user's documents



The result is a feed that lists all of that user's documents; each entry in the feed represents a document associated with the user.
]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence/>
</xsd:complexType>
<xsd:element name="GoogleDocsConnector__SearchDocuments" type="lib_GoogleDocs_ns:GoogleDocsConnector__SearchDocumentsRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[You can search the Document List using some of the standard Google Data API query parameters. Categories are used to restrict the type of document (word processor, spreadsheet, presentation, folder, etc.) returned. The full-text query string is used to search the content of all the documents. More detailed information on parameters specific to the Documents List can be found in the Documents List Data API Reference Guide.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GoogleDocsConnector__SearchDocumentsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_GoogleDocs_ns:GoogleDocsConnector__SearchDocumentsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="GoogleDocsConnector__SearchDocumentsRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[You can search the Document List using some of the standard Google Data API query parameters. Categories are used to restrict the type of document (word processor, spreadsheet, presentation, folder, etc.) returned. The full-text query string is used to search the content of all the documents. More detailed information on parameters specific to the Documents List can be found in the Documents List Data API Reference Guide.
]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="keyword" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="usingGoogleDocsResponseData">
<xsd:sequence>
<xsd:element minOccurs="0" name="username" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="password" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="error" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="error" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="spreadsheets" type="lib_GoogleDocs_ns:spreadsheets1276876365166StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="error" type="xsd:string">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="worksheet1276876759432StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="listRow" type="lib_GoogleDocs_ns:listRow1277974986380StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="error" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="error" type="xsd:string">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="title" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="rowCount" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="colCount" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="tables1277975775484StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="table" type="lib_GoogleDocs_ns:table1277729504725StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1276867597330StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_GoogleDocs_ns:SpreadsheetConnector__ListRowsListResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[<![CDATA[A given worksheet generally contains multiple rows, each containing multiple cells. You can request data from the worksheet as a list-based feed, in which each entry represents a row.



The list feed makes some assumptions about how the data is laid out in the spreadsheet. In particular, the list feed treats the first row of the worksheet as a header row; Spreadsheets dynamically creates XML elements named after the contents of header-row cells. Users who want to provide Data API feeds should not put any data other than column headers in the first row of a worksheet.



The list feed contains all rows after the first row up to the first blank row. The first blank row terminates the data set. If expected data isn't appearing in a feed, check the worksheet manually to see whether there's an unexpected blank row in the middle of the data. In particular, if the second row of the spreadsheet is blank, then the list feed will contain no data.



A row in a list feed is as many columns wide as the worksheet itself.



This transaction retrieves a list-based feed with all the tables from the specified worksheet of the specified spreadsheet.



Each entry represents a row in the worksheet. The <title> element contains the contents of the first cell in the row, and the <content> element contains a textual representation of the data from all the other cells in the row.

Each item in the gsx namespace represents the contents of a cell in the row, with elements in the gsx namespace named after the contents of the header cells]]]]><![CDATA[>&#8212;<![CDATA[that is, the cells in the first row of the worksheet. If a particular header cell is empty, then a unique column ID is used for the gsx element name. If the header cell's content contains a space, it will be removed in the gsx element name.

]]]]><![CDATA[>
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1277729504585StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_GoogleDocs_ns:SpreadsheetConnector__HelperGetTableNumberResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[This transaction retrieves a table number by splitting table entry data from the table metafeed.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="table1277729504725StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="error" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="error" type="xsd:string">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="title" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="summary" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="worksheetName" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="transaction1277729504256StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_GoogleDocs_ns:SpreadsheetConnector__TablesListResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[<![CDATA[A table feed is a feed that allows you to treat part or all of a worksheet somewhat like a table in a database]]]]><![CDATA[>&#8212;<![CDATA[that is, as a set of structured data items.



A table feed shows data in rows, that are called records. The table shown in a table feed can be a subset of the data in the worksheet; it can even use a set of disjoint columns, and you can define multiple tables in a single worksheet. Also, table data can come from anywhere in the worksheet; a table doesn't have to start at the top left corner of the worksheet.



Tables don't exist until you explicitly create them]]]]><![CDATA[>&#8212;<![CDATA[before you can use a table feed, you have to explicitly define where the table data comes from, using the Data API.



This transaction retrieves a table feed with all the tables from the specified spreadsheet.



If there are several worksheets in the specified spreadsheet, it retrieves all tables from all worksheets.]]]]><![CDATA[>
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1276784292684StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_GoogleDocs_ns:SpreadsheetConnector__LoginResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[<![CDATA[Accesses a user's Google account.



Once the login information has been successfully authenticated, Google returns a token, which your application will reference each time it requests access to the user's account. This token reference will automatically be added by Convertigo for alla transactions executed in the same context. 



The token remains valid for a set length of time, which is defined by whichever Google service you're working with.



There are four possible responses to a login request:



    * success

    * failure, with an explanatory error code

    * invalid request, generally resulting from a malformed request

    * failure with a CAPTCHA challenge



A success response contains an authorization token labeled "Auth". This token must be included in all subsequent requests to the Google service for this account, which will be automatically done by Convertigo for every transaction executed in the same context. Authorization tokens should be closely guarded and should not be given to any other application, as they represent access to the user's account. The time limit on the token varies depending on which service issued it.



For example: 



<?xml version="1.0" encoding="ISO-8859-1"?>

<document connector="SpreadsheetConnector" context="..." contextId="..." fromcache="false" generated="Fri Jun 18 10:27:46 CEST 2010" project="lib_GoogleDocs" sequence="" signature="1276849666418" transaction="Login" version="5.0.5">

	<![CDATA[SID=DQAAAHkAAADyn8dvG5TFFMaMRRKTuPP9lm-z20JRq-MTwtjhgykgulbT0gTX39tCyc67oV5BZI7ixNFzF9KzEMcuFtyPHI0PPoBdwPYSj6jkaU597EWwPJ8h9sfth554serMEBXbEH2Fyj1I9hB8hqz5iacmDCen-xsB725nTVqPJ5kIS9buIg

	LSID=DQAAdrygerhcAA5F9fwhUi7Zaj_YgewWD9Ubvd7Z-3Y7ZfEMionrvM7AXises5Yp_5eG2FHrmmHVpuOo01AgxmWCRp2ScsawFWBywK-trw4iw1VylzaFM1ZKdWYttgjxh8ESdJpBokUnRtLPiPidRnQ4liNeC9EBal2xM16Mnvte_aWh-sbaw

	Auth=DQAAAHwAAAA5F9fwhUi7Zaj_YgewWD9Ubvd7Z-3Y7sfhkn<sdgM7AXises5Yp_5eG2FHrmmHVpu2dl5DaYiiGHSWEbMrQddfghfjfgjhKjk2yu61xtDj3Rj3Dpgpf31t-BZzXQOr45thNrxXFBpI8ceYleaAlhh0JGL6ytV2lhbLcyARA

	]]]]]]><![CDATA[><![CDATA[>

</document>





A failure response includes one or more error codes and a URL with the error message that can be displayed for the user. Please note that ClientLogin does not differentiate between a failure due to an incorrect password or one due to an unrecognized user name (for example, if the user has not yet signed up for an account). Your application needs to handle all possible error messages as appropriate.



For example:



<?xml version="1.0" encoding="ISO-8859-1"?>

<document connector="SpreadsheetConnector" context="..." contextId="..." fromcache="false" generated="Fri Jun 18 10:40:33 CEST 2010" project="lib_GoogleDocs" sequence="" signature="1276850433668" transaction="Login" version="5.0.5">

	<![CDATA[Error=BadAuthentication

	]]]]]]><![CDATA[><![CDATA[>

</document>





A failure response with a CAPTCHA challenge means that Google has decided, for whatever reason, that additional security measures should be taken. This response is accompanied by a CAPTCHA image URL and a token representing the specific CAPTCHA challenge.

To handle the challenge, the application must display the CAPTCHA image and solicit an answer from the user. To display the CAPTCHA image, use the value of CaptchaUrl returned with the failure response, prefixing it with the Google Accounts URL: "http://www.google.com/accounts/". Once the user provides an answer, resend the login request by calling again the Login transaction, this time including the CAPTCHA token (loginToken) and the user's answer (captchaString). Google validates the user's answer before authorizing access to the account. ]]]]><![CDATA[>
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1276855055963StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_GoogleDocs_ns:SpreadsheetConnector__HelperGetSpreadsheetKeyResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[This transaction retrieves a spreadsheet key by splitting spreadsheet entry data from the spreadsheet metafeed.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1277729505053StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_GoogleDocs_ns:SpreadsheetConnector__RecordsListResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[A table consists of a set of records. For a given table, you can retrieve that table's record feed to see the contents of the records.



Note that the order of items in each record is the same as the order of columns in the table definition, which may not match the order of columns in the GUI.



This transaction retrieves a table's record feed with all the records from the specified table of the specified spreadsheet.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1276867597142StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_GoogleDocs_ns:SpreadsheetConnector__HelperGetWorksheetIdResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[This transaction retrieves a worksheet ID by splitting worksheet entry data from the worksheet metafeed.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1277729505663StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_GoogleDocs_ns:SpreadsheetConnector__ListRowsListResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[<![CDATA[A given worksheet generally contains multiple rows, each containing multiple cells. You can request data from the worksheet as a list-based feed, in which each entry represents a row.



The list feed makes some assumptions about how the data is laid out in the spreadsheet. In particular, the list feed treats the first row of the worksheet as a header row; Spreadsheets dynamically creates XML elements named after the contents of header-row cells. Users who want to provide Data API feeds should not put any data other than column headers in the first row of a worksheet.



The list feed contains all rows after the first row up to the first blank row. The first blank row terminates the data set. If expected data isn't appearing in a feed, check the worksheet manually to see whether there's an unexpected blank row in the middle of the data. In particular, if the second row of the spreadsheet is blank, then the list feed will contain no data.



A row in a list feed is as many columns wide as the worksheet itself.



This transaction retrieves a list-based feed with all the tables from the specified worksheet of the specified spreadsheet.



Each entry represents a row in the worksheet. The <title> element contains the contents of the first cell in the row, and the <content> element contains a textual representation of the data from all the other cells in the row.

Each item in the gsx namespace represents the contents of a cell in the row, with elements in the gsx namespace named after the contents of the header cells]]]]><![CDATA[>&#8212;<![CDATA[that is, the cells in the first row of the worksheet. If a particular header cell is empty, then a unique column ID is used for the gsx element name. If the header cell's content contains a space, it will be removed in the gsx element name.

]]]]><![CDATA[>
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="spreadsheet1276876677604StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="error" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="worksheets" type="lib_GoogleDocs_ns:worksheets1277975747141StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="error" type="xsd:string">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="tables" type="lib_GoogleDocs_ns:tables1277975775484StepType">
<xsd:annotation/>
</xsd:element>
<xsd:element minOccurs="0" name="error" type="xsd:string">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="title" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="authorName" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="transaction1276866739463StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_GoogleDocs_ns:SpreadsheetConnector__WorksheetsListResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[A given spreadsheet may contain multiple worksheets. For each spreadsheet, there's a worksheets metafeed listing all the worksheets in that spreadsheet.



This transaction retrieves a list of worksheets in a given spreadsheet.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="spreadsheets1276876365166StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="spreadsheet" type="lib_GoogleDocs_ns:spreadsheet1276876677604StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1276854489759StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_GoogleDocs_ns:SpreadsheetConnector__SpreadsheetsListResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[Retrieves a list of the currently authenticated user's spreadsheets.



The result is a "metafeed," a feed that lists all of that user's feeds of a particular type; in this case, each entry in the feed represents a spreadsheet associated with the user.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="listRow1277974986380StepType">
<xsd:annotation/>
<xsd:sequence/>
<xsd:attribute name="title" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
<xsd:attribute name="content" type="xsd:string" use="optional">
<xsd:annotation/>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="worksheets1277975747141StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="worksheet" type="lib_GoogleDocs_ns:worksheet1276876759432StepType">
<xsd:annotation/>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1277729505428StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_GoogleDocs_ns:SpreadsheetConnector__HelperGetWorksheetIdResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[This transaction retrieves a worksheet ID by splitting worksheet entry data from the worksheet metafeed.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="transaction1276876485744StepType">
<xsd:annotation/>
<xsd:sequence>
<xsd:element minOccurs="0" name="document" type="lib_GoogleDocs_ns:SpreadsheetConnector__HelperGetListRowIdResponseData">
<xsd:annotation>
<xsd:documentation><![CDATA[This transaction retrieves a list row ID by splitting list row entry data from the list row metafeed.
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_SpreadsheetsList_document_feed_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_SpreadsheetsList_document_feed_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_SpreadsheetsList_document_feed_entry_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_SpreadsheetsList_document_feed_entry_contentType">
<xsd:attribute name="src" type="xsd:anyURI"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_SpreadsheetsList_document_feed_entry_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:anyURI"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_SpreadsheetsList_document_feed_entry_authorType">
<xsd:sequence>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_SpreadsheetsList_document_feed_entryType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_SpreadsheetsList_document_feed_entry_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element minOccurs="0" name="content" type="lib_GoogleDocs_ns:SpreadsheetConnector_SpreadsheetsList_document_feed_entry_contentType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_SpreadsheetsList_document_feed_entry_linkType"/>
<xsd:element minOccurs="0" name="author" type="lib_GoogleDocs_ns:SpreadsheetConnector_SpreadsheetsList_document_feed_entry_authorType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_SpreadsheetsList_document_feedType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_SpreadsheetsList_document_feed_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_SpreadsheetsList_document_feed_linkType"/>
<xsd:element minOccurs="0" name="totalResults" type="xsd:byte"/>
<xsd:element minOccurs="0" name="startIndex" type="xsd:byte"/>
<xsd:element minOccurs="0" name="entry" type="lib_GoogleDocs_ns:SpreadsheetConnector_SpreadsheetsList_document_feed_entryType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_WorksheetsList_document_feed_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_WorksheetsList_document_feed_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_WorksheetsList_document_feed_authorType">
<xsd:sequence>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_WorksheetsList_document_feed_entry_editedType"/>
<xsd:complexType name="SpreadsheetConnector_WorksheetsList_document_feed_entry_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_WorksheetsList_document_feed_entry_contentType">
<xsd:attribute name="src" type="xsd:anyURI"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_WorksheetsList_document_feed_entry_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:anyURI"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_WorksheetsList_document_feed_entryType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="edited" type="lib_GoogleDocs_ns:SpreadsheetConnector_WorksheetsList_document_feed_entry_editedType"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_WorksheetsList_document_feed_entry_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element minOccurs="0" name="content" type="lib_GoogleDocs_ns:SpreadsheetConnector_WorksheetsList_document_feed_entry_contentType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_WorksheetsList_document_feed_entry_linkType"/>
<xsd:element minOccurs="0" name="rowCount" type="xsd:byte"/>
<xsd:element minOccurs="0" name="colCount" type="xsd:byte"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_WorksheetsList_document_feedType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_WorksheetsList_document_feed_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_WorksheetsList_document_feed_linkType"/>
<xsd:element minOccurs="0" name="author" type="lib_GoogleDocs_ns:SpreadsheetConnector_WorksheetsList_document_feed_authorType"/>
<xsd:element minOccurs="0" name="totalResults" type="xsd:byte"/>
<xsd:element minOccurs="0" name="startIndex" type="xsd:byte"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="entry" type="lib_GoogleDocs_ns:SpreadsheetConnector_WorksheetsList_document_feed_entryType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_WorksheetAdd_document_entry_editedType"/>
<xsd:complexType name="SpreadsheetConnector_WorksheetAdd_document_entry_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_WorksheetAdd_document_entry_contentType">
<xsd:attribute name="src" type="xsd:anyURI"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_WorksheetAdd_document_entry_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:anyURI"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_WorksheetAdd_document_entryType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="edited" type="lib_GoogleDocs_ns:SpreadsheetConnector_WorksheetAdd_document_entry_editedType"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_WorksheetAdd_document_entry_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element minOccurs="0" name="content" type="lib_GoogleDocs_ns:SpreadsheetConnector_WorksheetAdd_document_entry_contentType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_WorksheetAdd_document_entry_linkType"/>
<xsd:element minOccurs="0" name="rowCount" type="xsd:byte"/>
<xsd:element minOccurs="0" name="colCount" type="xsd:byte"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_authorType">
<xsd:sequence>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_editedType"/>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_contentType">
<xsd:attribute name="src" type="xsd:anyURI"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_worksheetType">
<xsd:attribute name="name" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_headerType">
<xsd:attribute name="row" type="xsd:byte"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_optionsType">
<xsd:attribute name="allCols" type="xsd:boolean"/>
<xsd:attribute name="allRows" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_data_columnType">
<xsd:attribute name="index" type="xsd:string"/>
<xsd:attribute name="name" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entry_dataType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="column" type="lib_GoogleDocs_ns:SpreadsheetConnector_TablesList_document_feed_entry_data_columnType"/>
</xsd:sequence>
<xsd:attribute name="insertionMode" type="xsd:string"/>
<xsd:attribute name="numRows" type="xsd:byte"/>
<xsd:attribute name="startRow" type="xsd:byte"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feed_entryType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="edited" type="lib_GoogleDocs_ns:SpreadsheetConnector_TablesList_document_feed_entry_editedType"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_TablesList_document_feed_entry_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element minOccurs="0" name="summary" type="xsd:string"/>
<xsd:element minOccurs="0" name="content" type="lib_GoogleDocs_ns:SpreadsheetConnector_TablesList_document_feed_entry_contentType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_TablesList_document_feed_entry_linkType"/>
<xsd:element minOccurs="0" name="worksheet" type="lib_GoogleDocs_ns:SpreadsheetConnector_TablesList_document_feed_entry_worksheetType"/>
<xsd:element minOccurs="0" name="header" type="lib_GoogleDocs_ns:SpreadsheetConnector_TablesList_document_feed_entry_headerType"/>
<xsd:element minOccurs="0" name="options" type="lib_GoogleDocs_ns:SpreadsheetConnector_TablesList_document_feed_entry_optionsType"/>
<xsd:element minOccurs="0" name="data" type="lib_GoogleDocs_ns:SpreadsheetConnector_TablesList_document_feed_entry_dataType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TablesList_document_feedType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_TablesList_document_feed_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_TablesList_document_feed_linkType"/>
<xsd:element minOccurs="0" name="author" type="lib_GoogleDocs_ns:SpreadsheetConnector_TablesList_document_feed_authorType"/>
<xsd:element minOccurs="0" name="totalResults" type="xsd:byte"/>
<xsd:element minOccurs="0" name="startIndex" type="xsd:byte"/>
<xsd:element minOccurs="0" name="entry" type="lib_GoogleDocs_ns:SpreadsheetConnector_TablesList_document_feed_entryType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_editedType"/>
<xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_contentType">
<xsd:attribute name="src" type="xsd:anyURI"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_worksheetType">
<xsd:attribute name="name" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_headerType">
<xsd:attribute name="row" type="xsd:byte"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_optionsType">
<xsd:attribute name="allCols" type="xsd:boolean"/>
<xsd:attribute name="allRows" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_data_columnType">
<xsd:attribute name="index" type="xsd:string"/>
<xsd:attribute name="name" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TableAdd_document_entry_dataType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="column" type="lib_GoogleDocs_ns:SpreadsheetConnector_TableAdd_document_entry_data_columnType"/>
</xsd:sequence>
<xsd:attribute name="insertionMode" type="xsd:string"/>
<xsd:attribute name="numRows" type="xsd:byte"/>
<xsd:attribute name="startRow" type="xsd:byte"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_TableAdd_document_entryType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="edited" type="lib_GoogleDocs_ns:SpreadsheetConnector_TableAdd_document_entry_editedType"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_TableAdd_document_entry_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element minOccurs="0" name="summary" type="xsd:string"/>
<xsd:element minOccurs="0" name="content" type="lib_GoogleDocs_ns:SpreadsheetConnector_TableAdd_document_entry_contentType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_TableAdd_document_entry_linkType"/>
<xsd:element minOccurs="0" name="worksheet" type="lib_GoogleDocs_ns:SpreadsheetConnector_TableAdd_document_entry_worksheetType"/>
<xsd:element minOccurs="0" name="header" type="lib_GoogleDocs_ns:SpreadsheetConnector_TableAdd_document_entry_headerType"/>
<xsd:element minOccurs="0" name="options" type="lib_GoogleDocs_ns:SpreadsheetConnector_TableAdd_document_entry_optionsType"/>
<xsd:element minOccurs="0" name="data" type="lib_GoogleDocs_ns:SpreadsheetConnector_TableAdd_document_entry_dataType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_entry_editedType"/>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_entry_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_entry_contentType">
<xsd:attribute name="src" type="xsd:anyURI"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_entry_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_entry_worksheetType">
<xsd:attribute name="name" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_entry_headerType">
<xsd:attribute name="row" type="xsd:byte"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_entry_optionsType">
<xsd:attribute name="allCols" type="xsd:boolean"/>
<xsd:attribute name="allRows" type="xsd:boolean"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_entry_data_columnType">
<xsd:attribute name="index" type="xsd:string"/>
<xsd:attribute name="name" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_entry_dataType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="column" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_entry_data_columnType"/>
</xsd:sequence>
<xsd:attribute name="insertionMode" type="xsd:string"/>
<xsd:attribute name="numRows" type="xsd:byte"/>
<xsd:attribute name="startRow" type="xsd:byte"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordsList_document_entryType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="edited" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_entry_editedType"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_entry_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element minOccurs="0" name="summary" type="xsd:string"/>
<xsd:element minOccurs="0" name="content" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_entry_contentType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_entry_linkType"/>
<xsd:element minOccurs="0" name="worksheet" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_entry_worksheetType"/>
<xsd:element minOccurs="0" name="header" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_entry_headerType"/>
<xsd:element minOccurs="0" name="options" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_entry_optionsType"/>
<xsd:element minOccurs="0" name="data" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordsList_document_entry_dataType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordAdd_document_entry_editedType"/>
<xsd:complexType name="SpreadsheetConnector_RecordAdd_document_entry_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordAdd_document_entry_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordAdd_document_entry_fieldType">
<xsd:attribute name="index" type="xsd:string"/>
<xsd:attribute name="name" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_RecordAdd_document_entryType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="edited" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordAdd_document_entry_editedType"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordAdd_document_entry_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:byte"/>
<xsd:element minOccurs="0" name="content" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordAdd_document_entry_linkType"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="field" type="lib_GoogleDocs_ns:SpreadsheetConnector_RecordAdd_document_entry_fieldType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_ListRowsList_document_feed_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_ListRowsList_document_feed_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_ListRowsList_document_feed_authorType">
<xsd:sequence>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
<xsd:element minOccurs="0" name="email" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_ListRowsList_document_feed_entry_editedType"/>
<xsd:complexType name="SpreadsheetConnector_ListRowsList_document_feed_entry_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_ListRowsList_document_feed_entry_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_ListRowsList_document_feed_entryType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="edited" type="lib_GoogleDocs_ns:SpreadsheetConnector_ListRowsList_document_feed_entry_editedType"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_ListRowsList_document_feed_entry_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element minOccurs="0" name="content" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_ListRowsList_document_feed_entry_linkType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_ListRowsList_document_feedType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_ListRowsList_document_feed_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_ListRowsList_document_feed_linkType"/>
<xsd:element minOccurs="0" name="author" type="lib_GoogleDocs_ns:SpreadsheetConnector_ListRowsList_document_feed_authorType"/>
<xsd:element minOccurs="0" name="totalResults" type="xsd:byte"/>
<xsd:element minOccurs="0" name="startIndex" type="xsd:byte"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="entry" type="lib_GoogleDocs_ns:SpreadsheetConnector_ListRowsList_document_feed_entryType"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_ListRowAdd_document_entry_editedType"/>
<xsd:complexType name="SpreadsheetConnector_ListRowAdd_document_entry_categoryType">
<xsd:attribute name="scheme" type="xsd:anyURI"/>
<xsd:attribute name="term" type="xsd:anyURI"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_ListRowAdd_document_entry_linkType">
<xsd:attribute name="href" type="xsd:anyURI"/>
<xsd:attribute name="rel" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
</xsd:complexType>
<xsd:complexType name="SpreadsheetConnector_ListRowAdd_document_entryType">
<xsd:sequence>
<xsd:element minOccurs="0" name="id" type="xsd:anyURI"/>
<xsd:element minOccurs="0" name="updated" type="xsd:date"/>
<xsd:element minOccurs="0" name="edited" type="lib_GoogleDocs_ns:SpreadsheetConnector_ListRowAdd_document_entry_editedType"/>
<xsd:element minOccurs="0" name="category" type="lib_GoogleDocs_ns:SpreadsheetConnector_ListRowAdd_document_entry_categoryType"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element minOccurs="0" name="content" type="xsd:string"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="link" type="lib_GoogleDocs_ns:SpreadsheetConnector_ListRowAdd_document_entry_linkType"/>
<xsd:element minOccurs="0" name="number" type="xsd:byte"/>
<xsd:element minOccurs="0" name="value" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="usingGoogleDocs" type="lib_GoogleDocs_ns:usingGoogleDocsRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[TODO
]]></xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="usingGoogleDocsResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="response" type="lib_GoogleDocs_ns:usingGoogleDocsResponseData"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="usingGoogleDocsRequestData">
<xsd:annotation>
<xsd:documentation><![CDATA[TODO
]]></xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="psswd" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="login" type="xsd:string">
<xsd:annotation>
<xsd:appinfo>new variable</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
