Studio/projects/sample_sequencer/sample_sequencer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sample_sequencer_ns="http://www.convertigo.com/convertigo/projects/sample_sequencer" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.convertigo.com/convertigo/projects/sample_sequencer">
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence>
            <xsd:element name="context" type="sample_sequencer_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="sample_sequencer_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="sample_sequenceConnector__Default_transaction" type="sample_sequencer_ns:sample_sequenceConnector__Default_transactionRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="sample_sequenceConnector__Default_transactionResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_sequencer_ns:sample_sequenceConnector__Default_transactionResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="sample_sequenceConnector__Default_transactionRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="sample_sequenceConnector__Default_transactionResponseData"/>
    <xsd:element name="databaseConnector__SelectAllCapitals" type="sample_sequencer_ns:databaseConnector__SelectAllCapitalsRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="databaseConnector__SelectAllCapitalsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_sequencer_ns:databaseConnector__SelectAllCapitalsResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="databaseConnector__SelectAllCapitalsRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="databaseConnector__SelectAllCapitalsResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="sample_sequencer_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
                            <xsd:complexType>
                                <xsd:attribute name="CAPITAL_NAME" type="xsd:string"/>
                                <xsd:attribute name="STATE_NAME" type="xsd:string"/>
                                <xsd:attribute name="STATE_ABBREVIATION" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="databaseConnector__SelectAllCities" type="sample_sequencer_ns:databaseConnector__SelectAllCitiesRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="databaseConnector__SelectAllCitiesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_sequencer_ns:databaseConnector__SelectAllCitiesResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="databaseConnector__SelectAllCitiesRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="databaseConnector__SelectAllCitiesResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="sample_sequencer_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="row">
                            <xsd:complexType>
                                <xsd:attribute name="CITY_NAME" type="xsd:string"/>
                                <xsd:attribute name="DEPARTMENT_NAME" type="xsd:string"/>
                                <xsd:attribute name="DEPARTMENT_NUMBER" type="xsd:integer"/>
                                <xsd:attribute name="ADMINISTRATIVE_AREA_NAME" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="databaseConnector__InsertCity" type="sample_sequencer_ns:databaseConnector__InsertCityRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="databaseConnector__InsertCityResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_sequencer_ns:databaseConnector__InsertCityResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="databaseConnector__InsertCityRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="cityName" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>cityName</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="departmentName" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>departmentName</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="departmentNumber" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>departmentNumber</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="administrativeAreaName" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>administrativeAreaName</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="databaseConnector__InsertCityResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="sample_sequencer_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="databaseConnector__InsertCapital" type="sample_sequencer_ns:databaseConnector__InsertCapitalRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="databaseConnector__InsertCapitalResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_sequencer_ns:databaseConnector__InsertCapitalResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="databaseConnector__InsertCapitalRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="capitalName" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>capitalName</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stateName" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>stateName</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="stateAbbreviation" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>stateAbbreviation</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="databaseConnector__InsertCapitalResponseData">
        <xsd:all>
            <xsd:element minOccurs="0" name="error" type="sample_sequencer_ns:ConvertigoError"/>
            <xsd:element minOccurs="0" name="sql_output" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
    <xsd:element name="HTMLconnector__ListUSCities" type="sample_sequencer_ns:HTMLconnector__ListUSCitiesRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="HTMLconnector__ListUSCitiesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_sequencer_ns:HTMLconnector__ListUSCitiesResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="HTMLconnector__ListUSCitiesRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="HTMLconnector__ListUSCitiesResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_sequencer_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="capitalsList" type="sample_sequencer_ns:capitalsListTableType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="HTMLconnector__ListFrCities" type="sample_sequencer_ns:HTMLconnector__ListFrCitiesRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="HTMLconnector__ListFrCitiesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sample_sequencer_ns:HTMLconnector__ListFrCitiesResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="HTMLconnector__ListFrCitiesRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="HTMLconnector__ListFrCitiesResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_sequencer_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="prefecturesList" type="sample_sequencer_ns:prefecturesListTableType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HTMLconnector__XMLizeRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="HTMLconnector__XMLizeResponseData">
        <xsd:sequence>
            <xsd:group minOccurs="0" ref="sample_sequencer_ns:HTMLconnectorTypes"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="HTMLconnectorTypes">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sample_sequencer_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="prefecturesList" type="sample_sequencer_ns:prefecturesListTableType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="capitalsList" type="sample_sequencer_ns:capitalsListTableType"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="row_prefecturesListRowType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Num" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Departement" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Prefecture" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Region_administrative" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="capitalsListTableType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="row" type="sample_sequencer_ns:row_capitalsListRowType"/>
        </xsd:sequence>
        <xsd:attribute name="referer" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="row_capitalsListRowType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Abbreviation" type="xsd:string"/>
            <xsd:element minOccurs="0" name="State" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Capital" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="prefecturesListTableType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="row" type="sample_sequencer_ns:row_prefecturesListRowType"/>
        </xsd:sequence>
        <xsd:attribute name="referer" type="xsd:string" use="optional"/>
    </xsd:complexType>
</xsd:schema>
