Studio/projects/sampleMobileSiebel/sampleMobileSiebel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sampleMobileSiebel" targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobileSiebel" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:sampleMobileSiebel_ns="http://www.convertigo.com/convertigo/projects/sampleMobileSiebel" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobileSiebel"><xsd:include schemaLocation="sampleMobileSiebel.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="SiebelConnector__GotoViewRequest">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:SiebelConnector__GotoView">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SiebelConnector__ExecuteQueryResponse">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:SiebelConnector__ExecuteQueryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SiebelConnector__LoginResponse">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:SiebelConnector__LoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SiebelConnector__GotoViewResponse">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:SiebelConnector__GotoViewResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SiebelConnector__LoginRequest">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:SiebelConnector__Login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SiebelConnector__NewQueryRequest">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:SiebelConnector__NewQuery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SiebelConnector__NewQueryResponse">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:SiebelConnector__NewQueryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SiebelConnector__ExecuteQueryRequest">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:SiebelConnector__ExecuteQuery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SiebelConnector__InvokeMethodResponse">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:SiebelConnector__InvokeMethodResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SiebelConnector__InvokeMethodRequest">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:SiebelConnector__InvokeMethod">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sampleMobileSiebelPortType">
    <wsdl:operation name="SiebelConnector__NewQuery">
<wsdl:documentation/>
      <wsdl:input message="sampleMobileSiebel_ns:SiebelConnector__NewQueryRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileSiebel_ns:SiebelConnector__NewQueryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiebelConnector__GotoView">
<wsdl:documentation/>
      <wsdl:input message="sampleMobileSiebel_ns:SiebelConnector__GotoViewRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileSiebel_ns:SiebelConnector__GotoViewResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiebelConnector__InvokeMethod">
<wsdl:documentation/>
      <wsdl:input message="sampleMobileSiebel_ns:SiebelConnector__InvokeMethodRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileSiebel_ns:SiebelConnector__InvokeMethodResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiebelConnector__ExecuteQuery">
<wsdl:documentation/>
      <wsdl:input message="sampleMobileSiebel_ns:SiebelConnector__ExecuteQueryRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileSiebel_ns:SiebelConnector__ExecuteQueryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiebelConnector__Login">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="sampleMobileSiebel_ns:SiebelConnector__LoginRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileSiebel_ns:SiebelConnector__LoginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sampleMobileSiebelSOAPBinding" type="sampleMobileSiebel_ns:sampleMobileSiebelPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SiebelConnector__NewQuery">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobileSiebel?SiebelConnector__NewQuery"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiebelConnector__GotoView">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobileSiebel?SiebelConnector__GotoView"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiebelConnector__InvokeMethod">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobileSiebel?SiebelConnector__InvokeMethod"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiebelConnector__ExecuteQuery">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobileSiebel?SiebelConnector__ExecuteQuery"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiebelConnector__Login">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="sampleMobileSiebel?SiebelConnector__Login"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sampleMobileSiebel">
    <wsdl:port name="sampleMobileSiebelSOAP" binding="sampleMobileSiebel_ns:sampleMobileSiebelSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/sampleMobileSiebel/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
