Studio/projects/sampleMobileSiebel/sampleMobileSiebel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sampleMobileSiebel" targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobileSiebel" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:sampleMobileSiebel_ns="http://www.convertigo.com/convertigo/projects/sampleMobileSiebel" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobileSiebel"><xsd:include schemaLocation="sampleMobileSiebel.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="SiebelInvokeResponse">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:SiebelInvokeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginRequest">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:Login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SearchResponse">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:SearchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LogoffResponse">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:LogoffResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GotoViewRequest">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:GotoView">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:LoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LogoffRequest">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:Logoff">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SiebelInvokeRequest">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:SiebelInvoke">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GotoViewResponse">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:GotoViewResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SearchRequest">
    <wsdl:part name="parameters" element="sampleMobileSiebel_ns:Search">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="sampleMobileSiebelPortType">
    <wsdl:operation name="GotoView">
<wsdl:documentation/>
      <wsdl:input message="sampleMobileSiebel_ns:GotoViewRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileSiebel_ns:GotoViewResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
<wsdl:documentation/>
      <wsdl:input message="sampleMobileSiebel_ns:LoginRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileSiebel_ns:LoginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logoff">
<wsdl:documentation/>
      <wsdl:input message="sampleMobileSiebel_ns:LogoffRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileSiebel_ns:LogoffResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
<wsdl:documentation/>
      <wsdl:input message="sampleMobileSiebel_ns:SearchRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileSiebel_ns:SearchResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiebelInvoke">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <wsdl:input message="sampleMobileSiebel_ns:SiebelInvokeRequest">
    </wsdl:input>
      <wsdl:output message="sampleMobileSiebel_ns:SiebelInvokeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sampleMobileSiebelSOAPBinding" type="sampleMobileSiebel_ns:sampleMobileSiebelPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GotoView">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobileSiebel?GotoView"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobileSiebel?Login"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logoff">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobileSiebel?Logoff"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
<wsdl:documentation/>
      <soap:operation soapAction="sampleMobileSiebel?Search"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SiebelInvoke">
<wsdl:documentation><![CDATA[]]></wsdl:documentation>
      <soap:operation soapAction="sampleMobileSiebel?SiebelInvoke"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sampleMobileSiebel">
    <wsdl:port name="sampleMobileSiebelSOAP" binding="sampleMobileSiebel_ns:sampleMobileSiebelSOAPBinding">
      <soap:address location="http://localhost:18080/convertigo/projects/sampleMobileSiebel/.wsl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
