Studio/projects/sampleMobileMobTV/xsd/internal/mobtvConnector/getSummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sampleMobileMobTV_ns="http://www.convertigo.com/convertigo/projects/sampleMobileMobTV" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/sampleMobileMobTV">
    <xsd:element name="mobtvConnector__getSummary" type="sampleMobileMobTV_ns:mobtvConnector__getSummaryRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="mobtvConnector__getSummaryResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="sampleMobileMobTV_ns:mobtvConnector__getSummaryResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="mobtvConnector__getSummaryResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="sampleMobileMobTV_ns:mobtvConnector__getSummaryResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="mobtvConnector__getSummaryRequestData">
        <xsd:annotation/>
        <xsd:sequence>
            <xsd:element name="href" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>description</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="mobtvConnector__getSummaryResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sampleMobileMobTV_ns:ConvertigoError"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="movie_infos" type="sampleMobileMobTV_ns:movie_infosRecordType"/>
            <xsd:element minOccurs="0" name="synopsis" type="sampleMobileMobTV_ns:synopsisTextType"/>
            <xsd:element minOccurs="0" name="summary" type="sampleMobileMobTV_ns:summaryTextType"/>
            <xsd:element minOccurs="0" name="erreur" type="sampleMobileMobTV_ns:erreurTextType"/>
            <xsd:element minOccurs="0" name="erreurDetails" type="sampleMobileMobTV_ns:erreurDetailsTextType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="serie_docu" type="sampleMobileMobTV_ns:serie_docuRecordType"/>
            <xsd:element minOccurs="0" name="summary_serie_docu" type="sampleMobileMobTV_ns:summary_serie_docuTextType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="serie" type="sampleMobileMobTV_ns:serieRecordType"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:string"/>
        <xsd:attribute name="fromcache" type="xsd:string"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="mobtvConnector__XMLizeRequestData">
        <xsd:annotation/>
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="mobtvConnector__XMLizeResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="error" type="sampleMobileMobTV_ns:ConvertigoError"/>
            <xsd:group minOccurs="0" ref="sampleMobileMobTV_ns:mobtvConnectorTypes"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="mobtvConnectorTypes">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="movie_infos" type="sampleMobileMobTV_ns:movie_infosRecordType"/>
            <xsd:element minOccurs="0" name="synopsis" type="sampleMobileMobTV_ns:synopsisTextType"/>
            <xsd:element minOccurs="0" name="summary" type="sampleMobileMobTV_ns:summaryTextType"/>
            <xsd:element minOccurs="0" name="erreur" type="sampleMobileMobTV_ns:erreurTextType"/>
            <xsd:element minOccurs="0" name="erreurDetails" type="sampleMobileMobTV_ns:erreurDetailsTextType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="serie_docu" type="sampleMobileMobTV_ns:serie_docuRecordType"/>
            <xsd:element minOccurs="0" name="summary_serie_docu" type="sampleMobileMobTV_ns:summary_serie_docuTextType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="serie" type="sampleMobileMobTV_ns:serieRecordType"/>
            <xsd:element minOccurs="0" name="date" type="sampleMobileMobTV_ns:dateTextType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="GCH1" type="sampleMobileMobTV_ns:GCH1RecordType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="GCH2" type="sampleMobileMobTV_ns:GCH2RecordType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="TNT1" type="sampleMobileMobTV_ns:TNT1RecordType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="TNT2" type="sampleMobileMobTV_ns:TNT2RecordType"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="synopsisTextType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="referer" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="serieRecordType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="time" type="xsd:string"/>
            <xsd:element minOccurs="0" name="title" type="xsd:string"/>
            <xsd:element minOccurs="0" name="season" type="xsd:string"/>
            <xsd:element minOccurs="0" name="sum" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="referer" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="summary_serie_docuTextType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="referer" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="summaryTextType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="referer" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="movie_infosRecordType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="info" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="referer" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="GCH2RecordType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="img_chaine" type="xsd:string"/>
            <xsd:element minOccurs="0" name="nom_chaine" type="xsd:string"/>
            <xsd:element minOccurs="0" name="img_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="hour_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="name_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="sum_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="subject_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="type_prog" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="referer" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="erreurDetailsTextType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="referer" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="erreurTextType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="referer" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TNT2RecordType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="img_chaine" type="xsd:string"/>
            <xsd:element minOccurs="0" name="nom_chaine" type="xsd:string"/>
            <xsd:element minOccurs="0" name="img_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="hour_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="name_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="sum_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="subject_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="type_prog" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="referer" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="TNT1RecordType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="img_chaine" type="xsd:string"/>
            <xsd:element minOccurs="0" name="nom_chaine" type="xsd:string"/>
            <xsd:element minOccurs="0" name="img_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="hour_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="name_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="sum_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="subject_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="type_prog" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="referer" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="serie_docuRecordType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="title" type="xsd:string"/>
            <xsd:element minOccurs="0" name="season" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="referer" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="GCH1RecordType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="img_chaine" type="xsd:string"/>
            <xsd:element minOccurs="0" name="nom_chaine" type="xsd:string"/>
            <xsd:element minOccurs="0" name="img_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="hour_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="name_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="sum_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="subject_prog" type="xsd:string"/>
            <xsd:element minOccurs="0" name="type_prog" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="referer" type="xsd:string" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="dateTextType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="referer" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="sampleMobileMobTV_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="sampleMobileMobTV_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
